<div class="container-fluid addseller">
  <div class="row">
      <div class="col-sm-2 px-1 bg-white sidebar">
          <div class="py-2 sticky-top flex-grow-1">
              <seller-sidebar></seller-sidebar>
          </div>
      </div>
      <div class="col" id="main">
        <div class="new">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <br/><br/>
                        <table class="table table-hover sellerinvit">
                                <thead>
                                    <tr>
                                        
                                        <th>Customer Name</th>
                                        <th> Quantity</th>
                                        <th>Amount</th>
                                        <th>Address</th>
                                        <th>Delivery Type</th>
                                        
                                        <th>Action</th>
                                       
    
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngIf="asviewrtc.length!='0'">
                                
                                        <tr *ngFor="let user of asviewrtc ">
                                                <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                        <td>{{user.buyer_nickname}}</td>
                                        <td>{{user.cancellation_in_progress_qty}}</td>
                                        <td>{{user.cancellation_in_progress_amount}}</td>
                                        
                                        
                                        <td>{{user.address_line_1}},{{user.city}}-{{user.pincode}}</td>
                                        <ng-container *ngIf= 'user.buyer_pickup_flag == 1'> 
                                       <td>Buyer Pickup</td>
                                       </ng-container>
                                       <ng-container *ngIf= 'user.buyer_pickup_flag == 0'> 
                                        <td>Door Step</td>
                                        </ng-container>
                                        <td><button class="btn btn-primary view" (click)="sellerviewRTC(user)">View Details&nbsp;<i class="fa fa-arrow-right"></i></button></td>
                                    </tr>
                                    </ng-container>
                                    <ng-container *ngIf="asviewrtc.length=='0'">
                                        <tr>
                                            <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                            <td colspan="8">No Data Found</td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                                </table>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                

      