<p class="basiyn">Basiyn - Terms And Conditions</p>
<div class="container">
  <div class="row">
    <div class="c0l-md-12">
      <div class="terms-conditions-content">
        <br/>
        <span class="first">This Terms of Use document (“TOS”) is a legal agreement between you, the end user (“You”/“Your”), and Kann Digital Private Limited (“Kann”), the owner of all intellectual property rights in the cloud-based Catalog and Order Management Collaborative platform titled “BASIYN” (“Platform”). The TOS describes the terms on which Kann offers access to the Platform and the Services (defined below) to all end users.</span>
        
        <p class="please">PLEASE READ THE TOS CAREFULLY. YOUR ACCEPTANCE OF THIS TOS AND USE OF THE PLATFORM SHALL SIGNIFY YOUR ACCEPTANCE OF THE TOS, THE PRIVACY POLICY AVAILABLE AT www.basiyn.com/privacy-policy, AND THE OTHER WEBSITE POLICIES AS WELL AS YOUR AGREEMENT TO BE LEGALLY BOUND BY THE SAME.</p>
        <span class="first">This is a legally binding agreement and is enforceable against You. Kann may modify the terms of the TOS at any time and shall inform You of the same. You will be deemed to have accepted the revised TOS if You continue to access the Platform after the modifications become effective. If You do not agree to the terms of this TOS, please do not access or use the Platform.

          </span>
          <br/>
          <span class="first">The following are the terms and conditions on which Kann agrees to permit You to access and use the Platform and the Services:</span>
          <h5 class="heading">1. REGISTRATION

            </h5>
            <ul>
              <li>In order to access and use the Platform, You will be required to register Yourself and maintain a BASIYN account (“Account”) which will require You to furnish to Kann, certain information and details, including Your name, e-mail id, mobile number and any other information deemed necessary by BASIYN (“Account Information”). You agree to keep this information updated at all times.</li>
              <li>You shall be responsible for maintaining the confidentiality and security of the password and for all activities that occur in and through Your Account. Kann is not liable for any harm caused by, or related to the theft of, Your ID, Your disclosure of Your Account Information, or Your authorization to allow another person to access and use the Service using Your Account. However, You may be liable to Kann for the losses caused to them due to such unauthorized use.</li>
              <li>Account Dos and Don’ts: You agree to abide by the following dos and don’ts for registering and maintaining the security of Your Account:</li>
              <div class="container">
                <div class="row">
                  <ul>
                    <li class="list">You will create the Account on behalf of an entity or firm or in Your individual capacity only if You are a natural person aged 18 years or above and competent to enter into a valid and binding contract.</li>
                    <li class="list">You will not provide any false personal information to Kann.</li>
                    <li class="list">You shall ensure that the Account Information is complete, accurate and up-to-date at all times.</li>
                    <li class="list">You shall not use any other user’s Account Information or log into that user’s Account.</li>
                    <li class="list">You will not share Your password or do anything that might jeopardize the security of Your Account.</li>
                    <li class="list">On completing the registration process, You shall be entitled to access the Platform and avail of the Services.
                      </li>
                      <li class="list">Your account, ID, and password may not be transferred or sold to another party.</li>
                      <li class="list">You agree to immediately notify Kann of any unauthorized use of Your account or any other breach of security known to You.</li>
                      <li class="list">In order to ensure that Kann is able to provide high quality services, respond to customer needs, and comply with laws, You hereby consent to let Kann’s employees and agents access Your Account and records on a case-to-case basis to investigate complaints or other allegations or suspected abuse.</li>
                  </ul>
                </div>
              </div>
            </ul>
            <h5 class="heading">2.SCOPE OF SERVICES</h5>
            <ul>
              <li>Kann hereby grants You a specific, non-exclusive, non-transferrable and limited license to access and use the Platform (which is public cloud hosted client-vendor communication and colloaboration application) via the internet, and avail of the services provided by the Platform with respect to Cataloging and Communication (“Services”). Kann reserves the right to make changes to the functionality or the documentation of the Platform and the provision of Services from time to time.</li>
              <li>Kann retains all rights in the Platform and the Services, and grants You only a right to use the Platform / application as stated herein. Kann reserves all rights in its name, trademarks, copyrights and any other intellectual property.</li>
              <li>You may use the Platform and the Service for building your trade network (including Suppliers and Customers), create and share your product catalog, receive and fulfil orders against the shared products, communicate with your trade community, manage and collaborate with your staff, store print and display the data in the Service. No other use of the Platform and the Service by You shall be permitted.</li>
              <li>You may access the Platform and the Services using a single user Account via multiple access points. You may allow Your employees, agents and independent contractors to access the Platform via Your Account on Your behalf.</li>
              <li>Kann shall perform all necessary server management and maintenance services with respect to the Platform at no additional cost to You.</li>
              <li>Kann does not guarantee availability of the Platform at all times. Kann shall use reasonable efforts to make the Services available to You, at all times through the Platform. However, as the Services are provided over the Internet, data and cellular networks, the quality and availability of the same may be affected by factors outside Kann’s control. Therefore, Kann shall not be liable for non-availability of the Services at any time. Kann may try and restore access to the Platform and the Services on a best reasonable and commercially viable basis.</li>
            </ul>
            <h5 class="heading">3.USE OF SERVICES</h5>
            <ul>
              <li>The Platform is a standard off-the-shelf application. We do not provide any customization in the platform.</li>
              <li>You agree not to submit or upload to the Platform, any material that is illegal, misleading, defamatory, indecent or obscene, threatening, infringing of any third party proprietary rights, invasive of personal privacy or otherwise objectionable (collectively, “Objectionable Matter”). Kann reserves the right to adopt and amend rules for the permissible use of the Platform and the Services at any time, and You shall be required to comply with such rules. Kann reserves the right to terminate this Agreement and Your access to the Platform, without notice, if You commit any breach of this clause.
                </li>
                <li>As part of the Services, the Platform allows You to upload data / content to it. All user data uploaded or submitted by You to Your Account, shall be Your sole property. You retain all rights in the data uploaded by You to the Platform and shall remain liable for the legality, reliability, integrity, accuracy and copyright permissions thereto of such data. Kann will use commercially reasonable security measures to protect the User’s data against unauthorized disclosure or use. However, Kann does not guarantee data security. If Your data is damaged or lost, Kann will use commercially reasonable means to recover such data. You agree that You are entering into this agreement in full knowledge of the same.</li>
                <li>You shall not reverse engineer the Platform or its software or other technology, circumvent, disable or otherwise interfere with security-related features or any digital rights management mechanisms of the Platform. You will not use the Platform or the Service to (i) build a competitive product or service, (ii) make or have a product with similar ideas, features, functions or graphics of the Platform, (iii) make derivative works based on the Platform / Services; or (iv) copy any features, functions or graphics of the Platform/Services.</li>
                <li>As a registered seller, you are allowed to list item(s) for sale on the Platform in accordance with the Policies which are incorporated by way of reference in this Terms of Use. You must be legally able to sell the item(s) you list for sale on our Platform. You must ensure that the listed items do not infringe upon the intellectual property, trade secret or other proprietary rights or rights of publicity or privacy rights of third parties. Listings may only include text descriptions, graphics and pictures that describe your item for sale. All listed items must be listed in an appropriate category on the Platform.</li>
                <li>BASIYN is an intermediary as defined under the Information Technology Act, 2000. Kann does not monitor or control any data or content uploaded by You to the Platform. You agree not to use or encourage, or permit others to store, upload, modify, update or share any information that:</li>
                <div class="container">
                  <div class="row">
                    <ul>
                      <li class="list">belongs to another person and to which you do not have any right;</li>
                      <li class="list">is grossly harmful, misleading, harassing, blasphemous defamatory, indecent, obscene, pornographic, paedophilic, libellous, invasive of another’s privacy, hateful, or racially, ethnically objectionable, disparaging, relating or encouraging money laundering or gambling, invasive of personal privacy or otherwise objectionable or any data / content that is contrary to any applicable local, national, and international laws and regulations;</li>
                      <li class="list">infringes any patent, trademark, copyright or other proprietary rights;</li>
                      <li class="list">violates any law for the time being in force;</li>
                      <li class="list">results in impersonation of any person or entity, or falsely states or otherwise misrepresents your affiliation with a person or entity;</li>
                      <li class="list">is someone’s identification documents or sensitive financial information;</li>
                      <li class="list">contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer resource;</li>
                      <li class="list">hreatens the unity, integrity, defense, security or sovereignty of India, friendly relations with foreign states, or public order or causes incitement to the commission of any cognizable offence or prevents investigation of any offence or is insulting any other nation; or</li>
                      <li class="list">makes available any data / content in contravention of these TOS or applicable policies, or any data / content that You do not have a right to access, store, use or make available to third parties under any law or contractual or fiduciary relationship.</li>
                    </ul>
                  </div>
                </div>
                <li>Kann reserves the right to suspend or terminate Your access to Your Account if You cause any disruption or harm to the Kann infrastructure or to any third parties, or violate the provisions of the Information Technology Act, 2000, any applicable privacy laws or any of the applicable laws. You hereby consent to let Kann’s employees and agents access Your Account and records on a case-to-case basis to investigate complaints or other allegations or suspected abuse.
                  </li>
                <li>Transactions, Transaction Price and all commercial terms such as Delivery, Dispatch of products and/or services are as per principal to principal bipartite contractual obligations between Buyer and Seller.</li>
                <li>The free trial version of the software will be available only for the duration as defined in “Pricing” section. Please visit www.basiyn.com/pricing</li>
            </ul>
            <h5 class="heading">4.FEES</h5>
            <ul>
              <li>This is a paid version of the Platform. The Platform works on a prepaid or recharge model</li>
              <li>The Fees shall be exclusive of all applicable taxes. You may choose to pay the Fees by any of the payment options made available by Kann including, credit card, debit card, or net banking. There will be no deduction of TDS in case of use of any of the online methods for payments of Fees. If Kann changes the Fees payable, Kann shall give You advance notice of these changes via a message to the email address associated with Your Account. Kann will bill You through Your chosen payment method, from the date You opt for the paid Services option until termination. All payments are final and non-refundable. You will not be entitled to any cancellation or cooling off period after opting for the paid Services.</li>
              <li>All advance paid is non-refundable and has a validity of one year.</li>
              <li>Training and support is provided over phone and email only. If physical training is available for any locality, You can opt for this by paying Rs 5000 per 2 hour training slot in advance to the company.</li>
              <li>The Services are provided to You via the internet and data and cellular networks, relevant internet charges and network or data charges, roaming charges, etc., applicable for Your use of the internet and the data shall apply (over and above the Fees) while accessing the Platform and availing the Services. You accept responsibility for all such charges that may arise due to Your use of the Platform and the Services.</li>
              <li>Kann reserves the right to change the fees charged for any product type at any point of time without prior notice.</li>
            </ul>
            <h5 class="heading">5.INDEMNIFICATION</h5>
            <span>You shall indemnify and hold harmless, Kann, its affiliates, any third party content / networks / infrastructure providers and their respective directors, officers, personnel, contractors and agents, for and against any and all claims, losses, damages, costs and expenses arising out of, or relating to, Your use of the Platform and the Services or Your breach of the TOS or any other restrictions or guidelines provided by Kann. This indemnification obligation will survive at all times, including, Your use of the Platform and the Services.</span>
            <h5 class="heading">6.DISCLAIMER OF WARRANTIES</h5>
            <ul>
              <li><p>THE PLATFORM AND THE SERVICES ARE PROVIDED ON AN “AS-IS” AND “WITH ALL FAULTS AND RISKS” BASIS, WITHOUT WARRANTIES OF ANY KIND. KANN DOES NOT WARRANT, EXPRESSLY OR BY IMPLICATION, THE ACCURACY OR RELIABILITY OF THE PLATFORM OR THE SERVICES OR ITS SUSTAINABILITY FOR A PARTICULAR PURPOSE OR THE SAFETY/SECURITY OF THE DATA/CONTENT STORED ON THE PLATFORM BY YOU. KANN DISCLAIMS ALL WARRANTIES WHETHER EXPRESS OR IMPLIED, INCLUDING THOSE OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, OR THAT USE OF THE PLATFORM OR ANY MATERIAL THEREOF WILL BE UNINTERRUPTED OR ERROR-FREE. WITHOUT LIMITING THE GENERALITY OF THE FOREGOING, KANN DOES NOT REPRESENT OR WARRANT THAT THE PLATFORM AND THE SERVICES WILL RESULT IN COMPLIANCE, FULFILLMENT OR CONFORMITY WITH THE LAWS, REGULATIONS, REQUIREMENTS OR GUIDELINES OF ANY GOVERNMENT OR GOVERNMENTAL AGENCY.</p></li>
              <li>To the maximum extent permitted by applicable law, Kann provides no warranty on the use of the Platform and the Services, and shall not be liable for the same under any laws applicable to intellectual property rights, libel, privacy, publicity, obscenity or other laws. Kann also disclaims all liability with respect to the misuse, loss, modification or unavailability of the Platform and the Services.</li>
            </ul>
            <h5 class="heading">7. LIMITATION OF LIABILITY</h5>
            <ul>
              <li><p>YOU ASSUME THE ENTIRE RISK OF USING THE PLATFORM AND THE SERVICES. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL KANN BE LIABLE TO YOU FOR ANY SPECIAL, INCIDENTAL, INDIRECT, PUNITIVE OR CONSEQUENTIAL DAMAGES WHATSOEVER (INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF BUSINESS PROFITS, BUSINESS INTERRUPTION, LOSS OF DATA OR INFORMATION, OR ANY OTHER PECUNIARY LOSS) ARISING OUT OF THE USE OF, OR INABILITY TO USE OR ACCESS THE PLATFORM OR THE SERVICES OR FOR ANY SECURITY BREACH OR ANY VIRUS, BUG, UNAUTHORIZED INTERVENTION, DEFECT, OR TECHNICAL MALFUNCTIONING OF THE PLATFORM, WHETHER OR NOT FORESEEABLE AND WHETHER OR NOT KANN HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, OR BASED ON ANY THEORY OF LIABILITY, INCLUDING BREACH OF CONTRACT OR WARRANTY, NEGLIGENCE OR OTHER TORTIOUS ACTION, OR ANY OTHER CLAIM ARISING OUT OF, OR IN CONNECTION WITH, YOUR USE OF, OR ACCESS TO, THE SOFTWARE OR THE SERVICES. FURTHER, KANN SHALL NOT BE LIABLE TO YOU FOR ANY TEMPORARY DISABLEMENT, PERMANENT DISCONTINUANCE OF THE SERVICES BY KANN, DATA LOSS OR FOR ANY CONSEQUENCES RESULTING FROM SUCH ACTIONS.</p></li>
              <li><p>KANN’S AGGREGATE LIABILITY, IF ANY, (WHETHER UNDER CONTRACT, TORT INCLUDING NEGLIGENCE, WARRANTY OR OTHERWISE) AND THAT OF ITS AFFILIATES SHALL BE LIMITED TO THE TOTAL AMOUNT OF FEES RECEIVED FROM YOU FOR THE ONE (1) MONTH IMMEDIATELY PRECEDING THE DATE THE CLAIM WAS MADE. DAMAGES, IN THE NATURE, AND TO THE AMOUNT, PROVIDED IN THIS CLAUSE, IS THE ONLY RECOURSE THAT YOU MAY HAVE AGAINST KANN FOR BREACH BY KANN OF ANY OF ITS RIGHTS OR OBLIGATIONS HEREUNDER.</p></li>
              <li>This Platform, all the materials and products (including but not limited to software) and services, included on or otherwise made available to You through this platform are provided on "as is" and "as available" basis without any representation or warranties, express or implied except otherwise specified in writing. Without prejudice to the forgoing paragraph, Kann does not warrant that:<br/><strong>This Platform will be constantly available, or available at all; or</strong><br/><strong>The information on this Platform is complete, true, accurate or non-misleading.</strong></li>
              <li>Kann will not be liable to You in any way or in relation to the Contents of, or use of, or otherwise in connection with, the Platform. Kann does not warrant that this platform; information, Content, materials, product (including software) or services included on or otherwise made available to You through the Platform; their servers; or electronic communication sent from Us are free of viruses or other harmful components.</li>
              <li>Nothing on Platform constitutes, or is meant to constitute, advice of any kind.</li>
              <li>BASIYN is just a platform to facilitate communication and collaboration between Buyer and Seller. It does not control the flow and content of product catalog and chat. Kann is not liable for any transaction happening between Buyer and Seller (trading parties). Kann does not extend any warranty for the products being sold on the Platform. Kann is not responsible for evaluating the Product attributes such as Name, image, product-details, quality, pricing etc. being sold on the Platform. Kann is not responsible for any SLA breach or delivery failure from seller to buyer. Orders and the related transactions, including but not limited to Payments, Delivery, Returns are solely owned by the trading parties being involved; Kann is not liable for breach of any sort of commitment made and established between the trading parties</li>
            </ul>
            <h5 class="heading">8. NOTICE AND TAKEDOWN MECHANISM</h5>
            <ul>
              <li>If You are the owner of copyright in any content shared or uploaded on the Platform without Your consent, or You believe that any user of the Platform is storing, hosting, uploading or transmitting data / content, then You are required to send a written notice to the Grievance Officer at Kann providing the following information/details:</li>
              <div class="container">
                <div class="row">
                  <ul>
                    <li class="list">Description of the work with adequate information to identify the data / content;</li>
                    <li class="list">Details establishing that you are the owner or the exclusive licensee of copyright in the content;</li>
                    <li class="list">Details establishing that the copy of the content in question is an infringing copy of the content owned by You and that the allegedly infringing act is not considered as a ‘non-infringing’ act under Section 52 of the Copyright Act and is not any other act that is permitted under the Copyright Act;</li>
                    <li class="list">Details of the person, if known, who has uploaded the infringing copy of the content; and</li>
                    <li class="list">Undertaking that You shall file an infringement suit in the competent court against such person uploading the infringing copy and provide a copy of the orders so obtained to Kann within twenty one (21) days from the date of receipt of the notice by Kann.</li>
                  </ul>
                </div>
              </div>
              <li>You may also inform the Grievance Officer / Nodal Officer if any content that is in violation of the TOS.</li>
              <li>The details of the Grievance Officer and the Nodal Officer are as provided below:<br/><span class="sub">Name: Keertish Chandra Shrimali</span><br/><span class="sub">Address: #112, Harsha Landmark, Horamavu, Bangalore – 560043</span><br/><span class="sub">Email: keertish.shrimali@kanndigital.com</span></li>
              <li>If You knowingly misrepresent that any material or activity is infringing, You may be subject to legal liability. Accordingly, if You are not sure whether material available online infringes your copyright, please contact a lawyer.</li>
            </ul>
            <h5 class="heading">9.SUSPENSION AND TERMINATION</h5>
            <ul>
              <li>The Services will remain in effect until suspended or terminated under this TOS.</li>
              <li>Kann reserves the right to suspend or terminate Your Account or restrict or prohibit You access to the Platform immediately (a) if Kann is unable to verify or authenticate Your registration data, email address or other information provided by You, (b) if Kann believes that Your actions may cause legal liability for You or for Kann, or all or some of Kann’s other users, or (c) if Kann believes You have provided false or misleading registration data or other information, have not updated Your Account Information, have interfered with other users or the administration of the Services, or have violated this TOS or the Privacy Policy. You shall not be entitled to access the Platform or avail the Services if Your Account has been temporarily or indefinitely suspended or terminated by Kann for any reason whatsoever. Kann may, at any time, reinstate any suspended Account, without giving any reason for that. If You have been indefinitely suspended You shall not register or attempt to register with Kann or its affiliates / partners or use the Services in any manner whatsoever until such time that You are reinstated by Kann.</li>
              <li>In addition to the above, if (a)You do not place / receive any order, (b) You do not share or receive new products through the Platform for a continuous period of one (1) month, Kann shall be entitled to terminate Your Account irrespective of the balance amount available in Your Account. In such cases, Kann shall not be liable to refund any Fees to You.</li>
              <li>Upon termination of this TOS, Your right to access the Platform and use the Services shall immediately cease. Thereafter, You shall have no right, and Kann shall have no obligation thereafter, to execute any of the uncompleted tasks.</li>
              <li>Once the Services are terminated or suspended, any data that You may have stored on the Platform, may not be retrieved later. Kann shall be under no obligation to return the information or data to you.</li>
            </ul>
            <h5 class="heading">10.GOVERNING LAW</h5>
            <span class="first">This TOS is governed and construed in accordance with the laws of India. The courts in Bangalore alone shall have exclusive jurisdiction to hear disputes arising out of the TOS without any reference to the conflict of law provisions. The Platform is made available to You by Kann from its offices in India. You agree that: (i) the Services shall be deemed solely based in India; and (ii) the use of the Platform and the Services do not give rise to personal jurisdiction over Kann, either specific or general, in jurisdictions other than India. You agree that the laws of India, excluding India’s choice of law rules, will apply to these TOS and to the provision of Services by Kann and Your use of the same. Kann makes no representation that the Platform and the Services are appropriate or available for use at other locations outside India. Access to the Platform from jurisdictions where the Services are illegal is prohibited. Kann reserves the right to block access to the Platform by certain international users. If You access the Platform from a location outside India, You are responsible for compliance with all applicable local laws.

              </span><br/><br/>
              <span class="first">Buyer and Seller shall comply with all the applicable laws (including without limitation Foreign Exchange Management Act, 1999 and the rules made and notifications issued there under and the Exchange Control Manual as may be issued by Reserve Bank of India from time to time, Customs Act, Information and Technology Act, 2000 as amended by the Information Technology (Amendment) Act 2008, Prevention of Money Laundering Act, 2002 and the rules made thereunder, Foreign Contribution Regulation Act, 1976 and the rules made there under, Income Tax Act, 1961 and the rules made there under, Export Import Policy of government of India) applicable to them respectively for using BASIYN Platform.</span>
              <h5 class="heading">11.FORCE MAJEURE</h5>
              <span class="first">Kann shall be under no liability whatsoever in case of occurrence of a Force Majeure event, including in case of non-availability of any portion of the Platform and/or Services occasioned by act of God, war, disease, revolution, riot, civil commotion, strike, lockout, flood, fire, failure of any public utility, man-made disaster, infrastructure failure, technology outages, failure of technology integration or any other cause whatsoever, beyond the control of Kann. Further, in case of a force majeure event, Kann shall not be liable for any breach of security or loss of data uploaded by You to the Platform.</span>
              <h5 class="heading">12.WAIVER</h5>
              <span class="first">Any failure by Kann to enforce the TOS, for whatever reason, shall not necessarily be construed as a waiver of any right to do so at any time.</span>
              <h5 class="heading">13.SEVERABILITY</h5>
              <span class="first">If any of the provisions of this TOS are deemed invalid, void, or for any reason unenforceable, that part of the TOS will be deemed severable and will not affect the validity and enforceability of any remaining provisions of the TOS.</span>
              <h5 class="heading">14.ENTIRE AGREEMENT</h5>
              <span class="first">Your relationship with Kann is on a principal to principal basis and by accepting these Terms of Use you agree that Kann is a platform for all purposes, and does not have control of or liability for the products or services that are listed on BASIYN Platform. Kann does not guarantee the identity of any User nor does it ensure that a Buyer or a Seller will complete a transaction.</span>
              <br/><br/>
              <p class="first">he TOS as amended from time to time, along with the Privacy Policy and other related policies made available from time to time, constitutes the entire agreement and supersedes all prior understandings between the parties relating to the subject matter herein. If You have questions or concerns about the TOS, please contact Kann at <span class="link">admin@kanndigital.com</span></p>

      </div>
    </div>
  </div>
</div>