.basiyn{
    font-weight: 600;
    font-size: 20px;
    margin-right: 20px;
    margin-left: 25px;
    position: relative;
    color: orange;
}
.terms-conditions-content{
    border: 1px solid #ccc;
    padding-left: 20px;
    padding-right: 10px;
    height: 400px;
    overflow-y: scroll;
}
span.first {
    font-size: 16px;
}
p.please {
    margin-top: 10px;
}
h5.heading {
    color: #23A5C0;
    font-size: 19px;
    font-weight: 600;
    line-height: 2.5em;
}
span.sub {
    margin-left: 30px;
}
span.link {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}