.manage tr th, .manage tr td{
    text-align: center;
    vertical-align: middle;
}
td.action button.btn.btn-primary {
    margin-right: 4px;
    background: #2e6da4;
    border:#000;
    color: #ffffff;
    border-radius: 11px;
    font-size: 10.5px;
    width: 100px;
    padding: 4px;
    margin-bottom: 5px;
}
td.action button.btn.btn-info{
    background: #f0ad4e;
    color: #ffffff;
    border:#000;
    border-radius: 11px;
    font-size: 10.5px;
    width: 100px;
    padding: 4px;
    margin-bottom: 5px;
}


.chatbox{
    
    height:330px;
   
    padding: 16px;
}
.messages{
    height:260px;
    overflow: auto;
}
.input-container{
    height: 30px;
   width: 100%;
    vertical-align: middle;
    padding-top: 10px;
    border-top:1px solid #ccc;
}
.input-container .inputtext{
    width:calc(100% - 100px);
}
.input-container input {
    width: 85%;
    border-radius: 5px;
    padding: 5px;
}
.input-container button{
    width: 90px;
}
.right{
    text-align: right;
    padding: 0 15px;
}
.left{
    text-align: left;
}
.replyBtn{
    background: transparent; 
    position: relative;
    top: 1px;
    display: inline-block;
    outline: none !important;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    border: 0px !important;
    border-radius: 50%;
    -webkit-appearance: none !important;
}
i.fa.fa-paper-plane {
    position: relative;
    top: 1px;
    display: inline-block;
    /* font-family: 'Glyphicons Halflings'; */
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;

    background: #007bff;
    padding: 10px;
    font-size: 21px;
    border-radius: 50%;
    border: 0px !important;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #41648f;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.left:before {
    width: 0;
    height: 0;
    content: "";
    top: -6px;
    left: -9px;
    position: relative;
    border-style: solid;
    border-width: 0px 7px 8px 4px;
    border-color: #15141400 #131313 transparent transparent;
}

.right:after {
    width: 0;
    height: 0;
    content: "";
    top: 10px;
    left: 15px;
    position: relative;
    border-style: solid;
    border-width: 13px 13px 0 0;
    border-color: #a7a4a4 transparent transparent transparent;
}

.right {
    text-align: right;
    padding: 0 15px;
    vertical-align: middle;
    height: 35px;
}
.right {
    margin-top: 9px;
    width: 96%;
    border-radius: 5px;
    padding: 5px;
    background-color: #a7a4a4;
    color: black;
    height:auto;
    white-space: normal;
    word-break: break-all;
}
.left {
    margin-top: 9px;
    width: 80%;
    border-radius: 5px;
    padding: 5px;
    background-color: #0e0e0e;
    color: white;
    height:auto;
    white-space: normal;
    word-break: break-all;
}
.scrollablediv {
    height: 490px !important;
    overflow-y: scroll;
}
.topbars {
    padding: 30px 0px;
}
span.nick1 {
    color: #d58512;
    font-weight: 700;
}
span.nick {
    color: #04b152;
    font-weight: 700;
}

.applyfilt {
    display: grid;
}
.export.bar {
    margin-bottom: 0;
    padding: 12px 0px;
    border-bottom: 1px solid #007bff;
    text-align: right;
}