<div class="container-fluid addseller">
  <div class="row">
      <div class="col-sm-2 px-1 bg-white sidebar">
          <div class="py-2 sticky-top flex-grow-1">
              <app-buyer-settings></app-buyer-settings>
          </div>
      </div>

      <div class="col" id="main">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                        <div class="addseller">
                                
                                <button class="btn btn-primary features">Save</button>

                        </div>
                </div>
                </div>
                <hr class="line"/>
               
                <br/>
                <div class="row">
                    <div class="col-md-6">
                        <p class="set">Use business layout for placing orders</p>
                    </div>
                    <div class="col-md-6">
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                          </label>
                    </div>
                </div>
        </div>
        </div>
    </div>
</div>
