button.btn.btn-primary.features {
    background-color: #01205E;
    font-size: 15px;
    font-weight: 600;
    display: block;
    width:16%;
    float:right;
    margin-top: 10px;
    border-radius: 30px;
} 
table.table.table-hover.sellerinvit tr th {
    font-size: 13px;
    text-align: center;
    border: 1px solid #ccc;
    vertical-align: left;
       
}
td.sellerprof img {
    width: 70px;
    border-radius:50%;
    height: 70px;
}
table.table.table-hover.sellerinvit td {
    font-size: 12px;
    text-align: center;
}
table.table.table-hover.sellerinvit tr td {
    vertical-align: middle;
}