<div class="container-fluid addseller">
  <div class="row">
      <div class="col-sm-2 px-1 bg-white sidebar">
          <div class="py-2 sticky-top flex-grow-1">
              <app-sidebar></app-sidebar>
          </div>
      </div>
      <div class="col" id="main">
          <div class="new">
              <div class="container">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="addseller">

                              
                              <button class="btn btn-primary features" (click)="requestcatalog()">Request Catalog</button>
                          </div>
                      </div>
                    </div>
                      <hr class="line"/>
                      <div class="row">
                      <div class="col-md-12">
                        <br/>
                          <table class="table table-hover sellerinvit">
                              <thead>
                                  <tr>
                                      <th style="text-align: left;" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=": activate to sort column ascending">
                                          <input type="checkbox" class="checkeAll1" name="select_all" id="checkAll">
                                      </th>
                                      <th>Seller Image </th>
                                      <th> Seller Name</th>
                                      <th>Mobile</th>
                                      <th>Address</th>
                                     

                                  </tr>
                              </thead>
                              <tbody>
                                  <ng-container *ngIf="asreqselforcat!=0">
                                    <tr *ngFor="let user of asreqselforcat ">
                                            <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                            <td style="text-align: left;" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=": activate to sort column ascending"><input type="checkbox" value="{{user.id}}" class="checkeAll" name="select_all" id="checkAll" ></td>
                                            <td class="sellerprof">
                                                    <img [src]='user.profile_image'>
                                            </td>
                                            <td>{{user.seller_nickname}}</td>
                                            <td>{{user.mobile}}</td>
                                            <td>{{user.address_line_1}},{{user.state}},{{user.city}},{{user.pincode}}</td>
                                    </tr>
                                    </ng-container>
                                    <ng-container *ngIf="asreqselforcat==0">
                                        <tr>
                                            <td colspan="10"> No Data Found</td></tr>
                                        </ng-container>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>

