<div class="container-fluid addseller">
    <div class="row">
        <div class="col-sm-2 px-1 bg-white sidebar">
            <div class="py-2 sticky-top flex-grow-1">
                <seller-sidebar></seller-sidebar>
            </div>
        </div>
        <div class="col" id="main">
            

                <div class="new">
            <!--table start-->
            <div class="container">

                <!--filter category -->
                <div class="row">
                    <div class="col-md-8">
                <nav>
                        <ul class="nav">
                          <li><a>Category</a>
                            <ul>
                              <li><a href="#">item</a></li>
                              <li><a href="#">item</a></li>
                              <li><a href="#">item</a></li>
                              <li><a href="#">item</a></li>
                            </ul>
                          </li>
                          <li id="datesel" (click)="seldate()">Date Added</li>
                          <li id="brand" (click)="selbrand()">Brand</li>
                        </ul>
                        
                      </nav>
                      </div>
                      <div class="col-md-4">
                      
                      <div class="managdel" (click)="deletebuyproduct()">Delete</div>
                        </div>
                        </div>
                     
                <!--filter category end-->




                <!--search bar-->
                    <div class="searchbar">
                            <div class="search">
                               <input type="text" class="searchTerm" placeholder="What are you looking for?">
                               <button type="submit" class="searchButton">
                                 <i class="fa fa-search"></i>
                              </button>
                            </div>
                         </div>
                         <!--search bar end-->

                    <table class="table table-responsive table-striped manage">
                        <thead>
                            <tr>
                                    <th style="text-align: left; ;" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=": activate to sort column ascending"><input type="checkbox" value="1" class="checkeAll" name="select_all" id="checkAll" ></th>
                                <th>Product Image</th>
                                <th>Product Name</th>
                                <th>Category</th>
                                <th>Seller Name</th>
                                <th>Price</th>
                                <th>Days to Deliver</th>
                                <th>Variant 1</th>
                                <th>Variant 2</th>
                                <!-- <th>Action</th> -->
                            </tr>
                        </thead>
                        
                        <tbody>
                                <td colspan="8" *ngIf="loadingnew" style="text-align: center;"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                            <tr  *ngFor="let employee of buyerproducts">
                                    <td style="text-align: left; ;" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=": activate to sort column ascending"><input type="checkbox" value="{{employee.buyer_product_id}}" class="sellerinv" name="select_all" id="singlecheck"  ></td>
                                <td class="mangtd"><img [src]=employee.landing_image></td>
                                <td class="mangtd">{{employee.master_product_name}}</td>
                                <td class="mangtd">{{employee.product_category}}</td>
                                <td></td>
                                
                                <td class="mangtd">
                                        <form #form="ngForm" (ngSubmit)="logForm(form.value)">
                                    <tr class="price">
                                        
                                            <td class="mrp1">
                                                    <label>MRP:</label>
                                                    <input type="text" [(ngModel)]="employee.sales_mrp" [disabled]="!employee.isEditable" name="sales_mrp"  class="mrp"/>
                                                  </td>
                                    </tr>
                                    <tr>
                                            <td class="selling ">
                                                    <label>Selling:</label>
                                                    <input type="text" [(ngModel)]="employee.sell_price" [disabled]="!employee.isEditable" name="sell_price" class="mrp" />
                                                  </td>
                                                
                                    </tr>
                                </form>
                                </td>
                                <td class="mangtd">{{employee.days_to_deliver}}</td>
                                <td class="mangtd">{{employee.varient1_count}}</td>
                                <td class="mangtd">{{employee.varient2_count}}</td>
                                <!-- <td class="mangtd">
                                        <ng-container *ngIf="employee.sales_mrp_status=='true'"> <button (click)="employee.isEditable=!employee.isEditable" *ngIf="!employee.isEditable"  class="btn btn-primary edit">
                                       Edit </button></ng-container>
                                    <button type="submit" *ngIf="employee.isEditable" (click)="employee.isEditable=!employee.isEditable" class="btn btn-success success" (click)="submit(employee)">Save</button>
                                    <button class="btn btn-primary details"><a  class="view" [routerLink]="['/view-details']" >View details</a></button>
                                </td> -->
                            </tr>


                        </tbody>
                    
                       
                    </table>
                    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                            <li [ngClass]="{disabled:pager.current_page === 1}">
                                <a (click)="setPage(1)">First</a>
                            </li>
                            <li [ngClass]="{disabled:pager.current_page === 1}">
                                <a (click)="setPage(pager.current_page - 1)">Previous</a>
                            </li>
                            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.current_page === page}">
                                <a (click)="setPage(page)">{{page}}</a>
                            </li>
                            <li [ngClass]="{disabled:pager.current_page === pager.totalPages}">
                                <a (click)="setPage(pager.current_page + 1)">Next</a>
                            </li>
                            <li [ngClass]="{disabled:pager.current_page === pager.totalPages}">
                                <a (click)="setPage(pager.totalPages)">Last</a>
                            </li>
                        </ul>
          
            </div>
            </div>
          </div>
          </div>
          </div>
        

          <!--category modal-->
          <div  id="seldate"  role="dialog" class="modal fade">
                <div class="modal-dialog">
                
                  <!-- Modal content-->
                  <div class="modal-content">
                    
                    <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <div class="row">
                                <div class="col-md-6">
                                        <label class="from">From:</label>
                                        <input type="date" name="bday" class="from">
                                    </div>
                                    <div class="col-md-6">
                                            <label class="from">To:</label>
                                            <input type="date" name="bday" class="from">
                                        </div>
                                </div>
                            
                          
                            <button type="submit" class="datesub" (click)="datefilter()">Apply</button>
                    </div>
                  
                  </div>
                  
                </div>
              </div>
          <!-- category modal end-->


          <!--brand modal start-->
          <div  id="selbrand"  role="dialog" class="modal fade">
                <div class="modal-dialog">
                
                  <!-- Modal content-->
                  <div class="modal-content">
                    
                    <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <div class="row">
                               <div class="col-md-1">
                                    <input type="checkbox" name="vehicle1" value="Bike">
                                   </div>
                                   <div class="col-md-10">
                                       ashrivad
                                       </div>
                                </div>
                            <button type="submit" class="datesub" (click)="brandfilter()">Apply</button>
                    </div>
                  
                  </div>
                  
                </div>
              </div>
          <!--brand modal end-->
          