.mrp{
    border: 0;
    background: transparent;
    border-bottom: 1px solid #ccc;
    text-align: center;
    margin-bottom: 5px;
    display: inline-block;
    vertical-align: bottom;
    width: 90px;
    padding: 0;
    /* outline: none; */
}
table.table.table-responsive.table-striped.manage tr th {
  font-size: 13px;
  width: 15%;
}
td.mrp1 label {
  display: inline-block;
  margin: 0;
}
input.mrp.ng-pristine.ng-valid.ng-touched {
    outline: none;
    border: 0;
    border-bottom: 1px solid #ccc;
 
}

td.mrp1 {
    /* border: none !important; */
    border-top: 0 !important;
    padding: 0;
}
td.selling{
    border: 0 !important;
    display: flex;
    vertical-align: middle;
    padding: 0;
}
table.table.table-responsive.manage th {
    border: 1px solid #ccc;
    vertical-align: middle;
    text-align: center;
}
table.table.table-responsive.manage tr td.mangtd {
    text-align: center;
    vertical-align: middle;
}
tr.price {
    background: transparent !important;
}

button.btn.btn-primary.edit {
    background: #34bfa3;
    color: #ffffff;
    border-radius: 11px;
    font-size: 10.5px;
    width: 100px;
    padding: 4px;
    margin-bottom: 5px;
}
button.btn.btn-success.success {
    background: green;
    color: #ffffff;
    border-radius: 11px;
    font-size: 10.5px;
    width: 100px;
    padding: 4px;
    margin-bottom: 5px;
}
button.btn.btn-primary.details {
    background: #2f5597;
    color: #ffffff;
    border-radius: 11px;
    font-size: 10.5px;
    width: 100px;
    padding: 4px;
}
.view {
    color: white;
    text-decoration: none;
}

/*search code*/
.search {
    width: 100%;
    position: relative
  }
  
  .searchTerm {
    float: left;
    width: 100%;
    border: 3px solid #00B4CC;
    padding: 5px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    position: absolute;  
    right: -35px;
    width: 40px;
    height: 40px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .searchbar {
    padding: 50px 0px 70px 0px;
    width: 40%;
}
@media only screen and (max-width: 767px) {
    .searchbar {
        padding: 50px 0px 70px 0px;
        width: 80%;
    }
}
/*search code end */

/*filter menu style*/
nav {    
    display: block;
    
  }
  nav ul {
    margin: 0;
    padding:0;
    list-style: none;
  }
  .nav a {
    display:block; 
    background: #111; 
    color: #fff; 
    text-decoration: none;
    padding: 0.8em 1.8em;
    text-transform: uppercase;
    font-size: 80%;
    letter-spacing: 2px;
    text-shadow: 0 -1px 0 #000;
    position: relative;
  }
  .nav{  
    vertical-align: top; 
    display: inline-block;
    box-shadow: 
      1px -1px -1px 1px #000, 
      -1px 1px -1px 1px #fff, 
      0 0 6px 3px #fff;
    border-radius:6px;
  }
  .nav li {
    position: relative;
  }
  .nav > li { 
    float: left; 
    border-bottom: 4px #aaa solid; 
    margin-right: 1px; 
  } 
  .nav > li > a { 
    margin-bottom: 1px;
    box-shadow: inset 0 2em .33em -0.5em #555; 
  }
  .nav > li:hover, 
  .nav > li:hover > a { 
    border-bottom-color: orange;
  }
  .nav li:hover > a { 
    color:orange; 
  }
  .nav > li:first-child { 
    border-radius: 4px 0 0 4px;
  } 
  .nav > li:first-child > a { 
    border-radius: 4px 0 0 0;
  }
  .nav > li:last-child { 
    border-radius: 0 0 4px 0; 
    margin-right: 0;
  } 
  .nav > li:last-child > a { 
    border-radius: 0 4px 0 0;
  }
  .nav li li a { 
    margin-top: 1px;
  }

  .nav li a:first-child:nth-last-child(2):before { 
    content: ""; 
    position: absolute; 
    height: 0; 
    width: 0; 
    border: 5px solid transparent; 
    top: 50% ;
    right:5px;  
   }

   /* submenu positioning*/
.nav ul {
    position: absolute;
    white-space: nowrap;
    border-bottom: 5px solid  orange;
    z-index: 1;
    left: -99999em;
  }
  .nav > li:hover > ul {
    left: auto;
    margin-top: 5px;
    min-width: 100%;
  }
  .nav > li li:hover > ul { 
    left: 100%;
    margin-left: 1px;
    top: -1px;
  }
  /* arrow hover styling */
  .nav > li > a:first-child:nth-last-child(2):before { 
    border-top-color: #aaa; 
  }
  .nav > li:hover > a:first-child:nth-last-child(2):before {
    border: 5px solid transparent; 
    border-bottom-color: orange; 
    margin-top:-5px
  }
  .nav li li > a:first-child:nth-last-child(2):before {  
    border-left-color: #aaa; 
    margin-top: -5px
  }
  .nav li li:hover > a:first-child:nth-last-child(2):before {
    border: 5px solid transparent; 
    border-right-color: orange;
    right: 10px; 
  }
  li#datesel, li#brand, li#cat {
    display: block;
    background: #111;
    color: #fff;
    text-decoration: none;
    padding: 0.8em 1.8em;
    text-transform: uppercase;
    font-size: 80%;
    letter-spacing: 2px;
    text-shadow: 0 -1px 0 #000;
    position: relative;
    box-shadow: inset 0 2em 0.33em -0.5em #555;
    cursor: pointer;
}
  /*filter menu style end*/

  .fade:not(.show){
      opacity: 1;
  }
  label.from {
    display: block;
}
input.from {
    width: 100%;
    border: 1px solid #ccc;
}
div#seldate, div#selbrand {
    top: 113px;
    width: 451px;
    margin: 0 auto;
}
.datesub{
background: #34bfa3;
color: #ffffff;
border-radius: 11px;
font-size: 12.5px;
width: 100px;
padding: 4px;
margin-top: 5px;
}

.managdel {
    background: #dc3545;
    color: #ffffff;
    border-radius: 11px;
    font-size: 10.5px;
    width: 100px;
    padding: 9px;
    text-align: center;
    margin: 0 auto;
}
.new {
    padding: 20px 0px;
} 
td.mangtd img {
  width: 60px;
}