.iconabout {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    display: inline-block;
    margin: 15px;
    padding: 20px;
    position: relative;
    border: 5px solid;
}
.iconabout img {
    max-width: 100%;
}
.container.knowmore .col-md-2 {
    text-align: center;
}
.circle-container {
    position: relative;
    width: 44em;
    height: 40em;
    padding: 2.8em;
    margin: auto;
}
.circle-container a {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4em;
    height: 4em;
    margin: -2em;
}
/* a.center{
    width: 35%;
    height: 37%;
    top: 36%;
    left: 37%;
} */
.circle-container img {
    display: block;
    width: 100%;
}
.deg0 {
    transform: translate(12em);
}
.deg45 {
    transform: rotate(45deg) translate(12em) rotate(-45deg);
}
.deg90 {
    transform: rotate(90deg) translate(12em) rotate(-90deg);
}
.deg135 {
    transform: rotate(135deg) translate(12em) rotate(-135deg);
}
.deg180 {
    transform: translate(-12em);
}
.deg225 {
    transform: rotate(225deg) translate(12em) rotate(-225deg);
}
.deg270 {
    transform: rotate(270deg) translate(12em) rotate(-270deg);
}
.deg315 {
    transform: rotate(315deg) translate(12em) rotate(-315deg);
}
.circle-container p {
    display: block;
    text-align: center;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10em;
    height: 6em;
    margin: -2em;
    font-size: 12px;
    font-weight: 500;
}
.pdeg0 {
    transform: translate(20em);
}
.pdeg45 {
    transform: rotate(45deg) translate(21em) rotate(-45deg);
}
.pdeg90 {
    transform: rotate(100deg) translate(20em) rotate(-100deg);
}
.pdeg135 {
    transform: rotate(137deg) translate(22em) rotate(-137deg);
}
.pdeg180 {
    transform: translate(-25em);
}
.pdeg225 {
    transform: rotate(227deg) translate(22em) rotate(-227deg);
}
.pdeg270 {
    transform: rotate(264deg) translate(20em) rotate(-264deg);
}
.pdeg315 {
    transform: rotate(318deg) translate(20em) rotate(-318deg);
}
@media only screen and (max-width: 750px){
.circle-container .center {
    width: 35% !important;
    height: 34% !important;
    top: 39% !important;
    left: 38% !important;
}
.container.secondrownew {
    padding-bottom: 430px;
}
}
@media only screen and (max-width: 750px){
.circle-container a {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2em !important;
    height: 2em !important;
    margin: -2em;
}
}
@media only screen and (max-width: 750px){
    .deg0 { transform: translate(6em) !important; } /* 12em = half the width of the wrapper */
    .deg90 { transform: rotate(90deg) translate(6em) rotate(-90deg) !important; }
    .deg45 { transform: rotate(45deg) translate(6em) rotate(-45deg) !important; }
    .deg135 { transform: rotate(135deg) translate(6em) rotate(-135deg) !important; }
    .deg180 { transform: translate(-5em) !important; }
    .deg225 { transform: rotate(225deg) translate(6em) rotate(-225deg) !important; }
    .deg270 { transform: rotate(270deg) translate(6em) rotate(-270deg) !important; }
    
    .deg315 { transform: rotate(315deg) translate(6em) rotate(-315deg) !important; }
     /*  This is for p values */
    .pdeg0{ transform: rotate(-7deg) translate(12em) rotate(7deg) !important }
    .pdeg45 { transform: rotate(45deg) translate(12em) rotate(-45deg) !important }
    .pdeg90 { transform: rotate(110deg) translate(15em) rotate(-110deg) !important }
    .pdeg135 { transform: rotate(150deg) translate(19em) rotate(-150deg) !important}
    .pdeg180 { transform: rotate(5deg) translate(-19em) rotate(-5deg) !important }
    .pdeg225 { transform: rotate(217deg) translate(20em) rotate(-217deg) !important }
    .pdeg270 { transform: rotate(257deg) translate(18em) rotate(-257deg) !important; }
    .pdeg315 { transform: rotate(309deg) translate(14em) rotate(-309deg) !important; }

.circle-container{
    width: 22em !important;
    height:25em !important;
    padding: 2.8em;
    margin: auto;
}

.circle-container img{
        display: block;
}

.circle-container .center{
        width: 35% !important;
   height: 34% !important;
   top: 39% !important;
   left: 38% !important;
}

.circle-container a {
   display: block;
   overflow: hidden;
   position: absolute;
   top: 50%; left: 50%;
   width: 2em !important; height: 2em !important;
   margin: -2em; /* 2em = 4em/2 */ /* half the width */
}

.circle-container p{
   display: block;
   text-align: center;
   overflow: visible !important;
   position: absolute;
   top:50%; left: 50%;
   width: 8em !important; height: 3em !important;
   margin: -2em;
   font-size: 9px !important;
   line-height: 9px;
}
}

@media (max-width: 640px){
    .circle-container p{
        display: block;
        text-align: center;
        overflow: visible !important;
        position: absolute;
        top:50%; left: 50%;
        width: 8em !important; height: 3em !important;
        margin: -2em;
        font-size: 8px !important;
        line-height: 9px;
    }
    
    .deg270 {
        transform: rotate(274deg) translate(6em) rotate(-274deg) !important;
     }
    
     .deg180 {
        transform: rotate(-5deg) translate(-5em) rotate(5deg) !important;
    }
    
    .pdeg0 {
        transform: rotate(-5deg) translate(15em) rotate(5deg) !important;
    }
    
    .pdeg90 {
        transform: rotate(105deg) translate(14em) rotate(-105deg) !important;
    }
    
    .pdeg270 {
        transform: rotate(262deg) translate(18em) rotate(-262deg) !important;
    }
    .pdeg315 {
        transform: rotate(309deg) translate(15em) rotate(-309deg) !important;
    }
    
}


@media only screen and (max-width: 320px){
.circle-container p{
	display: block;
	text-align: center;
	overflow: visible !important;
	position: absolute;
	top:50%; left: 50%;
	width: 8em !important; height: 4em !important;
	margin: -2em;
	font-size: 6px !important;
	line-height: 7px;
}

.pdeg0{ transform: rotate(-9deg) translate(17em) rotate(9deg) !important; }
.pdeg45 { transform: rotate(45deg) translate(17em) rotate(-45deg) !important; }
.pdeg90 { transform: rotate(105deg) translate(18em) rotate(-105deg) !important }
.pdeg135 { transform: rotate(150deg) translate(26em) rotate(-150deg) !important}
.pdeg180 { transform: rotate(5deg) translate(-24em) rotate(-5deg) !important }
.pdeg225 { transform: rotate(217deg) translate(27em) rotate(-217deg) !important }
.pdeg270 { transform: rotate(257deg) translate(22em) rotate(-257deg) !important; }
.pdeg315 { transform: rotate(309deg) translate(21em) rotate(-309deg) !important; }
}
.sellerbox {
    border: 1px solid;
    padding: 10px;
    box-shadow: 1px 1px 6px 4px #ccc;
    height: 285px;
}

.sellerbox:hover {
    transform: scale(1.1);
}
.sellerbox {
    transition: all .5s ease-in-out;
}
.container.firstrow, .container.secondrow {
    margin-bottom: 25px;
}
.sellerbox img {
    margin: 0 auto;
    display: block;
}
h2.benefits {
    text-align: center;
    padding: 50px 0px;
    color: #3F51B5;
}
.sellerbox h4 {
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
}
.sellerbox p{
    text-align: justify;
}
.container.firstrow h2 {
    text-align: center;
    color: #26a040;
    padding: 40px 0px;
}
h1.basiynfeat {
    padding: 20px 0;
    color: #26a040;
    text-align: center;
    font-size: 30px;
}
h2.customerbasiyn {
    text-align: center;
    color: #3F51B5;
    font-size: 30px;
    padding: 20px 0;
}
.col-md-6 button.btn.btn-primary.features, .col-md-6 button.btn.btn-primary.benefits {
    padding: 15px 30px;
    font-size: 20px;
    text-shadow: none;
    margin-top: 30px;
    display: block;
    min-width: 210px;
    text-align: center;
    margin: 0 auto;
    border-radius: 30px;
}
.col-md-6 button.btn.btn-primary.features{
    
    background-color: #26a040;
    border-color: transparent;
}
.col-md-6 button.btn.btn-primary.benefits{
    
    background-color: #3F51B5;
    border-color: transparent;
}
@media only screen and (min-width: 900px) {
    .col-md-6 button.btn.btn-primary.benefits{
        float: left;
    }
    .col-md-6 button.btn.btn-primary.features{
        float: right;
    }
    
}

@media only screen and (min-width: 750px) {
    .container.secondrownew {
        padding-bottom: 200px;
    }
}
.box {
    text-align: center;
    
    float: left;
  
}
.box .useborder {
    border-bottom: #26a040 3px solid;
    border-left: #26a040 3px solid;
    border-right: #26a040 3px solid;
    min-height: 120px;
}
.box p {
    margin-top: 12px;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 23px;
}
.box h4 {
    color: #fff;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
    font-size: 14px;
    margin: 0;
}
.box img {
    width: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
}
h2.sellerbasiyn {
    text-align: center;
    padding-top: 50px;
    text-transform: capitalize;
    color: #26a040;
    font-size: 30px;
}
h4.boost span {
    color: #26a040;
}

h4.boost {
    text-align: center;
    padding-bottom: 40px;
}
.container.butns {
    padding: 40px 0px;
}