<div class="container knowmore">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
                <div class="iconabout" style="border-color: #02abf9"><img src="assets/knowmore/P1.png"></div>
                <h4>Your Connects</h4>
                <p>Connect directly with Sellers and Customers of your choice and make your own Bazaar</p>
        </div>
        <div class="col-md-2">
                <div class="iconabout" style="border-color:#f79125;"><img src="assets/knowmore/P2.png"></div>
                <h4>Buy, Sell, Both</h4>
                <p>Enjoy buying, selling, or both from the same platform</p>
        </div>
        <div class="col-md-2">
                <div class="iconabout" style="border-color:#26a040;"><img src="assets/knowmore/P3.png"></div>
                <h4>For Everyone</h4>
                <p>BASIYN is for EVERYONE LITERALLY</p>
        </div>
        <div class="col-md-2">
                <div class="iconabout" style="border-color:#ffe605;"><img src="assets/knowmore/P4new.png"></div>
                <h4>Just One</h4>
                <p>Single place for all the product categories of your interest</p>
        </div>
        <div class="col-md-2">
                <div class="iconabout" style="border-color:#3F51B5;"><img src="assets/knowmore/P5.png"></div>
                <h4>Driven By Trust</h4>
               <p> For the ones who believe in trust and relationship – because no one can offer you a better price than your known and trusted sellers</p>
        </div>
        <div class="col-md-1"></div>
    </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
        <button class="btn btn-primary features">I am  seller</button>
        </div>
        <div class="col-md-6">
        <button class="btn btn-primary benefits">I am a Customer</button>
        </div>
        </div>

        <h2 class="sellerbasiyn">If you are a Seller</h2>
<h4 class="boost"><span>Boost your sales</span> by converting every shopper into a <span>permanent customer</span></h4>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                    <div class="box">
                            <h4 style="background: #3F51B5;">For You</h4>
              
              
                            <div class="useborder" style="border-color: #f79125"><img src="assets/images/P31.png"></div>
                            <p>Whatever category your product belongs to, you can use BASIYN.</p>
                          </div>
                          </div>
        
            <div class="col-md-2">
                    <div class="box">
                            <h4 style="background: #f79125;">Your Customer</h4>
              
              
                            <div class="useborder" style="border-color: #f79125"><img src="assets/images/P32.png"></div>
                            <p>Add mobile no. of your customer to establish direct connect between you and your customer.</p>
                          </div>
            </div>
            <div class="col-md-2">
                    <div class="box">
                            <h4 style="background: #26a040;">Engage Customer</h4>
              
                            <div class="useborder" style="border-color: #26a040"><img src="assets/images/P33.png"></div>
                            <p>Offering discount and adding new products trigger instant notification to your customers and keep them engaged.</p>
                          </div>
            </div>
            <div class="col-md-2">
                    <div class="box">
                            <h4 style="background: #f70d04; ">Receive Orders</h4>
              
                            <div class="useborder" style="border-color: #f70d04"><img src="assets/images/P34.png"></div>
                            <p>Your customers can see your products with complete details and can place orders</p>
                          </div>
            </div>
            <div class="col-md-2">
                    <div class="box" id="lastbox1" style="margin: 0px 0px 0px 0px">
                            <h4 style="background: #848383; ">Increase Sales</h4>
              
                            <div class="useborder" style="border-color: #848383"><img src="assets/images/P35.png"></div>
                            <p>This boosts your sales by converting every shopper into a permanent customer</p>
                          </div>
            </div>
            <div class="col-md-1"></div>
            </div>

            <div class="container butns">
                    <div class="row">
                            <div class="col-md-6">
                        <button class="btn btn-primary features" style="background-color: #8a04f7;">Features</button>
                        </div>
                        <div class="col-md-6">
                        <button class="btn btn-primary benefits" style="background-color: #8a04f7;">Benfits</button>
                        </div>
                        </div>
                </div>


            <!--if u r customer-->
            <h2 class="sellerbasiyn">If you are a Seller</h2>
<h4 class="boost"><span>Boost your sales</span> by converting every shopper into a <span>permanent customer</span></h4>

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                    <div class="box">
                            <h4 style="background: #3F51B5;">Your Seller</h4>
              
              
                            <div class="useborder" style="border-color: #f79125"><img src="assets/images/P41.png"></div>
                            <p>Add Sellers of Your Choice by adding their mobile numbers or accepting their invitations to directly connect with your sellers</p>
                          </div>
                          </div>
        
            <div class="col-md-2">
                    <div class="box">
                            <h4 style="background: #f79125;">Instant Updates</h4>
              
              
                            <div class="useborder" style="border-color: #f79125"><img src="assets/images/P42.png"></div>
                            <p>Receive instant updates of Product Addition & Discount from your connected seller</p>
                          </div>
            </div>
            <div class="col-md-2">
                    <div class="box">
                            <h4 style="background: #26a040;">Smart Buying</h4>
              
                            <div class="useborder" style="border-color: #26a040"><img src="assets/images/P43.png"></div>
                            <p>Discover products of the connected sellers in structured manner, make informed purchase decisions, and place orders with utmost ease</p>
                          </div>
            </div>
            <div class="col-md-2">
                    <div class="box">
                            <h4 style="background: #f70d04; ">personalized</h4>
              
                            <div class="useborder" style="border-color: #f70d04"><img src="assets/images/P44.png"></div>
                            <p>Experience personalized shopping by customizing the way you like to see the products and removing the ones that are not required</p>
                          </div>
            </div>
            <div class="col-md-2">
                    <div class="box" id="lastbox1" style="margin: 0px 0px 0px 0px">
                            <h4 style="background: #848383; ">One For All</h4>
              
                            <div class="useborder" style="border-color: #848383"><img src="assets/images/P45.png"></div>
                            <p>Single platform for all the product categories of your interest. Fashion, Grocery, Electronics, Fruits & Vegetables, Medicine, Home Furnishing are just to name few</p>
                          </div>
            </div>
            <div class="col-md-1"></div>
            </div>
            <!--end customer-->
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6" style="margin: 30px 0px;">
            <button class="btn btn-primary features" style="background-color: #8a04f7;">Features</button>
            </div>
            <div class="col-md-6" style="margin: 30px 0px;">
            <button class="btn btn-primary benefits" style="background-color: #8a04f7;">Benfits</button>
            </div>
            </div>

            <h1 class="basiynfeat">BASIYN Features For the Sellers</h1>




            <div class="circle-container">
                    <a href="#" class="center"     style="width: 35%; height: 37%; top: 36%;left: 37%"><img src="assets/images/P50.png"></a>
                    <a href="#" class="deg0"><img src="assets/images/P52.png"></a>
                    <a href="#" class="deg45"><img src="assets/images/P54.png"></a>
                    <a href="#" class="deg90"><img src="assets/images/P55.png"></a>
          
                    <a href="#" class="deg135"><img src="assets/images/P56.png"></a>
                    <a href="#" class="deg180"><img src="assets/images/P57.png"></a>
                    <a href="#" class="deg225" style="height: 4em; overflow: visible;"><img src="assets/images/P58.jpg" height="100%"></a>
                    <a href="#" class="deg270"><img src="assets/images/P61.png"></a>
          
                    <a href="#" class="deg315"><img src="assets/images/P65.png"></a>
                    <p class="pdeg0">Share Full or Partial Catalog with Your Connected Customer</p>
                    <p class="pdeg45">Set Delivery Option – Home Delivery or Self Pick Up</p>
                    <p class="pdeg90">Real Time Automatic Order Aggregation</p>
                    <p class="pdeg135">Manage Selling Price by Custome</p>
                    <p class="pdeg180">Manage Staffs’ Engagement with Customers and Suppliers</p>
                    <p class="pdeg225">No Set Up Cost, Pay Only When You Grow and Receive Orders</p>
                    <p class="pdeg270">Propose Orders and Collect Orders</p>
                    <p class="pdeg315">Easier Cataloging</p>
                  </div>



                  <!--second image-->

                  <h2 class="customerbasiyn">BASIYN Features For the Customers</h2>
                  <div class="circle-container" style="padding-top: 0px;">
                        <a href="#" class="center" style="    width: 35%;
                        height: 37%;
                        top: 36%;
                        left: 37%"><img src="assets/images/P50.png"></a>
                        <a href="#" class="deg0"><img src="assets/images/P63.png"></a>
                        <a href="#" class="deg45"><img src="assets/images/P64.png"></a>
                        <a href="#" class="deg90"><img src="assets/images/P65.png"></a>
              
                        <a href="#" class="deg135"><img src="assets/images/P66.png"></a>
                        <a href="#" class="deg180"><img src="assets/images/P67.png"></a>
                        <a href="#" class="deg225" style="overflow: visible;"><img src="assets/images/P68.png" height="90%"></a>
                        <a href="#" class="deg270"><img src="assets/images/P61.png"></a>
              
                        <a href="#" class="deg315"><img src="assets/images/P62.png"></a>
                        <p class="pdeg0">Keep Sellers and Products of Your Choice
                        </p>
                        <p class="pdeg45">Set Products as ‘Favorite’ to Speed Up the Ordering
                        </p>
                        <p class="pdeg90">Request Seller to Share Catalog
                        </p>
                        <p class="pdeg135">Customize Your Purchase Store
                        </p>
                        <p class="pdeg180">Option to Place Order with Self Pick Up
                        </p>
                        <p class="pdeg225">Digital Record of All Relevant Dispatch Documents
                        </p>
                        <p class="pdeg270">Place Order and Manage Outstanding Orders
                        </p>
                        <p class="pdeg315">Discover Products and Compare Prices</p>
                      </div>
                  <!--second image end-->
            </div>

            <div class="container firstrow">
                <h2>Benefits for Sellers</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="sellerbox">
                            <img src="assets/images/P71.png">
                        <h4>Higher Engagement, Higher Sales</h4>
                        <p>Share new arrivals and discounts in a structured manner to engage your customers. It increases Sales and improves customer loyalty</p>
                    </div>
                    </div>
                    <div class="col-md-4">
                        <div class="sellerbox">
                                <img src="assets/images/P72.png">
                            <h4>Reduce Loss due to Over stocking and Out of stock</h4>
                           <p> Real time order discovery helps in better demand planning and forecasting, reducing losses due to overstocking and out of stock</p>
                    </div>
                    </div>
                    <div class="col-md-4">
                            <div class="sellerbox">
                                    <img src="assets/images/P73.png">
                            <h4>Save Money by Reducing Manual Effort of Order Aggregation</h4>
                            <p>Give your customers a platform where they can place order directly to you. For you, it saves manpower cost and reduces chances of manual errors while aggregating orders</p>
                    </div>
                    </div>
                </div>
            </div>
            <div class="container secondrow">
                <div class="row">
                    <div class="col-md-4">
                        <div class="sellerbox">
                                <img src="assets/images/P74.png">
                                <h4>Make Your Business Digital in Minutes at No Cost</h4>
                                <p>Having a website or app does not bring engagement. Leverage the real power of digital to improve engagement with your customers</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                                <div class="sellerbox">
                                        <img src="assets/images/P75.jpg">
                                        <h4>Know Order Criticality</h4>
                                        <p>Quick view showing urgency of dispatch, plan your dispatch and fulfilments accordingly</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                        <div class="sellerbox">
                                                <img src="assets/images/P76.png">
                                               <h4> Real Time Order Discovery</h4>
                                                <p>Get orders in real time directly from your customers which are automatically added into outstanding orders.</p>
                                            </div>
                                        </div>
                    </div>
                </div>


                <!--3rd row-->
                <div class="container thirdrow">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="sellerbox">
                                        <img src="assets/images/P77.png">
                                        <h4>Smarter Way of Order Processing</h4>
                                        <p>Excellent aggregation of outstanding orders in multiple ways to help prioritize the shipments</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                        <div class="sellerbox">
                                                <img src="assets/images/P78.png">
                                                <h4>Propose Order to Your Customers</h4>
                                                <p>Product-wise order proposal to your customers that they might have missed to order.</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                                <div class="sellerbox">
                                                        <img src="assets/images/P79.png">
                                                       <h4>Optimally Use Your Sales Team</h4>
                                                        <p>Let your sales team focus on building new customer relationships. Existing ones are seamlessly managed with BASIYN</p>
                                                    </div>
                                                </div>
                            </div>
                        </div>
                <!--3rd row end-->



                <h2 class="benefits">Benefits for Customers</h2>
                <div class="container secondrow">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="sellerbox">
                                        <img src="assets/images/P81.png">
                                        <h4>One BASIYN for All Your Needs</h4>
                                        <p>Buy all the products of your interest on one App and get rid of managing multiple Apps</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                        <div class="sellerbox">
                                                <img src="assets/images/P82.png">
                                                <h4>Get Updates About Discounts and Compare Price</h4>
                                                <p>Receive real time updates of sale and discount, view the final selling price along with product and make informed purchase</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                                <div class="sellerbox">
                                                        <img src="assets/images/P83.png">
                                                       <h4>Real Time Discovery of New Arrivals and Product Availability</h4>
                                                        <p>Discover new arrivals at your seller’s store and check availability of the complete range of products - all in real time</p>
                                                    </div>
                                                </div>
                            </div>
                        </div>

                        <div class="container secondrow">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="sellerbox">
                                                <img src="assets/images/P84.png">
                                                <h4>It’s Yours</h4>
                                                <p>You connect with the sellers from whom you buy products offline. Keep only those products that interest you and delete the others</p>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                                <div class="sellerbox">
                                                        <img src="assets/images/P85.png">
                                                        <h4>Easy Order Placement</h4>
                                                        <p>Choose a seller and place order. Or, check products’ availability and price across sellers and place order</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                        <div class="sellerbox">
                                                                <img src="assets/images/P86.png">
                                                               <h4>More Convenience and More Reliability</h4>
                                                                <p>You can place order from App or Web. You get reliable products at the best price from your trusted sellers</p>
                                                            </div>
                                                        </div>
                                    </div>
                                </div>


                                <div class="container secondrownew">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="sellerbox">
                                                        <img src="assets/images/P87.png">
                                                        <h4>Yes. You can Initiate, Contribute, and Feel Good</h4>
                                                        <p>If your seller does not use BASIYN, you can also initiate. Add his mobile number, onboard him, help him leverage digital technology</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                        <div class="sellerbox">
                                                                <img src="assets/images/P88.png">
                                                                <h4>Chat with Your Sellers (Launching Soon)</h4>
                                                                <p>You can have a direct chat with your sellers for anything that requires more clarity</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                                <div class="sellerbox">
                                                                        <img src="assets/images/P89.png">
                                                                       <h4>Product Categories of Your Choice</h4>
                                                                        <p>Free hand to categorize your products to facilitate better product discovery and quicker order placement</p>
                                                                    </div>
                                                                </div>
                                            </div>
                                        </div>