<div class="container-fluid addseller">
    <div class="row">
        <div class="col-sm-2 px-1 bg-white sidebar">
            <div class="py-2 sticky-top flex-grow-1">
                <seller-sidebar></seller-sidebar>
            </div>
        </div>
        <div class="col" id="main">
            

                <div class="new">
            <!--table start-->
            <div class="container">

                <!--filter category -->
                <div class="topbar">
                <div class="row">
                  <div class="col-md-5"></div>
                    <div class="col-md-3 avpints">
                      <span>Avaliable Points: </span><span class="poiny">{{avapoints}}</span>
                      </div>
                      <div class="col-md-4">
                      
                      <div class="managdel">
                          <button class="btn btn-primary addp" (click)="addpoints()">Add Points</button>
                        </div>
                        </div>
                        </div>
                        </div>
                     
                <!--filter category end-->




                <!--search bar-->
                   

                    <table class="table table-responsive table-striped manage">
                        <thead>
                            <tr>
                            
                                <th>Date</th>
                                <th>Reference</th>
                                <th>type</th>
                                <th>Points</th>
                                <th>Avaliable Points</th>

                                
                            </tr>
                        </thead>
                        
                        <tbody>
                              <ng-container *ngIf="points!='0'">
                                <td colspan="8" *ngIf="loadingnew" style="text-align: center;"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                              <tr *ngFor="let point of points">
                                <td>{{point.date_added}}</td>
                                <td>{{point.reference}}</td>
                                <td>{{point.transaction_type}}</td>
                                <td>{{point.points}}</td>
                                <td>{{point.available_points}}</td>

                              </tr>
                              </ng-container>
                      
                        <ng-container *ngIf="points=='0'">
                                <td colspan="8" *ngIf="loadingnew" style="text-align: center;"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                          
                            <td colspan="10">No data found</td>
                            
                        </ng-container>

                        </tbody>
                    
                       
                    </table>
              
                   
          
            </div>
            </div>
          </div>
          </div>
          </div>
        

        <!--add points model-->
        <div  id="points"  role="dialog" class="modal fade">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                
                </div>
                <div class="modal-body">
                  
                    <form #form="ngForm" (ngSubmit)="submit(form.value)">
                        <div class="form-group">
                          
                            <label>Your Registered Mobile Number</label>
                            <input  class="form-control" id="formob" name="ramount" [(ngModel)]=ramount placeholder="Recharge Amount" type="text"  (input)="onSearchChange($event.target.value)" >
                          
                            <div class="container gsttab">
                            <div class="row">
                              <div class="col-md-6 gst">
                                <div class="col-md-6">GST(18%)</div>
                                <div class="col-md-6"><input type="text" name="gst" [(ngModel)]="gstval"   readonly="true"></div>
                                </div>

                                <div class="col-md-6 point">
                                    <div class="col-md-6">Get BASIYN Points</div>
                                    <div class="col-md-6"><input type="text" [(ngModel)]="amnt" name="bpoints"  readonly="true"></div>
                                    </div>

                                    <div class="col-md-6 amnt">
                                      <div class="col-md-6">Total Amount<br>(payable)</div>
                                      <div class="col-md-6"><input type="text" name="tamount" [(ngModel)]="totalamnt" name="tamount"  readonly="true"></div>
                                      </div>
                              </div>
                              </div>
                        </div>
                          <div  class="form-group">
                              <button  class="btn btn-primary forsubmit">Submit</button>
                             
                            </div>
                          </form>
                </div>
              
              </div>
              
            </div>
          </div>
        <!--end add model-->


        <!--pay umoney integration-->
        <div  id="payu"  role="dialog" class="modal fade">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                
                </div>
                <div class="modal-body">
                  
                    <h1>PayUMoney Payment Request Form </h1>
<form #form="ngForm" (ngSubmit)="submitnew(form.value)">
<input type="hidden" name="key" value="yK7rukXg" />
<input type="hidden" name="hash_string" value="" />
<input type="hidden" name="hash" />
<input type="hidden" name="txnid"/>
    <table>
  <tr>
    <td><b>Mandatory Parameters</b></td>
  </tr>
  <tr>
      <td>Amount: </td>
      <td><input name="amount"  [(ngModel)]="amount"/></td>
      <td>First Name: </td>
      <td><input name="firstname" id="firstname" [(ngModel)]="firstname" /></td>
  </tr>
  <tr>
    <td>Email: </td>
    <td><input name="email" id="email"   [(ngModel)]="email"/></td>
    <td>Phone: </td>
    <td><input name="phone"  [(ngModel)]="phone"/></td>
  </tr>
<tr>
    <td>Product Info: </td>
    <td colspan="3"><textarea name="productinfo"  [(ngModel)]="productinfo">  </textarea></td>
</tr>
<tr>
    <td>Success URI: </td>
    <td colspan="3"><input name="surl"  size="64"   [(ngModel)]="surl"/></td>
</tr>
<tr>
    <td>Failure URI: </td>
    <td colspan="3"><input name="furl"  size="64"  [(ngModel)]="furl"/></td>
</tr>
<tr>
  <td colspan="3"><input type="hidden" name="service_provider" value="payu_paisa"  [(ngModel)]="payu_paisa"/></td>
</tr>
<tr>
    <td><b>Optional Parameters</b></td>
</tr>




  <td colspan="4"><input type="submit" value="Submit"  /></td>

</table>
</form>
                </div>
              
              </div>
              
            </div>
          </div>
        <!--end pay u money-->