.manage tr th, .manage tr td{
    text-align: center;
    vertical-align: middle;
}
button.btn.btn-primary.addp {
    text-align: center;
    margin: 0 auto;
    /* border: 5px; */
    border-radius: 20px;
    width: 50%;
}
.topbar {
    padding: 20px 0px 10px 0;
}

.col-md-3.avpints span {
    color: #24a5ae;
    font-size: 18px;
    font-weight: bold;
}
span.poiny {
    color: #00b050 !important;
}
.col-md-6.gst input {
    width: 100px;
}
.col-md-6.gst {
    display: flex;
    font-size: 12px;
}
.col-md-6.point {
    display: flex;
    font-size: 12px;
}
.col-md-6.point input {
    width: 100px;
}
.col-md-6.amnt input {
    width: 100px;
}
.col-md-6.amnt {
    display: flex;
    font-size: 12px;
}
.container.gsttab {
    padding-top: 20px;
    padding-bottom: 20px;
}