.header {
    background-color: #6befef;
    background-image: linear-gradient(to right, #e2dbdb , #47ccad);
}
img.logo {
    width: 25%;
}
.navbar-login
{
    /* width: 138px; */
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}
.items {
    display: inline-grid;
    margin: 0 auto;
}
ul.dropdown-menu.newdrop.show {
    left: auto;
    right: 0;
}
.nav.navbar-nav.navbar-right  { 
    color: transparent;
} 

a.profile {
    color: black !important;
    text-decoration: none;
}
p.text-left.small {
    text-align: center !important;
    margin: 0;
    padding: 4px;
    font-weight: 500;
}
a.nav-link.active .btnbuy {
    border: 1px solid #ccc;
    padding: 4px 26px;
    border-radius: 15px;
    background-color: #2f5597;
    color: white;
    font-weight: 800;
}
a.nav-link.active .btnsell {
    border: 1px solid #ccc;
    padding: 4px 26px;
    border-radius: 15px;
    background-color: #26a040;
    color: white;
    font-weight: 800;
}
.btnbuy {
    border: 1px solid #2f5597;
    padding: 4px 26px;
    background-color: white;
    color: #2f5597;
    font-weight: 700;
    border-radius: 15px;
}
.btnsell {
    border: 1px solid #26a040;
    padding: 4px 26px;
    background-color: white;
    color: #26a040;
    font-weight: 700;
    border-radius: 15px;
}
img.menu {
    height: 30px;
}
img.profimg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.noticount{
    position: absolute;
    background: rgb(224, 168, 8);
    border: 0px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    z-index: 1000000;
    border-radius: 50%;
    /* right: 128px; */
    padding-top: 0px;
    padding-bottom: 0px;
    display: block;
    left: 20px;
    min-width: 14px;
    bottom: 26px;
}