<div class="header">
    <div class="container">
      <div >


          <nav class="navbar navbar-expand-lg navbar-dark ">
            <a class="navbar-brand" [routerLink]="['/dashboard']"><img src="assets/logo.png" class="logo"></a>
              
            
              <button class="navbar-toggler" type="button"
                      (click)="toggleNavbar()">
                <span class="navbar-toggler-icon"></span>
              </button>
            
            
              <div class="collapse navbar-collapse"
                   [ngClass]="{ 'show': navbarOpen }" *ngIf="isLoggedIn">
                <ul class="navbar-nav mr-auto" >
                  <li class="nav-item" >
                    
                    <a class="nav-link" [routerLink]="['/buyer-dashboard']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">  <div class="btnbuy">Buy</div></a>
                    
                  </li>
            
                  <li class="nav-item">
                      
                    <a class="nav-link" [routerLink]="['/seller-dashboard']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><div class="btnsell">Sell</div></a>
                        
                </li>
                </ul>

                <ul class="nav navbar-nav navbar-right" >
                    <li class="dropdown" id="newop1"  >
                            <a   [routerLink]="['/notifications']">
                                    <!-- <span class="glyphicon glyphicon-user"></span>  -->
                                    <!-- <strong>Nombre</strong> -->
                                    <!-- <button class="noticount">{{countnew}}</button> -->
                                    <ng-container *ngIf="countnew==0">
                                    <img src="assets/images/notification.png" alt="motification" class="menu" *ngIf="nav.visible">
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                    </ng-container>
                                    <ng-container *ngIf="countnew!=0">
                                            <img src="assets/images/notificationnew1.png" alt="notification" class="menu" *ngIf="nav.visible">
                                            <span class="glyphicon glyphicon-chevron-down"></span>
                                            </ng-container>
                                </a>
                        <a  class="dropdown-toggle" data-toggle="dropdown"  (click)="toggleNavbar1()">
                            <span class="glyphicon glyphicon-user"></span> 
                            <!-- <strong>Nombre</strong> -->
                            <!-- <img src="assets/images/menu.png" alt="menu" class="menu"> -->
                            <ng-container *ngIf="profileimg!=null">
                            <img [src]="profileimg" class="profimg">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                            </ng-container>
                            <ng-container *ngIf="profileimg==null">
                                    <img src="assets/images/default.png" class="profimg">
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                            </ng-container>
                        </a>
                        <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <!-- <a href="#" data-toggle="dropdown" class="dropdown-toggle"> </a> -->
                                    <ul class="dropdown-menu">
                                            <div class="navbar-login">
                                                    <div class="row">
                                                        
                                                     <div class="items">
                                                            <p class="text-left small"> <a  [routerLink]="['/user-profile']" class="profile">Profile</a></p>
                                                            <p class="text-left small"><a [routerLink]="['/login']" class="profile">Manage Team</a></p>
                                                            <p class="text-left small" id="settings"><a [routerLink]="['/buy-setting-catalog']" class="profile">Buyer Settings</a></p>
                                                            <p class="text-left small" id="settings"><a [routerLink]="['/sell-setting-catalog']" class="profile">Seller Settings</a></p>
                                                            <p class="text-left small" id="pricing"><a [routerLink]="['/pricing']" class="profile">Pricing</a></p>
                                                            <p class="text-left small" id="termandcond"><a [routerLink]="['/terms-conditions']" class="profile">Terms and conditions</a></p>
                                                            <p class="text-left small" id="privacy"><a [routerLink]="['/privacy-policy']" class="profile">Privacy</a></p>
                                                            <div class="col-lg-12">
                                                                    <p>
                                                                        <a href="#" class="btn btn-danger btn-block" (click)="Logout()">Logout</a>
                                                                    </p>
                                                                </div>
                                                            
                                                       </div>
                                                    </div>
                                                </div>
                                    </ul>
                                </li>
                            </ul>
                        <!-- <ul class="dropdown-menu newdrop"  [ngClass]="{ 'show': navbarOpen1 }" id="newop">
                            <li>
                                <div class="navbar-login">
                                    <div class="row">
                                        
                                     <div class="items">
                                            <p class="text-left small"> <a  [routerLink]="['/user-profile']" class="profile">Profile</a></p>
                                            <p class="text-left small"><a [routerLink]="['/login']" class="profile">Manage Team</a></p>
                                            <p class="text-left small"><a [routerLink]="['/dashboard']" class="profile">Settings</a></p>
                                            <p class="text-left small">Terms and conditions</p>
                                            <p class="text-left small">Privacy</p>

                                            
                                       </div>
                                    </div>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="navbar-login navbar-login-session">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <p>
                                                <a href="#" class="btn btn-danger btn-block">Logout</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul> -->
                    </li>
                </ul>
              </div>
            </nav>

            </div>
      </div>
    </div>
  