ul.social {
    list-style-type: none;
}
.footer {
    background-color: #6befef;
    background-image: linear-gradient(to right, #e2dbdb , #47ccad);
    color: black;
}
.footer .container {
    padding: 0px 0px 0px 0px;
}
img.footerlogo {
    width: 60%;
}
ul.social li a {
    color: black;
}
ul.social li a i {
    padding-right: 10px;
}
.footer {
    position: inherit;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: red; */
    color: black;
    text-align: center;
}

@media only screen and (max-width: 767px) {
.footer {
position: inherit !important;
}
}