<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="assets/logo.png" class="footerlogo">
            </div>
            <div class="col-md-4 contact">
                <h3>Contact Info</h3>
                <p>Near TVS Auto Service Center, 97, 3rd Main Rd, Hoysala Nagar, Horamavu, Bengaluru, Karnataka 560043</p>
            </div>
            <div class="col-md-4 social">
                <h3>Lets Get Social</h3>
                <ul class="social">
                    <li><a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i>Instagram  </a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook  </a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter  </a></li>
                    </ul>
            </div>
        </div>
    </div>
    </div>