.proimage img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.card{
    background-color: #FFFFFF;
    padding:0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius:4px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}


.card:hover{
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
    color:black;
}

address{
  margin-bottom: 0px;
}
.card-img-top{
    height:170px;
}
.card-img-top {
    height: 90px;
    width: 90px;
    border-radius: 50%;
}
.card-body{
    padding: 0.25em !important;
}
.card-title {
    margin-bottom: .15rem !important;
    font-size: 14px !important;
}

@media only screen and (min-width: 767px) {
    .card-body {
        height: 121px;
    }
    .proimg {
        height: 87px;
    }
    .card.text-center {
        height: 250px;
    }
}