div#main {
    padding: 0px;
    margin: 0px;
  }
  button.btn.btn-primary.features {
    background-color: #01205E;
    border-color: transparent;
   
    font-size: 15px;
   
    font-weight: 600;
    display: block;
    width:17%;
    float:right;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
} 
  table.table.table-hover.sellerinvit tr th {
    font-size: 13px;
    text-align: left;
    border: 1px solid #ccc;
    vertical-align: left;
    
}
td.sellerprof img{
  /* border-radius: 50%; */
  width: 60px;
  
}
table.table.table-hover.sellerinvit td {
    font-size: 12px;
    text-align: left;
   
}
span.mark {
    font-size: 14px;
    font-weight: 600;
    color: gray;
    
}