<div class="container-fluid content">
    <div class="row">
        <div class="col-sm-2 px-1 bg-white sidebar">
            <div class="py-2 sticky-top flex-grow-1">
                <app-sidebar></app-sidebar>
            </div>
        </div>
  
        <div class="col" id="main">
            <div class="new">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="addseller">
    
                                <button class="btn btn-primary features">Delete</button>
                                <button class="btn btn-primary features">View Cart</button>
                                <button class="btn btn-primary features">Add to Cart</button>
                                <button class="btn btn-primary features">Add More Products</button>

                            </div>
                        </div>
                        </div>
                        <hr class="line"/>
                        <div class="row">
                            <div class="col-md-5">
                                <input type="checkbox" id="check"><span class="mark">Match Quantity as the Proposed Quantity</span>
                              </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                              <br/>
                              <table class="table table-hover sellerinvit">
                                <thead>
                                    <tr>
                                        <th style="text-align: left; ;" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=": activate to sort column ascending"><input type="checkbox" value="1" class="checkeAll" name="select_all" id="checkAll" ></th>
                                        <th>Product Image</th>
                                        <th>Product Name</th>
                                        <th>Other Product Details</th>
                                        <th>Proposed Order Qty</th>
                                        <th>Proposed Delivery Date</th>
                                        <th>Order Qty</th>
                                        <th>Deliver By Date</th>
                                       
                                      </tr>
                                  </thead>
                                  
                                  <tbody>
                                      <ng-container *ngIf="asproposedorderdetail.length!='0'">
                                          <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                      <tr *ngFor = "let user of asproposedorderdetail">
                                          <td style="text-align: left; ;" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=": activate to sort column ascending"><input type="checkbox" value="1" class="checkeAll" name="select_all" id="checkAll" ></td>
                                          <td class="sellerprof">
                                              <img [src]='user.landing_image'>
                                            </td>
                                            <td>{{user.product_name}}</td>
                                            <td>MRP-&#2352; {{user.sales_MRP}}<br/>Cost-&#2352; {{user.selling_price}}</td>
                                            <td>{{user.SKU_level_qty}}</td>
                                            <td>{{user.deliver_by_date}}</td>
                                             <td>edit</td>
                                            
                                            
                                            <td>{{user.sales_date_to_fulfill | date: 'dd-MM-yyyy'}}</td>
                                            
                                           
    
                                    </tr>
                                    </ng-container>
                                    <ng-container *ngIf="asproposedorderdetail.length=='0'">
                                        <tr>
                                            <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                            <td colspan="8">No Data Found</td>
                                          </tr>
                                    </ng-container>
                                  </tbody>
                                </table>
                              </div>
                            </div>