<div class="container-fluid addseller">
    <div class="row">
        <div class="col-sm-2 px-1 bg-white sidebar">
            <div class="py-2 sticky-top flex-grow-1">
                <seller-sidebar></seller-sidebar>
            </div>
        </div>
        <div class="col" id="main">
            <div class="container">
                <div class="row">
                       
                        <div class="col-md-6 form-group">
                                <div class="sellerbox">
                            <h4 class="add-single">Add Single Customer</h4>
                                <form [formGroup]="Addcustomer" (ngSubmit)="onSubmit()"> 
                                    <div class="col-md-8 addseller">
                                            <div class="form-group">
                                                    <div  class="wrap-input100 validate-input">
                                        <input type="text" formControlName="invited_user_mobile" class="form-control" id="usr" placeholder="Enter Mobile Number" [ngClass]="{ 'is-invalid': submitted && f.invited_user_mobile.errors }">
                                        <div *ngIf="submitted && f.invited_user_mobile.errors" class="invalid-feedback">
                                                <div *ngIf="f.invited_user_mobile.errors.required" class="newwar">Mobile is required</div>
                                            </div>
                                    </div>
                                    </div>
                                    </div>
                                    <div class="col-md-8 addseller">
                                   
                                       <button class="btn btn-primary features">Invite</button>
                                    </div>
                                </form>
                                </div>
                        </div>
                        <div class="col-md-6 form-group">
                                <div class="sellerbox">
                                <h4 class="add-single">Bulk Upload</h4>
                               
                                        <div class="col-md-8 addseller">

                                            <div class="dwntemplate"><a href="assets/seller_mobile.csv" class="buttonDownload">Download</a></div>
                                        </div><br/>
                                        <form [formGroup]='Bulkupload' (ngSubmit)='onSubmitbulk()'> 
                                        <div class="col-md-8 addseller">

                                                <div class="choose"><input type="file" id="csvfile1" formControlName="csv" ></div>
                                            </div>
                                        <div class="col-md-8 addseller">
                                           <button class="btn btn-primary bulkfeatures" id="btnUpload" value="Upload">Invite In Bulk</button>
                                        </div>
                                        <p class="text">(You can invite upto 40 customers in one time. Please download the template, update mobile numbers from row number 2 in the file, and upload)</p>
                                       
                                            
                                    </form>
                                    </div>
                        </div>


                        
                        <div  id="csvnew"  role="dialog" class="modal fade">
                            <div class="modal-dialog">
                            
                              <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                
                                </div>
                                <div class="modal-body">
                                  
                                    <table class="table csv">
                                        
                                        <tr class="csvtr">
                                                <th>Mobile</th>
                                                <th>Status</th>
                                        </tr>
                                        <tbody id="invitePhone1">
                                            
                                        </tbody>    
                                    </table>
                                    
                                    <button class="btn btn-primary cnfmsubmit" (click)="confirmsubmit()">Submit</button>
                        
                                </div>
                                
                              </div>
                              
                            </div>
                          </div>
                                
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>
                        