button.btn.btn-primary.features {
    background-color: #3b3f51;
    border-color: transparent;
    
    border-radius: 6%;
    margin-left: 35px;
    padding: 7px 10px;
    font-size: 20px;
    text-shadow: none;
    font-weight: 600;
    display: block;
    min-width: 100px;
    text-align: center;
    margin: 0 auto;
    border-radius: 0px;
    margin-top: 16px;
   
}
button.btn.btn-primary.bulkfeatures {
    background-color: #3b3f51;
    border-color: transparent;
    
    border-radius: 6%;
    
    padding: 5px 10px;
    font-size: 20px;
    text-shadow: none;
    font-weight: 600;
    display: block;
    min-width: 130px;
    text-align: center;
    margin: 0 auto;
    border-radius: 0px;
    margin-top: 16px;
   
}
h4.add-single {
    font-size: 20px;
    margin-top: 25px;
    font-weight: 600;
    text-align: center;
}
.box {
    border: 1px groove;
    height: 40px;
}
a.download {
    padding-left: 45px;
}
p.hint {
    font-size: 13px;
}
.addseller{
    margin: 0 auto;
}
.form-group {
    display: inline-block;
}
.dwntemplate {
    
    height: 35px;
    margin: 0 auto;
    border-radius: 2%;
}
.choose {
    border: 1px groove;
    border-radius: 2%;
}
input.choose-file {
    padding-left: 45px;
}
.downld{
    padding-left: 45px;
}
p.text {
    font-size: 12px;
    text-align: center;
    margin-top: 8px;
}
.sidebar {
    box-shadow: 10px 10px 10px #d8d6d6;
}
.sellerbox {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    height: 285px;
}
div#main {
    padding: 50px 0 50px 0;
}
.buttonDownload {
	display: inline-block;
	position: relative;
	padding: 10px 25px;
  
	background-color: #2e5496;
	color: white;
  
	font-family: sans-serif;
	text-decoration: none;
	font-size: 0.9em;
	text-align: center;
	text-indent: 15px;
}

.buttonDownload:hover {
	background-color: #333;
	color: white;
}

.buttonDownload:before, .buttonDownload:after {
	content: ' ';
	display: block;
	position: absolute;
	left: 15px;
	top: 52%;
}

/* Download box shape  */
.buttonDownload:before {
	width: 10px;
	height: 2px;
	border-style: solid;
	border-width: 0 2px 2px;
}

/* Download arrow shape */
.buttonDownload:after {
	width: 0;
	height: 0;
	margin-left: 1px;
	margin-top: -7px;
  
	border-style: solid;
	border-width: 4px 4px 0 4px;
	border-color: transparent;
	border-top-color: inherit;
	
	animation: downloadArrow 2s linear infinite;
	animation-play-state: paused;
}

.buttonDownload:hover:before {
	border-color: #4CC713;
}

.buttonDownload:hover:after {
	border-top-color: #4CC713;
	animation-play-state: running;
}

/* keyframes for the download icon anim */
@keyframes downloadArrow {
	/* 0% and 0.001% keyframes used as a hackish way of having the button frozen on a nice looking frame by default */
	0% {
		margin-top: -7px;
		opacity: 1;
	}
	
	0.001% {
		margin-top: -15px;
		opacity: 0;
	}
	
	50% {
		opacity: 1;
	}
	
	100% {
		margin-top: 0;
		opacity: 0;
	}
}

.fade:not(.show) {
    opacity: 1 !important;
  }
  .modal-dialog {
    top: 120px !important;
  }
  .dwntemplate {
    text-align: center;
}
table.table.csv {
    border: 1px solid #ccc;
}
table.table.csv tr td {
    border: 1px solid #ccc;
}
tbody#invitePhone tr td {
    border: 1px solid #ccc;
}
tr.csvtr th {
    border: 1px solid #ccc;
}
table.table.csv td {
    text-align: center;
    border: 1px solid #ccc;
}
table.table.csv th {
    text-align: center;
}
tbody#invitePhone tr td {
    border: 1px solid #ccc;
}
.col-md-8.addseller .form-group {
    width: 100%;
}