<div class="container-fluid addseller">
    <div class="row">
        <div class="col-sm-2 px-1 bg-white sidebar">
            <div class="py-2 sticky-top flex-grow-1">
                <app-sidebar></app-sidebar>
            </div>
        </div>
        <div class="col" id="main">
            <div class="new">
                <div class="container">
                 
                    <div class="row">
                      <div class="col-md-3">
                        <div class="summary">
                          <h6 class="selsummary">Seller-{{asdispatchsummary.seller_nickname}}</h6>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <p class="orderdetails">Dispatch No: {{asdispatchsummary.dispatch_no}}</p>
                      </div>
                      <div class="col-md-3">
                        <p class="orderdetails">Dispatch Date: {{asdispatchsummary.dispatch_date}}</p>
                      </div>
                      <div class="col-md-3">
                          <p class="orderdetails">Total Amount: &#2352; {{asdispatchsummary.total_amount}}</p>
                        </div>
                        <div class="col-md-3">
                          <p class="orderdetails">Quantity: {{asdispatchsummary.total_qty}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <p class="orderdetails">Delivery Address: {{asdispatchsummary.address_line_1}},{{asdispatchsummary.city}} - {{asdispatchsummary.pincode}}</p>
                          </div>
                          <div class="col-md-5">
                          
                           <button class="btn download" (click)="downloadatt()">Download Attachments</button>
                          </div>
                    </div>
  
                 
                    <div class="row">
                          <div class="col-md-12">
                            <br/>
                            <table class="table table-hover sellerinvit">
                              <thead>
                                  <tr>
                                      <th>Product Image</th>
                                      <th>Product Name</th>
                                      <th>Other Product Details</th>
                                      <th>Qty</th>
                                      <th>Order No</th>
                                      <th>Order Date</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    <ng-container *ngIf="asorders.length!='0'">
                                        <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                    <tr *ngFor = "let user of asorders">
                                        
                                        <td class="sellerprof">
                                            <img [src]='user.landing_image'>
                                          </td>
                                          <td>{{user.product_name}}</td>
                                          <td>Cost- &#2352; {{user.rate}}</td>
                                          <td>{{user.total_qty}}</td>
                                          <td>{{user.order_no}}</td>
                                          <td>{{user.order_date}}</td>
  
                                  </tr>
                                  </ng-container>
                                  <ng-container *ngIf="asorders.length=='0'">
                                      <tr>
                                          <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                          <td colspan="8">No Data Found</td>
                                        </tr>
                                  </ng-container>
                                </tbody>
                              </table>
                            </div>
                          </div>
                </div>
            </div>
        </div>
    </div>
  </div>
                      

  <div  id="export"  role="dialog" class="modal fade">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
                Download Attachments
            <button type="button" class="close" data-dismiss="modal" (click)="closemod()">&times;</button>
          
          </div>
          <div class="modal-body">
            <ng-container *ngIf="asattachments.attachment_1_name=='No file' ||asattachments.attachment_2_name=='No file' || asattachments.attachment_3_name=='No file' || asattachments.attachment_4_name=='No file'">
                <b>No documents attached</b>
            </ng-container>
            <ng-container *ngIf="asattachments.attachment_1_name!='No file'">
              <a href="asattachments.attachment_1_name"><button class="btn btn-primary">Download</button></a>
            </ng-container>

            <ng-container *ngIf="asattachments.attachment_2_name!='No file'">
                <a href="asattachments.attachment_2_name"><button class="btn btn-primary">Download</button></a>
              </ng-container>
              <ng-container *ngIf="asattachments.attachment_3_name!='No file'">
                  <a href="asattachments.attachment_3_name"><button class="btn btn-primary">Download</button></a>
                </ng-container>
                <ng-container *ngIf="asattachments.attachment_3_name!='No file'">
                    <a href="asattachments.attachment_3_name"><button class="btn btn-primary">Download</button></a>
                  </ng-container>
             
          </div>
        
        </div>
        
      </div>
    </div>

  
