/* Generals resets and unimportant stuff *

/* --- Product Card ---- */
.col-md-3 img{
    width:100%;
}
#make-3D-space{
   
    perspective: 800px;
    width:100%;
    height:500px;
    transform-style: preserve-3d;
    transition: transform 5s;
        
    
}
#product-front, #product-back{
	width:100%;
	height:500px;
	background:#fff;
	position:absolute;
	left:-5px;
	top:-5px;
	-webkit-transition: all 100ms ease-out; 
       -moz-transition: all 100ms ease-out; 
         -o-transition: all 100ms ease-out; 
            transition: all 100ms ease-out; 
}

.animate #product-back, .animate #product-front{
	top:0px;
	left:0px;
	-webkit-transition: all 100ms ease-out; 
       -moz-transition: all 100ms ease-out; 
         -o-transition: all 100ms ease-out; 
            transition: all 100ms ease-out; 
}
.productdiv{
	width:100%;
	height:480px;
	position:absolute;    
	top:10px;
	left:10px;	
	overflow:hidden;
    transform-style: preserve-3d;
	-webkit-transition:  100ms ease-out; 
       -moz-transition:  100ms ease-out; 
         -o-transition:  100ms ease-out; 
            transition:  100ms ease-out;
}


.animate{
	top:5px;
	left:5px;
	width:100%;
	height:460px;
	box-shadow:0px 13px 21px -5px rgba(0, 0, 0, 0.3);
	-webkit-transition:  100ms ease-out; 
       -moz-transition:  100ms ease-out; 
         -o-transition:  100ms ease-out; 
            transition:  100ms ease-out; 
}
.stats-container{
	background:#fff;	
	position:absolute;
	top:240px;
	left:0;
	width:100%;
	height:350px;
	padding:27px 15px 25px;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out;
}
.animate .stats-container{
	top:206px;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.stats-container .product_name{
	font-size:15px;
    color:#393c45;	
    font-weight:600;
}
.stats-container p{
	font-size:16px;
	color:#b1b1b3;	
	padding:2px 0 20px 0;
}
.stats-container .product_price{
	float:right;
	color:#e16f19;
	font-size:15px;
	font-weight:600;
}
.image_overlay{
	position:absolute;
	top:0;
	left:0; 
	width:100%;
	height:100%;
	/* background:#48daa1; */
	opacity:0;	
}
.animate .image_overlay{
	opacity:0.7;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.product-options{
	padding:2px 0 0;
}
.product-options strong{
	font-weight:700;
	color:#393c45;
	font-size:14px;
}
.product-options span{	
	color:#969699;
	font-size:14px;
	display:block;
	margin-bottom:8px;
}
#view_details{	
	position:absolute;
	top:112px;
	left:50%;
	margin-left:-85px;	
	border:2px solid #fff;
	color:#fff;
	font-size:19px;
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;
	width:172px;	
	opacity:0;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
#view_details:hover{	
	background:#fff;
	color:#48cfad;
	cursor:pointer;

}
.animate #view_details{
	opacity:1;
	width:152px;
	font-size:15px;
	margin-left:-75px;
	top:115px;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}
div.colors div{
	margin-top:3px;
	width:15px; 
	height:15px; 	
	margin-right:5px;
	float:left;
}
div.colors div span{
	width:15px; 
	height:15px; 
	display:block;
	border-radius:50%;
}
div.colors div span:hover{
	width:17px;
	height:17px;
	margin:-1px 0 0 -1px;
}
div.c-blue span{background:#6e8cd5;}
div.c-red span{background:#f56060;}
div.c-green span{background:#44c28d;}
div.c-white span{
	background:#fff;
	width:14px;
	height:14px; 
	border:1px solid #e8e9eb;
}
div.shadow{
	width:335px;height:520px;
	opacity:0;
	position:absolute;
	top:0;
	left:0;
	z-index:3;
	display:none;
	background: -webkit-linear-gradient(left,rgba(0,0,0,0.1),rgba(0,0,0,0.2));
    background: -o-linear-gradient(right,rgba(0,0,0,0.1),rgba(0,0,0,0.2)); 
    background: -moz-linear-gradient(right,rgba(0,0,0,0.1),rgba(0,0,0,0.2)); 
    background: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,0.2)); 
}
#product-back div.shadow{
	z-index:10;
	opacity:1;
	background: -webkit-linear-gradient(left,rgba(0,0,0,0.2),rgba(0,0,0,0.1));
    background: -o-linear-gradient(right,rgba(0,0,0,0.2),rgba(0,0,0,0.1)); 
    background: -moz-linear-gradient(right,rgba(0,0,0,0.2),rgba(0,0,0,0.1)); 
    background: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.1)); 
}


/*new*/
p.seller {
    font-size: 12px !important;
    color: black !important;
    padding: 7px 0px !important;
}
.column {
    float: left;
    width: 50%;
    padding: 2px;
    
  }
  input.variantgroup {
    width: 100%;
}
.variantscheck {
    height: 70px !important;
    overflow-y: scroll;
}
span.product_name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    line-height: 16px;
    /* max-height: 32px; */
    white-space: nowrap;
    max-width: 157px;
    cursor: pointer;
}
i.fa.fa-heart {
    padding-left: 10px;
}
i.fa.fa-heart.selected {
    color: red;
}

.col-md-8 .mat-form-field-infix {
    width: 95px !important;
}

.dateandcart {
    margin-top: 42px;
}
.cart{
	background: #34bfa3;
    color: #ffffff;
    border-radius: 11px;
    font-size: 10.5px;
    width: 100%;
    padding: 4px;
}


.search {
    width: 100%;
    position: relative
  }
  
  .searchTerm {
    float: left;
    width: 100%;
    border: 3px solid #00B4CC;
    padding: 5px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    position: absolute;  
    right: -35px;
    width: 40px;
    height: 40px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .searchbar {
    padding: 50px 0px 70px 0px;
    width: 40%;
}
span.clear {
	cursor: pointer;
	display: block;
	font-size: 13px;
  font-weight: 600;
  color: #ed7d31;
}

select.newsel.ng-star-inserted {
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .searchbar {
        padding: 50px 0px 70px 0px;
        width: 80%;
    }
}



nav {    
    display: block;

    
  }
  nav ul {
    margin: 0;
    padding:0;
    list-style: none;
  }
  .nav a {
    display:block; 
    background: #111; 
    color: #fff; 
    text-decoration: none;
    padding: 0.8em 1.8em;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    text-shadow: 0 -1px 0 #000;
	position: relative;
	word-break: normal;
    white-space: normal;
  }
  .nav{  
    vertical-align: top; 
    display: inline-block;
    box-shadow: 
      1px -1px -1px 1px #000, 
      -1px 1px -1px 1px #fff, 
      0 0 6px 3px #fff;
    border-radius:6px;
  }
  .nav li {
    position: relative;
  }
  .nav > li { 
    float: left; 
    border-bottom: 4px #aaa solid; 
    margin-right: 1px; 
  } 
  .nav > li > a { 
    margin-bottom: 1px;
    box-shadow: inset 0 2em .33em -0.5em #555; 
  }
  .nav > li:hover, 
  .nav > li:hover > a { 
    border-bottom-color: #095ef1;
  }
  .nav li:hover > a { 
    color:orange; 
  }
  .nav > li:first-child { 
    border-radius: 4px 0 0 4px;
  } 
  .nav > li:first-child > a { 
    border-radius: 4px 0 0 0;
  }
  .nav > li:last-child { 
    border-radius: 0 0 4px 0; 
    margin-right: 0;
  } 
  .nav > li:last-child > a { 
    border-radius: 0 4px 0 0;
  }
  .nav li li a { 
    margin-top: 1px;
  }

  .nav li a:first-child:nth-last-child(2):before { 
    content: ""; 
    position: absolute; 
    height: 0; 
    width: 0; 
    border: 5px solid transparent; 
    top: 50% ;
    right:5px;  
   }

   /* submenu positioning*/
.nav ul {
    position: absolute;
    white-space: nowrap;
    border-bottom: 5px solid  #095ef1;
    z-index: 1;
    left: -99999em;
  }
  .nav > li:hover > ul {
    left: auto;
    margin-top: 5px;
	min-width: 100%;
	width:270px;
  }
  .nav > li li:hover > ul { 
    left: 100%;
    margin-left: 1px;
	top: -1px;
	width:250px;
  }
  /* arrow hover styling */
  .nav > li > a:first-child:nth-last-child(2):before { 
    border-top-color: #aaa; 
  }
  .nav > li:hover > a:first-child:nth-last-child(2):before {
    border: 5px solid transparent; 
    border-bottom-color: orange; 
    margin-top:-5px
  }
  .nav li li > a:first-child:nth-last-child(2):before {  
    border-left-color: #aaa; 
    margin-top: -5px
  }
  .nav li li:hover > a:first-child:nth-last-child(2):before {
    border: 5px solid transparent; 
    border-right-color: #337ab7;
    right: 10px; 
  }
  .fade:not(.show) {
    opacity: 1;
}
.mycat{
  width:50% !important;
  top:100px;
}

.modal-content{
  top: 100px;
}

.brandlst{
  height: 300px;
  width: 300px;
  overflow: scroll;
}
.block1{
  display: flex;
}

button.datesub {
  /* position: fixed; */
  right: 5px;
  background-color: #ec7d30;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  padding: 2px 20px;
  top: 5px;
  border-radius: 15px;
  cursor: pointer;
  border: 0;
  margin-bottom: 20px;
}




@media only screen and (min-width: 1020px) {
  .filterbar {
    display: flex;
  }
  .cartbutcart {
    float: right;
    width: 10%;
  }
  nav {    
    width:90%;
    
  }
}