<div class="container-fluid addseller">
    <div class="row">
        <div class="col-sm-2 px-1 bg-white sidebar">
            <div class="py-2 sticky-top flex-grow-1">
                <app-sidebar></app-sidebar>
            </div>
        </div>
        <div class="col" id="main">
            <div class="filterbar">
                    <nav>
                            <ul class="nav">
                              <li><a>Category</a>
                                <ul>
                                  <li *ngFor="let level1 of l1categories">
                                      <a href="javascript:void(0);" (click)="level1click(level1)">{{level1.name}}</a>
                                    <ul >
                                        <li *ngFor="let level2 of level1.l2">
                                            <a href="javascript:void(0);"  (click)="level2click(level2)">{{level2.name}}</a>
                                            <ul>
                                                <li *ngFor="let level3 of level2.l3">
                                                    <a href="javascript:void(0);"  (click)="level3click(level3)">{{level3.name}}</a>
                                                </li>
                                            </ul>
                                        </li>
                                        
                                    </ul>
                                </li>
                                  
                                </ul>
                              </li>
                              <li id="datesel" ><a href="javascript:void(0);" (click)="mycatpopup()">My categories</a></li>
                              <li id="brand" ><a href="javascript:void(0);" (click)="filterseller()">Sellers</a></li>
                              <li id="brand" ><a href="javascript:void(0);" (click)="pripopup()">Price</a></li>
                              <li id="brand" ><a href="javascript:void(0);">Favourite</a>
                                    <ul>
                                        <li *ngFor="let fav of favour"><a href="javascript:void(0)" (click)="favclick(fav.value)">{{fav.name}}</a></li>
                                    </ul>
                            </li>
                              <li id="brand" ><a href="javascript:void(0);" (click)="brandmod()">Brand</a></li>
                            </ul>
                            
                          </nav>

                          <div class="cartbutcart"><button class="btn btn-primary features" [routerLink]="['/buyer-cart']">View Cart</button></div>
                </div>
                <div class="clearfilter">
                    <!-- <p (click)="clearfilter()" *ngIf="clearfilt">
                        <a href="javascript:void(0)">Clear filter</a>
                    </p> -->
                    <ng-container >
                        <p> <a href="javascript:void(0)" (click)="clearmycategory()" *ngIf="mycatfiltertxt">My category filter</a></p>
                    </ng-container>
                    <ng-container *ngIf="level1clickdata!='' || level2clickdata!='' || level3clickdata!=''">
                        <p><a href="javascript:void(0)" (click)="clearcategory()" *ngIf="clearcategorytxt" >Category Filter</a></p>
                    </ng-container>

                    <ng-container *ngIf="sellercheckid!=''">
                            <p><a href="javascript:void(0)" (click)="clearseller()" *ngIf="clrsell">Sellers</a></p>
                        </ng-container>
                        <ng-container *ngIf="range!=''">
                            <ng-container *ngIf="minValue=='0' && this.maxValue=='0'">
                                    <p><a href="javascript:void(0)"  *ngIf="clrprice">Price</a></p>
                            </ng-container>
                            <ng-container *ngIf="minValue!='0' && this.maxValue!='0'">
                                <p><a href="javascript:void(0)" (click)="clearprice()" *ngIf="clrprice">Price</a></p>
                            </ng-container>
                            
                        </ng-container>

                        <ng-container *ngIf="favdata!=''">
                            <p><a href="javascript:void(0)" (click)="clearfav()" *ngIf="clrfav">Favourite</a></p>
                        </ng-container>

                        <ng-container *ngIf="brandchecckvalue!=''">
                                <p><a href="javascript:void(0)" (click)="clearbrandslast()" *ngIf="clrfavbrand">Brands</a></p>
                            </ng-container>
                    </div>
                <div class="searchbar">
                        <div class="search">
                            <form #form="ngForm" (submit)="searchForm(form.value)">
                           <input type="text" class="searchTerm" placeholder="What are you looking for?" [(ngModel)]="search" name="search">
                           <button type="submit" class="searchButton">
                             <i class="fa fa-search"></i>
                          </button>
                          </form>
                          <span class="clear" (click)="clearsearch()" >Clear search</span>
                        </div>
                     </div>

            <div class="new">
               
            <ng-container *ngIf="productdata!=''">

                   <div class="row">
                    <ng-container *ngFor="let product of productdata; let i=index">
                     <div class="col-md-3 pro">
                        <div id="make-3D-space">
                            <div class="productdiv" id="product-card{{i}}"  (mouseover)="productover(i)">
                                <div id="product-front">
                                  <div class="shadow"></div>
                                  <ng-container *ngIf="product.is_favourite!=1" >
                                      <span (click)="booknotsel(product.master_product_id)">
                                            <i class="fa fa-heart" aria-hidden="true"></i>
                                  </span>
                                  </ng-container>
                                  <ng-container *ngIf="product.is_favourite==1" >
                                      <span (click)="booksel(product.master_product_id)">
                                            <i class="fa fa-heart selected" aria-hidden="true"></i>
                                      </span>
                                  </ng-container>
                                    <img [src]="product.img_1" alt="" (click)="orderdetailpage(product)">
                                    <!-- <div class="image_overlay"></div> -->
                                    <!-- <div id="view_details">View details</div> -->
                                    <div class="stats">        	
                                        <div class="stats-container">
                                            <span class="product_price">₹{{product.selling_price}}</span>
                                            <span class="product_name" title="{{product.product_name}}">{{product.product_name}}</span>  
                                            <ng-container *ngIf="product.seller_name==null">
                                              <p class="seller">Seller: Null</p>
                                              </ng-container>
                                              <ng-container *ngIf="product.seller_name!=null">  
                                            <p class="seller">Seller: {{product.seller_name}}</p>   
                                            </ng-container>
                                            
                                            
                                            <div class="product-options">

                                                <!--Bussiness Layout-->
                                                <ng-container *ngIf="product.business_layout=='true'">
                                                    <div class="variantscheck">
                                              <ng-container *ngFor="let variants of product.allvariant; let i=index">
                                              
                                                  <div class="column">
                                                    {{variants.name}}
                                                  </div>
                                                  
                                                  <div class="column">
                                                    <input type="text" class="variantgroup" id="{{variants.match_master_id}}" [(ngModel)]="variants.i" name="variantvalue{{i}}">
                                                    <input type="hidden" id="{{variants.match_master_id}}" class="hiddenvariant{{product.master_product_id}}" [(ngModel)]="variants.i" name="variantvalue{{i}}"  [value]="variant">
                                                    </div>
                                                    

                                                </ng-container>
                                                    </div>
                                                </ng-container>

                                                <!--Bussiness layout end-->

                                                <!--User Layout-->
                                                <ng-container>
                                                        <ng-container *ngIf="product.business_layout=='false'">
                                                        <div class="column">
                                                                <ng-container *ngIf="product.variant_1!=''">
                                                            <select class="newsel"  (change)="handleSelectedValue(product, $event.target.value)" >
                                                                    <!-- <option [value]="" selected  disabled>Please select variant</option> -->
                                                                 <option [value]="variants.id" *ngFor="let variants of product.variant_1 let i = index"   [selected]="variants.id== ''">{{variants.value}}{{variants.unit}}</option>
                                                                 </select>
                                                                 <!-- <input type="hidden" [(ngModel)]='selectedValue' value="selectedValue" id="selvalue"> -->
                                                                </ng-container>
                                                        </div>

                                                        <div class="column">
                                                              <ng-container *ngIf="product.variant_2!=''">
                                                                        <select class="newsel"  (change)="handleSelectedValue2(product,$event.target.value)">
                                                                            <!-- <option [value]="" selected  disabled>Please select variant</option> -->
                                                                             <option [value]="variants2.id"  *ngFor="let variants2 of product.variant_2" [selected]="variants2.id == ''">{{variants2.value}}{{variants2.unit}}</option>
                                                                             </select>

                                                              </ng-container>

                                                              
                                                        </div>

                                                        <div class="quantity">
                                                                <input type="text" [(ngModel)]="product.i" name="qty">
                                                                <input type="hidden" [(ngModel)]="product.i" value="qty" class="qty{{product.master_product_id}}" >
                                                                </div>
                                                        </ng-container>
                                                </ng-container>
                                                <!--end User layout-->
                                            </div>
                                            <div class="dateandcart">
                                            <div class="row">
                                                    <div class="col-md-7">

                                                        <!-- <input type="text" readonly [ngModel]="product.sales_date_to_fulfill"  id="datenewproduct"> -->
                                                        <mat-form-field>
                                                                <input id="matdatepi" type="text" matInput [matDatepicker]="picker"  placeholder="{{product.sales_date_to_fulfill}}" [(ngModel)]="product.sales_date_to_fulfill " >
                                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                                <mat-datepicker #picker></mat-datepicker>
                                                              </mat-form-field>
                                                              <input type="hidden" [(ngModel)]="product.sales_date_to_fulfill" value="product.sales_date_to_fulfill| date: 'dd/MM/yyyy' " id="newdate{{product.master_product_id}}" class="newdate{{i}}">
                                                    </div>
                                                    <div class="col-md-5">
                                                        <div class="cartbut">
                                                        <button class="btn btn-primary cart" (click)="addtocart(product)">Add to cart</button>
                                                    </div>
                                                        </div>
                                                    </div>    
                                                    </div>            
                                        </div>   
                                                             
                                    </div>
                                </div>
                                	  
                            </div>	
                        </div>	
                       </div>
                       </ng-container>
                      </div>
                    </ng-container>

                    <ng-container>
                        <div class="lds-facebook" *ngIf="loadingnew"><div></div><div></div><div></div></div>
                        <h2 *ngIf="showtxt">No Product Found</h2>
                    </ng-container>

                    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                            <li [ngClass]="{disabled:pager.current_page === 1}">
                                <a (click)="setPage(1)">First</a>
                            </li>
                            <li [ngClass]="{disabled:pager.current_page === 1}">
                                <a (click)="setPage(pager.current_page - 1)">Previous</a>
                            </li>
                            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.current_page === page}">
                                <a (click)="setPage(page)">{{page}}</a>
                            </li>
                            <li [ngClass]="{disabled:pager.current_page === pager.totalPages}">
                                <a (click)="setPage(pager.current_page + 1)">Next</a>
                            </li>
                            <li [ngClass]="{disabled:pager.current_page === pager.totalPages}">
                                <a (click)="setPage(pager.totalPages)">Last</a>
                            </li>
                        </ul>
        </div>
    </div>
    
</div>



<!-- my category popup-->
<div  id="mycat"  role="dialog" class="modal fade">
    <div class="modal-dialog"> 
    
      <!-- Modal content-->
      <div class="modal-content mycat">
        
        <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" (click)="clodemodal()">&times;</button>
                <div class="row">
                    <ng-container *ngFor="let catlist of mycat">
                   <div class="col-md-1">
                        <input type="checkbox" class="catcheck" value="{{catlist.id}}">
                       </div>
                       <div class="col-md-10">
                           <p>{{catlist.name}}</p>
                           </div>
                           </ng-container>
                    </div>
                <button type="submit" class="datesub" (click)="mycatfilter(catlist)">Apply</button>
        </div>
      
      </div>
      
    </div>
  </div>
  <!--end cat modal-->


  <!--seller modal-->
 
<div  id="sellers"  role="dialog" class="modal fade">
        <div class="modal-dialog"> 
        
          <!-- Modal content-->
          <div class="modal-content mycat">
            
            <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" (click)="clodemodal()">&times;</button>
                    <div class="row">
                        <ng-container *ngFor="let seller of sellerdata">
                       <div class="col-md-1">
                            <input type="checkbox" class="sellercheck" value="{{seller.seller_id}}">
                           </div>
                           <div class="col-md-10">
                               <p *ngIf="seller.name!='null'">{{seller.name}}</p>
                               </div>
                               </ng-container>
                        </div>
                    <button type="submit" class="datesub" (click)="sellerfilter(seller)">Apply</button>
            </div>
          
          </div>
          
        </div>
      </div>
      <!--end seller modal-->


      <!--price filter popup-->
       <!--seller modal-->
 
<div  id="price"  role="dialog" class="modal fade">
        <div class="modal-dialog"> 
        
          <!-- Modal content-->
          <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" (click)="clodemodal()">&times;</button>
            <div class="modal-body">
                    <div class="priceslider">
                    <div class="row">
                        <ng-container>
                            
                            <p> {{minValue}}- {{maxValue}}</p>
                              <div id = "slider-6"></div>
                            
                              <p>
                                 <label for = "slidevalue">Range:</label>
                                 <input type = "text" id = "slidevalue" 
                                    style = "border:0; color:#337ab7; font-weight:bold;">
                                    <input type="hidden"  id="low">
                                    <input type="hidden" id="high">
                              </p>
                                </ng-container>
                        </div>
                        </div>
                    <button type="submit" class="datesub" (click)="pricefilter()">Apply</button>
            </div>
          
          </div>
          
        </div>
      </div>
      <!--end seller modal-->
      <!--price filter popup end-->

      <!--brand modal-->
 
<div  id="brandlast"  role="dialog" class="modal fade">
    <div class="modal-dialog"> 
    
      <!-- Modal content-->
      <div class="modal-content brandlst">
        
        <div class="modal-body">
                <button type="submit" class="datesub" (click)="brandfilter(brand)">Apply</button>
                <button type="button" class="close" data-dismiss="modal" (click)="clodemodal()">&times;</button>
               
                <div class="row">
                    <div class="newblock">
                    <ng-container *ngFor="let brand of brandsdata">
                       <div class="block1">
                   <div class="col-md-2">
                        <input type="checkbox" class="bandcheckdata" value="{{brand.name}}">
                       </div>
                       <div class="col-md-4">
                           <p *ngIf="brand.name!='null'">{{brand.name}}</p>
                           </div>
                       </div>
                           </ng-container>
                           </div>
                    </div>
                 
        </div>
       
      </div>
     
    </div>
  </div>
  <!--end brand modal-->