
h2.step {
    font-size: 20px;
    font-weight: 600;
}
.export{
    color: gray;
    background: #fff;
    border: 2px solid #170850;
    font-weight: 500;
    border-radius: 30px;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
}
.note {
    color: #F00;
    font-size: 15px;
}
button.export.file {
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    top: 0px;
    text-align: center;
}
input#csvfile1 {
    opacity: 0;
    position: relative;
    z-index: 1;
}
div#export {
    padding: 0 !important;
}
.modal-dialog.csv {
    width: 100% !important;
    max-width: 90%;
    margin: 0 auto;
    padding: 0;
}
.csv tr th {
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
}
.csv tr td {
    font-size: 12px;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
}
.csv tr td:last-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.csv {
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
}