<div class="container-fluid addseller">
    <div class="row">
        <div class="col-sm-2 px-1 bg-white sidebar">
            <div class="py-2 sticky-top flex-grow-1">
                <app-sidebar></app-sidebar>
            </div>
        </div>
        

        <div class="col" id="main">
            <div class="new">
                <div class="container">
                       
                       
                    <br/><br/>
                    <div class="row">
                        
                            <div class="col-md-2">
                              <h2 class="step">Step 1</h2>
                            </div>
                            <div class="col-md-3" >
                              <button class="export" (click)="exportorders()">Export Catalog</button>
                            </div>
                          	
                    </div>
                    <br/>
                    <div class="row">
                        
                        <div class="col-md-2">
                          <h2 class="step">Step 2</h2>
                        </div>
                        <div class="col-md-4" >
                            <a href="assets/download/bulk-process-order-template.xlsx"> <button class="export"> Download Bulk Order Template</button></a>
                        </div>
                        
                </div>
                <br/>
                <div class="row">
                        
                    <div class="col-md-2">
                      <h2 class="step">Step 3</h2>
                    </div>
                    <div class="col-md-3" >
                     
                      <button class="export file"> Upload order file </button>
                        <input type="file" id="csvfile1" (change)="fileEvent($event)" visbility="hidden">
                    
                    </div>
                    
            </div>
            <div class="row">
              
                <div class="col-md-6">
                    <br/>
                  <strong class="note">Note:</strong> <span class="note">You can add upto 100 products in one time.</span>
                </div>
              </div>
                        
                       
<!--model-->
<!--new filter dates-->
<div  id="export"  role="dialog" class="modal fade">
  <div class="modal-dialog csv">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
          Bulk Process Order
          <button class="btn btn-primary" (click)="markrtd()">View mark RTD</button>
          <button class="btn btn-primary" (click)="exportmodaldata()">Export</button>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      
      </div>
      <div class="modal-body">
            <table class="table table-responsive table-striped csv">
              <thead>
                <tr>
                  <th>Product Id</th>
                  <th>Product Name</th>
                  <th>Customer Id</th>
                  <th>Customer Name</th>
                  <th>Order Number</th>
                  <th>order Date</th>
                  <th>Dispatch by date</th>
                  <th>Outstanding Qty</th>
                  <th>Quantity</th>
                  <th>status</th>
                  <th>Comment</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of dispdataintab">
                  <ng-container *ngFor="let user of data">
                      <td title={{user}}>{{user}}</td>
                  </ng-container>
                </tr>
              </tbody>
              </table>
         
      </div>
    
    </div>
    
  </div>
</div>
<!--end modal-->
<!--end model-->
