div#main {
    padding: 0px;
    margin: 0px;
  }
  .catagories {
    background: #F1F3F6;
    box-shadow: 2px 2px  #F1F3F6;
}
h6.catnames {
  font-size: 15px;
  color: gray;
  font-weight: 600;
}

.maincat li {
  position: relative;
}
.maincat > li { 
  float: left; 
  border-bottom: 4px #aaa solid; 
  margin-right: 1px; 
} 
/* .desc {display: none;}
.desc:hover{display:block }
.maincat:hover .desc{display:block} */


#subbox0, #level3box0 {
  display: block;
  color:orange;
  background-color: white;
}
.subbox, .level3box {
  display: none;
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;  
}
.product-link :hover{
  color:orange;
}
ul.productlist li, .subbox li, .level3box li  { 
  list-style-type: none;
}
.clicklevel {
  padding: 5px 20px;
}
.clicklevel:hover {
  color: orange;
  background-color: white;
}
.clicklevel a:hover {
  color: orange;
 text-decoration: none;
}

.level2new:hover {
  color: green;
  background-color: white;
}
li.level3new:hover {
  background-color: white;
  color: blue;
}

@media only screen and (min-width: 767px) {
  li.level3new {
    padding: 5px 30px;
  }
  .level2new {
    padding: 5px 30px;
    color: black;
  }
}

@media only screen and (max-width: 767px) {
  li.level3new {
    padding: 5px 0px;
  }
  .level2new {
    padding: 5px 0px;
    color: black;
  }
  .clicklevel{
    padding: 5px 0px;
  }
  ul.productlist {
    padding: 0;
}
.column{
  word-break: break-all;
  white-space: normal;
}
}

div#subbox103{
  display:block;
}