<div class="container-fluid addseller">
  <div class="row">
      <div class="col-sm-2 px-1 bg-white sidebar">
          <div class="py-2 sticky-top flex-grow-1">
              <app-sidebar></app-sidebar>
          </div>
      </div>
      <div class="col" id="main">
          <div class="new">
              <div class="container">
                  <!-- <div class="row">

                      <div class="col-md-4">
                            <div class="catagories">

                                    <ul class="productlist" >
                                            <ng-container *ngFor="let user of ascategories; let i=index">
                                            <li class="clicklevel"  id="{{user.id}}"(mouseover)="level1click(user)" *ngIf="user.category_name!=null"><a href="javascript:void(0)" id="link{{i}}" class="product-link" >{{user.category_name}}</a></li>
                                           </ng-container>
                                        </ul> 
                           
                        </div>
                      </div>
                      <div class="col-md-4">
                            <ng-container *ngFor="let user of ascategories; let i=index">
                        
                            <div id="subbox{{user.id}}" class="subbox" >
                                    <ng-container *ngFor=" let level2 of user.level2_categories">
                                         <li>{{level2.category_name}}</li>
                                    </ng-container>
                            </div>
                          
                            </ng-container>
                      </div> 
                        </div> -->

                        <div class="row">
                            <!--first colum-->
                                <div class="column" style="background-color:#aaa;">
                                        <ul class="productlist" >
                                                <ng-container *ngFor="let user of ascategories; let i=index">
                                                <li class="clicklevel"  id="{{user.id}}"(mouseover)="level1click(user)" *ngIf="user.category_name!=null" (click)="level1onclick(user)"><a href="javascript:void(0)" id="link{{i}}" class="product-link" >{{user.category_name}}</a></li>
                                               </ng-container>
                                            </ul> 
                                </div>

                                <!--second column-->
                                <div class="column" style="background-color:#bbb;">
                                        <ng-container *ngFor="let user of ascategories; let i=index">
                        
                                                <div id="subbox{{user.id}}" class="subbox" >
                                                        <ng-container *ngFor=" let level2 of user.level2_categories">
                                                             <li id="{{level2.id}}" (mouseover)="level2click(level2)" class="level2new" (click)="level2onclick(level2)">{{level2.category_name}}</li>
                                                        </ng-container>
                                                </div>
                                              
                                                </ng-container>
                                </div>

                                <!--3rd column-->
                                <div class="column" style="background-color:#ccc;">
                                    
                                        <ng-container *ngFor="let user of ascategories">
                                                <ng-container *ngFor=" let level2 of user.level2_categories">
                                                <div id="level3box{{level2.id}}" class="level3box">
                                                        <ng-container *ngFor="let level3 of level2.level3_categories">
                                                                <li *ngIf="level3!=null" class="level3new" (click)="level3onclick(level3)">{{level3.category_name}}</li>
                                                        </ng-container>
                                                             
                                                        
                                                </div>
                                            </ng-container>
                                                </ng-container>
                                </div>
                              </div>
                  </div>
                  </div>
                  </div>
                  </div>
</div>

                  