<div class="container-fluid content">
        <div class="row">
            <div class="col-sm-2 px-1 bg-white sidebar">
                <div class="py-2 sticky-top flex-grow-1">
                    <seller-sidebar></seller-sidebar>
                </div>
            </div>


            <div class="col" id="main">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <form id="createGroup" [formGroup]="Viewgroup" (ngSubmit)="onSubmit()">
                                        <div class="form-group">
                                            <label>Enter group name</label>
                                            <input type="text" name="group_name" required class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label>Group image</label>
                                            <input type="file" name="group_image" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-success pull-right" id="createBtn">Create New group</button>
                                        </div>
                                   </form>
                            </div>
                        </div>
                    </div>
            </div>



    </div>
</div>