td.proimg img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
table.table.table-responsive.table-striped.manage tr td {
    vertical-align: middle;
    text-align: center;
}

table.table.table-responsive.table-striped.manage tr th {
    text-align: center;
    vertical-align:middle;
}