<div class="navigation">

    <ul class="bg-white">
  
        <li class="has-sub"> <a [routerLink]="['/sell-setting-catalog']">Catalog Settings</a>
  
           
  
        </li>
  
        <li class="has-sub"> <a [routerLink]="['/sell-setting-order']">Orders Settings</a>
  
            
  
        </li>
  
        <!-- <li class="has-sub"> <a>Variant Settings</a>
  
            <ul>
  
                <li><a [routerLink]="['/seller-variant-setting']">Add Variants</a>
                    
                </li>
  
                <li><a [routerLink]="['/seller-manage-variant']">View Variants</a></li>
  
  
            </ul>
  
        </li> -->
        <li class="has-sub"> <a [routerLink]="['/sell-setting-other']">Other Settings</a>
  
        

      </li>
        
  
    </ul>
  
  </div>
  
  
