
<div class="container-fluid addseller">
    <div class="row">
        <div class="col-sm-2 px-1 bg-white sidebar">
            <div class="py-2 sticky-top flex-grow-1">
                <seller-sidebar></seller-sidebar>
            </div>
        </div>
        <div class="col" id="main">
          <div class="new">
              <div class="container">
                  <!-- <div class="row">
                      <div class="col-md-12">
                          <div class="addseller">
  
                              
                              <button class="btn btn-primary features">Export Process Orders</button>
                          </div>
                      </div>
                      </div> -->
                      
                        <div class="row">
                            <div class="col-md-4">
                                               <input class="form-control" type="text"   placeholder="Search by Product Name" aria-label="Search"  id="mysearch" >
                                               <!-- <div class="input-group-addon" id="searchbar"> -->
                                                   <button class="btn btn-default btn-sm" type="submit"  id="search-btn" (click)="Searchbar()"><i class="fa fa-search"></i></button><span class="clear" (click)="clearsearch()" >Clear search</span>
                                                  
                                               <!-- </div> -->
                                           </div>
                                       
                      
                           
                           <div class="col-md-8 rightside">
                               <div class="col-md-2">
                                 <label class="apply">Filter By</label>
                                 <select id="group-by" class="form-control group-by" required >
                                     <!-- <option value="" selected>Select filter by</option> -->
                                     <option class="date" value="ddate" id="ddate" selected >Delivery Date</option>
                                     <option class="date" value="odate" id="odate">Order Date</option>
                                   
                                 </select>
                               </div> 
                               
                               <div class="col-md-3">
                                       <label class="date">From</label>
                                       <input required type="date" id="new1"  class="form-control" >
                                     
                                  </div>
                                  <div class="col-md-3">
                                       <label class="date">To</label>
                                       <input required type="date" id="new2"  class="form-control"  >
                                 
                                   </div>
     
                                  <div class="col-md-2">
                                       <label class="apply">Apply Filter</label>
                                       <button type="submit" class="btn btn-primary" id="search-btnn" (click)="searchbydates()"><i class="fa fa-search icon"></i></button>
                                  </div>
                                  <div class=" col-md-2" id="refresh">
                                       <label class="apply">Clear Filter</label>
                                       <button type="button" id="refreshBtn" class="btn btn-primary" (click)="cleardates()"><i class="fa fa-refresh icon"></i></button>
                                  </div>
                               
                           </div>   
                       </div> 
                        
                
                    <hr class="line"/>
                    <div class="row">
                      <br/>
                      <div class="col-md-4">
                        <label class="outstanding">Outstanding Orders Grouped By:   </label>
                       
                        
                        <select id="group" class="form-control group-by" (change)="handleSelectedValue($event.target.value)">
                             <option value="" selected disabled>Customer</option>
                            <option value="seller" >Customers</option>
                            <option value="product">Product Names</option>
                            <option value="order_date">Order Date</option>
                            <option value="dispatch_by_date">Deliver Date</option>
                        </select>
                      </div>
                          <div class="col-md-4">
                            <br/>
                              <div class="title">
                                <h6 class="totalquantity">Total Outstanding Order Quantity: {{outstandingorderquantity}}</h6>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <br/>
                                <div class="title">
                                  <h6 class="totalvalue">Total Outstanding Order Value: &#2352; {{outstandingordervalue}}</h6>
                                </div>
                              </div>
  
                    </div>
                    <div class="row">
                      
                        <div class="col-md-12">
                          <br/>
                        <table class="table table-hover sellerinvit">
                            <thead>
                                <tr>
                                    
                                    <th>
                                        <ng-container *ngIf="custname">
                                            Customer Name
                                    </ng-container>
                                            <ng-container *ngIf="selectedvalue =='seller'">
                                                     Customer Name
                                            </ng-container>
                                            <ng-container *ngIf="selectedvalue=='product'">
                                                Product Name
                                            </ng-container>
                                            <ng-container *ngIf="selectedvalue=='order_date'">
                                                Order Date
                                            </ng-container>
                                            <ng-container *ngIf="selectedvalue=='dispatch_by_date'">
                                                    Dispatch By date
                                                </ng-container>
                                    </th>
                                    <th>Outstanding Order Quantity</th>
                                    <th> Outstanding Order Value</th>
                                    <th>Action</th>
                                   
  
                                </tr>
                            </thead>
                            <tbody>
                                  
                                <ng-container *ngIf="ascancelorder.length!='0'">
                                      
                                  <tr *ngFor="let user of ascancelorder ">
                                          <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                          <td>
                                            <ng-container *ngIf="custname">
                                                {{user.buyer_nickname}}
                                        </ng-container>
                                                <ng-container *ngIf="selectedvalue =='seller'">
                                                        {{user.buyer_nickname}}
                                                </ng-container>
                                                <ng-container *ngIf="selectedvalue=='product'">
                                                        {{user.product_name}}
                                                </ng-container>
                                                <ng-container *ngIf="selectedvalue=='order_date'">
                                                        {{user.order_date | date: 'dd-MM-yyyy'}}
                                                </ng-container>
                                                <ng-container *ngIf="selectedvalue=='dispatch_by_date'">
                                                        {{user.deliver_by_date | date: 'dd-MM-yyyy'}}
                                                    </ng-container>
                                          </td>
                                          <td>{{user.outstanding_qty}}</td>
                                          <td>&#2352; {{user.outstanding_order_amount}}</td>
                                          <td><button class="btn btn-primary view" (click)="cancelorder(user)">View Details&nbsp;<i class="fa fa-arrow-right"></i></button></td>
                                  </tr>
                              </ng-container>
                              <ng-container *ngIf="ascancelorder.length=='0'">
                                  <tr>
                                      <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                      <td colspan="8">No Data Found</td>
                                  </tr>
                              </ng-container>
                            </tbody>
                        </table>
                      </div>
                    </div>
  