<div class="container-fluid addseller">
  <div class="row">
      <div class="col-sm-2 px-1 bg-white sidebar">
          <div class="py-2 sticky-top flex-grow-1">
              <seller-sidebar></seller-sidebar>
          </div>
      </div>
      <div class="col" id="main">
          <div class="new">
              <div class="container">
               
                  <div class="row">
                    <div class="col-md-3">
                      <div class="summary">
                        <h6 class="selsummary">Customer-{{assellreceiveddetail.buyer_nickname}}</h6>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <p class="orderdetails">Order Number: {{assellreceiveddetail.order_no}}</p>
                    </div>
                    <div class="col-md-3">
                      <p class="orderdetails">Order Date: {{assellreceiveddetail.order_date}}</p>
                    </div>
                    <div class="col-md-3">
                        <p class="orderdetails">Order Amount: &#2352; {{assellreceiveddetail.totalAmt}}</p>
                      </div>
                      <div class="col-md-3">
                        <p class="orderdetails">Order Qty: {{assellreceiveddetail.totalQty}}</p>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-7">
                          <p class="orderdetails">Delivery Address: {{assellreceiveddetail.address_line_1}},{{assellreceiveddetail.city}} - {{assellreceiveddetail.pincode}}</p>
                        </div>
                        
                  </div>

               
                  <div class="row">
                        <div class="col-md-12">
                          <br/>
                          <table class="table table-hover sellerinvit">
                            <thead>
                                <tr>
                                    <th>Product Image</th>
                                    <th>Product Name</th>
                                    <th>Other Product Details</th>
                                    <th>Order Qty</th>
                                    <th>Deliver By Date</th>
                                  </tr>
                              </thead>
                              
                              <tbody>
                                  <ng-container *ngIf="assellreceived.length!='0'">
                                      <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                  <tr *ngFor = "let user of assellreceived">
                                      
                                      <td class="sellerprof">
                                          <img [src]='user.landing_image'>
                                        </td>
                                        <td>{{user.product_name}}</td>
                                        <td>Selling Price- &#2352; {{user.rate}}<br/>Time to Fullfill- {{user.sales_time_to_fulfill}}</td>
                                        <td>{{user.product_level_quantity}}</td>
                                        <td>{{user.deliver_by_date | date: 'dd-MM-yyyy'}}</td>
                                       

                                </tr>
                                </ng-container>
                                <ng-container *ngIf="assellreceived.length=='0'">
                                    <tr>
                                        <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                        <td colspan="8">No Data Found</td>
                                      </tr>
                                </ng-container>
                              </tbody>
                            </table>
                          </div>
                        </div>
              </div>
          </div>
      </div>
  </div>
</div>
                    




