.summary {
    margin-top: 30px;
}
h6.selsummary {
    font-size: 16px;
    font-weight: 600;
    color: #ec7d30;
}
p.orderdetails {
    font-size: 13px;
    font-weight: 600;
}
table.table.table-hover.sellerinvit tr th {
    font-size: 13px;
    text-align: left;
    border: 1px solid #ccc;
    vertical-align: left;
    
}
td.sellerprof img{
  /* border-radius: 50%; */
  width: 60px;
  
}
table.table.table-hover.sellerinvit td {
    font-size: 12px;
    text-align: left;
   
}