<div class="container-fluid addseller">
  <div class="row">
      <div class="col-sm-2 px-1 bg-white sidebar">
          <div class="py-2 sticky-top flex-grow-1">
              <app-sidebar></app-sidebar>
          </div>
      </div>
      <div class="col" id="main">
          <div class="new">
              <div class="container">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="addseller">

                              <button class="btn btn-primary features">Delete</button>
                              <button class="btn btn-primary features">Add New</button>
                          </div>
                      </div>
                      <div class="col-md-12">

                          <table class="table table-hover sellerinvit">
                              <thead>
                                  <tr>
                                      <th style="text-align: left" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=": activate to sort column ascending">
                                          <input type="checkbox" value="1" class="checkeAll" name="select_all" id="checkAll">
                                      </th>
                                      <th>First Level Category </th>
                                      <th>Second Level Category</th>
                                      <th>Third Level Category</th>
                                      <th>Combination Name</th>
                                     

                                  </tr>
                              </thead>
                              <tbody>

                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>
