td.mangtd img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.manage tr td {
    text-align: center;
    vertical-align: middle;
}
.manage tr th {
    text-align: center;
    vertical-align: middle;
}