<div class="container-fluid addseller">
    <div class="row">
        <div class="col-sm-2 px-1 bg-white sidebar">
            <div class="py-2 sticky-top flex-grow-1">
                <seller-sidebar></seller-sidebar>
            </div>
        </div>
        <div class="col" id="main">
            

                <div class="new">
            <!--table start-->
            <div class="container">

                <!--filter category -->
                <div class="row">
                    <div class="col-md-8">
               
                      </div>
                      <div class="col-md-4">
                      
                      <div class="managdel">
                          <button class="btn btn-primary" (click)="notifyseller()" >Notify Seller</button>
                        </div>
                        </div>
                        </div>
                     
                <!--filter category end-->




                <!--search bar-->
                    <div class="searchbar">
                        <form  [formGroup]="search" (ngSubmit)="searchsub()">
                            <div class="search">
                               <input type="text" formControlName="search" class="searchTerm" placeholder="What are you looking for?">
                               <button type="submit" class="searchButton">
                                 <i class="fa fa-search"></i>
                              </button>
                            <span class="clear"  >Clear search</span>
                            </div>
                            </form>
                         </div>
                         <!--search bar end-->

                    <table class="table table-responsive table-striped manage">
                        <thead>
                            <tr>
                                    <th style="text-align: left; ;" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=": activate to sort column ascending"><input type="checkbox"   class="checkall" name="select_all" id="checkAll"  ></th>
                                <th>Product Image</th>
                                <th>Product Name</th>
                                <th>Category</th>
                                <th>Variant 1</th>
                                <th>Variant 2</th>

                                
                            </tr>
                        </thead>
                        
                        <tbody>
                            <ng-container *ngIf="total!=0">
                                <td colspan="8" *ngIf="loadingnew" style="text-align: center;"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                              <tr *ngFor="let supplier of products">
                                  <td style="text-align: left; ;" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=": activate to sort column ascending"><input type="checkbox"  value="{{supplier.id}}" class="sellerinv" name="select_all" id="singlecheck"  ></td>
                                <td class="mangtd"><img [src]="supplier.landing_image"></td>
                                <td>{{supplier.product_name}}</td>
                                <td>{{supplier.level_3_category}}</td>
                                <td>{{supplier.variant_type1}}({{supplier.variant1_levels}})</td>
                                <td>{{supplier.variant_type2}}({{supplier.variant2_levels}})</td>
                               
                                
                              </tr>
                            </ng-container>
                        <ng-container *ngIf="total=='0'">
                                <td colspan="8" *ngIf="loadingnew" style="text-align: center;"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                          
                            <td colspan="10">No data found</td>
                            
                        </ng-container>

                        </tbody>
                    
                       
                    </table>
                    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                            <li [ngClass]="{disabled:pager.current_page === 1}">
                                <a (click)="setPage(1)">First</a>
                            </li>
                            <li [ngClass]="{disabled:pager.current_page === 1}">
                                <a (click)="setPage(pager.current_page - 1)">Previous</a>
                            </li>
                            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.current_page === page}">
                                <a (click)="setPage(page)">{{page}}</a>
                            </li>
                            <li [ngClass]="{disabled:pager.current_page === pager.totalPages}">
                                <a (click)="setPage(pager.current_page + 1)">Next</a>
                            </li>
                            <li [ngClass]="{disabled:pager.current_page === pager.totalPages}">
                                <a (click)="setPage(pager.totalPages)">Last</a>
                            </li>
                        </ul>
                   
          
            </div>
            </div>
          </div>
          </div>
          </div>
        

        