<div class="container-fluid addseller">
    <div class="row">
        <div class="col-sm-2 px-1 bg-white sidebar">
            <div class="py-2 sticky-top flex-grow-1">
                <app-seller-settings></app-seller-settings>
            </div>
        </div>
  
        <div class="col" id="main">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                          <div class="addseller">
                                  
                                  <button class="btn btn-primary features">Couldn't Find My Variant Type </button>
                                  <button class="btn btn-primary features">Save</button>
                          </div>
                  </div>
                  </div>
                  <hr class="line"/>
                  <div class="row">
                    <div class="col-md-4">
                      <a [routerLink]="['/buy-variant-setting']">Variants Settings</a><span class="add">::Add Variant</span>
                    </div>
                  
                  
                    
                    <div class="col-md-8">
                        
                        
                      <select class="category-type">
                        <option>Select Variant Type</option>
                      </select>
                    </div>
                 </div>
                  </div>
                  </div>
                  </div>
                  </div>
                  
                 
  