button.btn.btn-primary.features {
    background-color: #2F5597;
    border-color: transparent;
    border-radius: 6%;
    margin-left: 35px;
    font-size: 16px;
    text-shadow: none;
    font-weight: 600;
    display: block;
    min-width: 100px;
    text-align: center;
    float: right;
    border-radius: 30px;
    margin-top: 16px;
}
span.add {
    color: gray;
    margin-left: 5px;
}
select.category-type {
    width: 50%;
    height: 35px;
    font-size: 14px;
    border-radius: 30px;
    background: none;
}