i.fa.fa-file-pdf-o {
    color: red;
    font-size: 20px;
}
.manage tr th, .manage tr td{
    text-align:center;
    vertical-align: middle;
}

.applyfilt {
    display: grid;
}
div#refresh {
    display: grid;
}
div#refresh button {
    width: 50px;
}
.applyfilt button {
    width: 50px;
}
.topbar {
    padding: 20px 0px;
}
.managdel {
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
}