<div class="container-fluid addseller">
  <div class="row">
      <div class="col-sm-2 px-1 bg-white sidebar">
          <div class="py-2 sticky-top flex-grow-1">
              <seller-sidebar></seller-sidebar>
          </div>
      </div>
      <div class="col" id="main">
          

              <div class="new">
          <!--table start-->
          <div class="container">

              <!--filter category -->
              <div class="topbar">
              <div class="row">
                <div class="col-md-10">
                 
                  <form [formGroup]="Filterbydates" (ngSubmit)="onSubmit()">
                      <div class="row">
                      <div class="col-md-4">
                          <label class="date">From</label>
                          <input required type="date" id="new1" formControlName="fromdate" class="form-control"  [ngClass]="{ 'is-invalid': submitted && g.fromdate.errors }">
                          <div *ngIf="submitted && g.fromdate.errors" class="invalid-feedback">
                                  <div *ngIf="g.fromdate.errors.required" class="newwar">From date is required</div>
                              </div>
                     </div>
                     <div class="col-md-4">
                          <label class="date">To</label>
                          <input required type="date" id="new2" formControlName="todate"  class="form-control"  [ngClass]="{ 'is-invalid': submitted && g.todate.errors }">
                          <div *ngIf="submitted && g.todate.errors" class="invalid-feedback">
                                  <div *ngIf="g.todate.errors.required" class="newwar">To date is required</div>
                              </div>
                      </div>
                      <div class="col-md-2" class="applyfilt">
                          <label class="apply">Apply Filter</label>
                          <button type="submit" class="btn btn-primary" id="search-btnn" type="submit"><i class="fa fa-search"></i></button>
                     </div>
                     <div class=" col-md-2" id="refresh">
                          <label class="apply">Clear Filter</label>
                          <button type="button" id="refreshBtn" class="btn btn-primary" (click)="cleardates()"><i class="fa fa-refresh"></i></button>
                     </div>
                    </div>
                    </form>
                    
                </div>
                  
                    <div class="col-md-2">
                    
                    <div class="managdel">
                        <button class="btn btn-primary addp" (click)="export()">Export</button>
                      </div>
                      </div>
                      </div>
                      </div>
                   
              <!--filter category end-->




              <!--search bar-->
                 

                  <table class="table table-responsive table-striped manage">
                      <thead>
                          <tr>
                          
                              <th>Invoice Id</th>
                              <th>payment Reference Id</th>
                              <th>Payment Date</th>
                              <th>Payment Amount</th>
                              <th>Download Invoice</th>

                              
                          </tr>
                      </thead>
                      
                      <tbody>
                            <ng-container *ngIf="points!='0'">
                              <td colspan="8" *ngIf="loadingnew" style="text-align: center;"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                            <tr *ngFor="let payment of invoice">
                              <td>{{payment.id}}</td>
                              <td>{{payment.payment_reference}}</td>
                              <td>{{payment.date_added}}</td>
                              <td>{{payment.total_amount}}</td>
                              <td><a href="{{payment.pdf_url}}"><i class='fa fa-file-pdf-o' aria-hidden="true"></i></a></td>

                            </tr>
                            </ng-container>
                    
                      <ng-container *ngIf="points=='0'">
                              <td colspan="8" *ngIf="loadingnew" style="text-align: center;"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                        
                          <td colspan="10">No data found</td>
                          
                      </ng-container>

                      </tbody>
                  
                     
                  </table>
            
                 
        
          </div>
          </div>
        </div>
        </div>
        </div>