<div class="container-fluid content">
        <div class="row">
            <div class="col-sm-2 px-1 bg-white sidebar">
                <div class="py-2 sticky-top flex-grow-1">
                    <app-sidebar></app-sidebar>
                </div>
            </div>

            <div class="col" id="main">
                    <div class="container">
                        <div class="row">
                            
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <div class="row">
                               <ng-container *ngFor="let user of asinvitedseller">
                                   <div class="col-md-2 listbox">
                                        <img src="assets/images/default-profile.png" class="img-circle customer" >
                                        <h6 class="phone">PH:{{user.mobile}}</h6>           
                                                
                                    </div>        
                                </ng-container>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                    </div>
    
    </div>
</div>