.sidebar{
    box-shadow: 10px 10px 10px #d8d6d6;
}
.content{
    min-height: 500px;
}
img.img-circle.customer {
    width: 70px;
    border-radius: 50%;
}
.listbox {
    box-shadow: 0px 2px 2px 2px #d8d6d6;
    margin-top: 20px;
    text-align: center;
    margin-right: 28px;

}
.phone{
    font-size: 13px;
    font-weight: 600;
}