button.btn.btn-primary.features {
    background-color: #01205E;
    border-color: transparent;
    border-radius: 6%;
    padding: 7px 10px;
    font-size: 15px;
    text-shadow: none;
    font-weight: 600;
    display: block;
    width:22%;
    float:right;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
} 
table.table.table-hover.sellerinvit tr th {
    font-size: 13px;
    text-align: left;
    border: 1px solid #ccc;
    vertical-align: left;
       
}
td.sellerprof img {
    width: 50px;
    border-radius:50%;
}
table.table.table-hover.sellerinvit td {
    font-size: 12px;
    text-align: left;
}
h6.filter {
    color: orange;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
}
.rightside{
    display:inherit;
}
label{
    margin: 0px;
}
label.apply {
    color: orange;
    font-size: 12px;
    font-weight: 600;
}
.date{
    font-size: 13px;
    font-weight: 600;
}
#mysearch:focus + .input-group-addon {
    z-index: 10;
  }
  
  #search-btn:hover {
    cursor: pointer;
    /*color: gold;*/
    /* background-color: none; */
  }
  #mysearch{
      padding-left: 20px; 
      border-radius: 40px;
      height: 35px;
  }
  #searchbar{
      margin-left: -50px; 
      z-index: 3;
       /* border-radius: 40px; */
        background-color: transparent; 
      border:none;
  }
  #search-btn{
      /* border-radius: 20px; */
      margin-top: 3px;
      background: none;
  }
  span.clear {
      display: block;
      font-size: 13px;
    font-weight: 600;
    color: #ed7d31;
  }
  i.fa.fa-search {
    font-size: 18px;
    color: gray;
}
span.mark {
    font-size: 13px;
    font-weight: 600;
}
.out{
    color: #91d04f;
    font-weight: 600;
}
.dispatch{
    color: #01205e;
    font-weight: 600;
}
.cancel{
    color: #ed7d31;
    font-weight: 600;
}


.readonly{
    background-color: #ccc;
    border:1px solid #000;
}
.unread{
    cursor: not-allowed;
}