<div class="container-fluid addseller">
    <div class="row">
        <div class="col-sm-2 px-1 bg-white sidebar">
            <div class="py-2 sticky-top flex-grow-1">
                <app-sidebar></app-sidebar>
            </div>
        </div>
        <div class="col" id="main">
          <div class="new">
              <div class="container">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="addseller">
  
                              <button class="btn btn-primary features">Delete Product/s</button>
                              
                          </div>
                      </div>
                      </div>
                      <hr class="line"/>
                      <div class="row">
                          <div class="col-md-5">
                                <form class="form" [formGroup]="Searchseller" (ngSubmit)="onSubmitsearch()">
                                          <div class="input-group">
                                              <input class="form-control" type="text"  formControlName="product_name" placeholder="Search by Product Name" aria-label="Search"  id="mysearch" [ngClass]="{ 'is-invalid': submitted && f.product_name.errors }">
                                              <div class="input-group-addon" id="searchbar">
                                                  <button class="btn btn-default btn-sm" type="submit"  id="search-btn"><i class="fa fa-search"></i></button><span class="clear" (click)="clearsearch()" >Clear search</span>
                                                  <div *ngIf="submitted && f.product_name.errors" class="invalid-feedback">
                                                      <div *ngIf="f.product_name.errors.required" class="newwar">Username is required</div>
                                                  </div>
                                              </div>
                                          </div>
                                      </form>
                          </div>
                          
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <br/>
                                <table class="table table-hover sellerinvit">
                                  <thead>
                                      <tr>
                                          <th style="text-align: left; ;" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=": activate to sort column ascending"><input type="checkbox" value="1" class="checkeAll" name="select_all" id="checkAll" ></th>
                                          <th> Seller Name</th>
                                         
                                          <th>Product Name</th>
                                          <th>Product Image</th>
                                          <th>Category</th>
                                          <th>MRP</th>
                                          <th>Selling Price</th>
                                          <th>Days to Fulfill</th>
                                          <th>Variant1</th>
                                          <th>Variant2</th>
                                          
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        <ng-container *ngIf="asviewsellerprodlist!=0">
                                            <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                        <tr *ngFor = "let user of asviewsellerprodlist">
                                            <td style="text-align: left; ;" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=": activate to sort column ascending"><input type="checkbox" value="1" class="checkeAll" name="select_all" id="checkAll" ></td>
                                            
                                              <td>{{user.seller_nickname}}</td>
                                              <td>{{user.master_product_name}}</td>
                                               <td class="sellerprof">
                                                <img [src]='user.img_1'>
                                              </td> 
                                              <td>{{user.level_3_category}}</td>
                                              <td>&#2352; {{user.level_categories.sales_mrp}} </td>
                                              <td>&#2352; {{user.selling_price}}</td>
                                              <td>{{user.sales_time_to_fulfill}}</td>
                                               
                                              <td>{{user.variant_type1}}({{user.variant1_levels}})</td>
                                              <td>{{user.variant_type2}}({{user.variant2_levels}})</td>
                                              
                                             
                                             
                                             
      
                                      </tr>
                                      </ng-container>
                                      <ng-container *ngIf="asviewsellerprodlist==0">
                                          <tr>
                                              <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                              <td colspan="8">No Data Found</td>
                                            </tr>
                                      </ng-container>
                                    </tbody>
                                  </table>
                                </div>
                              </div>



