<div class="container-fluid addseller">
        <div class="row">
            <div class="col-sm-2 px-1 bg-white sidebar">
                <div class="py-2 sticky-top flex-grow-1">
                    <seller-sidebar></seller-sidebar>
                </div>
            </div>
            <div class="col" id="main">
                
    
                    <div class="new">
                <!--table start-->
                <div class="container">
                        <form  [formGroup]="revsellprice" (ngSubmit)="onSubmit()">
                    <!--filter category -->
                    <div class="row">

                            
                        <div class="col-md-8">
                            
                    <!--search bar-->
                        <div class="searchbar">
                            <form [formGroup]="search" (ngSubmit)="searchsub()">
                            <div class="search">
                               <input type="text" class="searchTerm" id="searchpro" formControlName="product-name" placeholder="What are you looking for?">
                               <button type="submit" class="searchButton">
                                    <button type="submit">Search</button><span class="clear" (click)="clearsearh()" >Clear search</span>
                                 <i class="fa fa-search"></i>
                              </button>
                            </div>
                            </form>
                         </div>
                         <!--search bar end-->
                          </div>
                          <div class="col-md-4">
                          <div class="confirm">
                          <button class="btn btn-primary">Confirm</button>
                        </div>
                            </div>
                            </div>
                         
                    <!--filter category end-->
    
    
    
    
                            
                        <table class="table table-responsive table-striped manage">
                            <thead>
                                <tr>
                                        <th style="text-align: left;" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=": activate to sort column ascending"><input type="checkbox" value="1" class="checkeAll" name="select_all" id="checkAll" ></th>
                                    <th>Product Image</th>
                                    <th>Product Name</th>
                                    <th>Customer Name</th>
                                    <th>Category</th>
                                    <th>MRP</th>
                                    <th>Current Selling price</th>
                                    <th>Revised Selling Price</th>
                                  
                                </tr>
                            </thead>
                            
                            <tbody>
                               
                                <ng-container *ngIf="loadcustomerproducts!=0">
                                    <td colspan="8" *ngIf="loadingnew" style="text-align: center;"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                <tr  *ngFor="let load of loadcustomerproducts">
                                        <td style="text-align: left; ;" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=": activate to sort column ascending"><input type="checkbox" value="{{load.id}}" attr.data-value="{{load.customer.id}}" class="sellerinv" name="select_all" id="singlecheck" ></td>
                                    <td class="proimg"> <img [src]="load.landing_image"></td>
                                    <td >{{load.master_product_name}}</td>
                                    <td>{{load.customer.fullname}}</td>
                                    <td>{{load.level_3_category}}</td>
                                    <td>{{load.sales_mrp}}</td>
                                    <td id="getvalue_{{load.id}}">{{load.actual_selling_price}}</td>
                                    <td><input id="row_{{load.id}}" type="text" formControlName="suggested_selling_price" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.suggested_selling_price.errors }">
                                        <div *ngIf="submitted && f.suggested_selling_price.errors" class="invalid-feedback">
                                                <div *ngIf="f.suggested_selling_price.errors.required" class="newwar">suggested selling price is required</div>
                                            </div>
                                    </td>
                                     </tr>
                                   
                                </ng-container>
                            <ng-container *ngIf="loadcustomerproducts==0">
                                    <td colspan="8" *ngIf="loadingnew" style="text-align: center;"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                              
                                <td colspan="10">No data found</td>
                                
                            </ng-container>
    
                            </tbody>
                        
                           
                        </table>
                    
                        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                                <li [ngClass]="{disabled:pager.current_page === 1}">
                                    <a (click)="setPage(1)">First</a>
                                </li>
                                <li [ngClass]="{disabled:pager.current_page === 1}">
                                    <a (click)="setPage(pager.current_page - 1)">Previous</a>
                                </li>
                                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.current_page === page}">
                                    <a (click)="setPage(page)">{{page}}</a>
                                </li>
                                <li [ngClass]="{disabled:pager.current_page === pager.totalPages}">
                                    <a (click)="setPage(pager.current_page + 1)">Next</a>
                                </li>
                                <li [ngClass]="{disabled:pager.current_page === pager.totalPages}">
                                    <a (click)="setPage(pager.totalPages)">Last</a>
                                </li>
                            </ul>
                        </form>      
                </div>
          
                </div>
           
              </div>
           
              </div>
              </div>
            
    
              <!--category modal-->
              