.proimg img{
    width: 60px;
    height:60px;
    border-radius:50%;
}

table.table.table-responsive.table-striped.manage tr td {
    text-align: center;
}

table.table.table-responsive.table-striped.manage tr th {
    text-align: center;
}
.confirm {
    vertical-align: bottom;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0px;
}