
<div class="container-fluid addseller">
    <div class="row">
        <div class="col-sm-2 px-1 bg-white sidebar">
            <div class="py-2 sticky-top flex-grow-1">
                <app-seller-settings></app-seller-settings>
            </div>
        </div>
  
        <div class="col" id="main">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                          <div class="addseller">
                                  
                                  <button class="btn btn-primary features">Save</button>
  
                          </div>
                  </div>
                  </div>
                  <hr class="line"/>
                  <div class="row">
                    <div class="col-md-7">
                      <p class="set">I do door-step delivery</p>
                    </div>
                    <div class="col-md-5">
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                          </label>
                    </div>
                  </div>
                  <br/>
                  <div class="row">
                    <div class="col-md-7">
                      <p class="set">Show this as message to my customers when they place order while I am unable to do door-step delivery</p>
                    </div>
                    <div class="col-md-5">
                      <textarea class="type" readonly> </textarea>
                    </div>
                  </div>
                  <br/>
                  <div class="row">
                      <div class="col-md-7">
                        <p class="set">Default number of days to deliver a product (Zero indicates delivery within 24 hours)</p>
                      </div>
                      <div class="col-md-5">
                        <input type="text" class="code">
                      </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-7">
                          <p class="set">Allow this as maximum order quantity for each product when my customer places orders</p>
                        </div>
                        <div class="col-md-5">
                          <input type="text" class="code">
                        </div>
                      </div>