
<div class="container-fluid addseller">
    <div class="row">
        <div class="col-sm-2 px-1 bg-white sidebar">
            <div class="py-2 sticky-top flex-grow-1">
                <app-sidebar></app-sidebar>
            </div>
        </div>
        <div class="col" id="main">
            <div class="new">
                <div class="container">
                 
                    <div class="row">
                      <div class="col-md-3">
                        <div class="summary">
                          <h6 class="selsummary">Seller-{{ascancelleddetails.seller_nickname}}</h6>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <p class="orderdetails">Cancelled No: {{ascancelleddetails.cancel_no}}</p>
                      </div>
                      <div class="col-md-3">
                        <p class="orderdetails">Cancelled Date: {{ascancelleddetails.cancel_date}}</p>
                      </div>
                      <div class="col-md-3">
                          <p class="orderdetails">Total Amount: &#2352; {{ascancelleddetails.total_cancel_amount}}</p>
                        </div>
                        <div class="col-md-3">
                          <p class="orderdetails">Quantity: {{ascancelleddetails.total_cancel_qty}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="orderdetails">Delivery Address: {{ascancelleddetails.address_line_1}},{{ascancelleddetails.city}} - {{ascancelleddetails.pincode}}</p>
                          </div>
                    </div>
  
                 
                    <div class="row">
                          <div class="col-md-12">
                            <br/>
                            <table class="table table-hover sellerinvit">
                              <thead>
                                  <tr>
                                      <th>Product Image</th>
                                      <th>Product Name</th>
                                      <th>Other Product Details</th>
                                      <th>Qty</th>
                                      <th>Reason</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    <ng-container *ngIf="ascancelledsummary.length!='0'">
                                        <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                    <tr *ngFor = "let user of ascancelledsummary">
                                        
                                        <td class="sellerprof">
                                            <img [src]='user.landing_image'>
                                          </td>
                                          <td>{{user.product_name}}</td>
                                          <td>Cost- &#2352; {{user.rate}}</td>
                                          <td>{{user.product_level_quantity}}</td>
                                          <td>{{user.reason}}</td>
  
                                  </tr>
                                  </ng-container>
                                  <ng-container *ngIf="ascancelledsummary.length=='0'">
                                      <tr>
                                          <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                          <td colspan="8">No Data Found</td>
                                        </tr>
                                  </ng-container>
                                </tbody>
                              </table>
                            </div>
                          </div>
                </div>
            </div>
        </div>
    </div>
  </div>
                      
  