
    
  #input100, #input1001 {
  
      font-family: Poppins-Medium;
      font-size: 15px;
      line-height: 1.5;
      color: #666666;
      display: block;
      width: 100%;
      background: #e6e6e6;
      height: 50px;
      border-radius: 25px;
      padding: 0 30px 0 68px;
      border: 1px solid #01205e75;
  
  }
  .wrap-input100, .wrap-input1001 {
  
      position: relative;
      width: 100%;
      z-index: 1;
      margin-bottom: 10px;
  
  }
  .focus-input100, .focus-input1001 {
  
      display: block;
      position: absolute;
      border-radius: 25px;
      bottom: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      box-shadow: 0px 0px 0px 0px;
      color: #fff;
  
  }
  .symbol-input100, .symbol-input1001 {
  
      font-size: 15px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      position: absolute;
      border-radius: 25px;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding-left: 35px;
      pointer-events: none;
      color: #666666;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;
  
  }
  .btn.btn-primary.input100:hover {
      background: #333333;
    }
  .btn.btn-primary.input100 {
  
      font-family: Poppins-Bold;
      font-size: 15px;
      line-height: 1.5;
      color: #fff;
      text-transform: uppercase;
      width: 100%;
      height: 50px;
      border-radius: 25px;
      background: #57b846;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 25px;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;
  
  }
  /* .inputlogin {
  
      font-family: romand;
      font-size: 30px;
      color: #01205e;
      font-weight:800;
      line-height: 1.2;
      text-align: center;
      width: 100%;
      display: block;
      padding-bottom: 15px;
  
  } */
  .inputlogin{
    font-family: Poppins-Medium;
      font-size: 30px;
      color: #fff;
      line-height: 1.2;
      text-align: center;
      text-transform: uppercase;
      display: block;
  }
  input:focus::-webkit-input-placeholder { color:transparent; }
  input:focus:-moz-placeholder { color:transparent; }
  input:focus::-moz-placeholder { color:transparent; }
  input:focus:-ms-input-placeholder { color:transparent; }
  
  textarea:focus::-webkit-input-placeholder { color:transparent; }
  textarea:focus:-moz-placeholder { color:transparent; }
  textarea:focus::-moz-placeholder { color:transparent; }
  textarea:focus:-ms-input-placeholder { color:transparent; }
  
  input::-webkit-input-placeholder { color: #999999; }
  input:-moz-placeholder { color: #999999; }
  input::-moz-placeholder { color: #999999; }
  input:-ms-input-placeholder { color: #999999; }
  
  textarea::-webkit-input-placeholder { color: #999999; }
  textarea:-moz-placeholder { color: #999999; }
  textarea::-moz-placeholder { color: #999999; }
  textarea:-ms-input-placeholder { color: #999999; }
  
  
  #input100:focus + .focus-input100, #input1001:focus + .focus-input1001 {
      -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
      animation: anim-shadow 0.5s ease-in-out forwards;
    }
    
    @-webkit-keyframes anim-shadow {
      to {
        box-shadow: 0px 0px 70px 25px;
        opacity: 0;
      }
    }
    
    @keyframes anim-shadow {
      to {
        box-shadow: 0px 0px 70px 25px;
        opacity: 0;
      }
    }
    .invalid-feedback{display:block !important;}
  
  
    .container.login {
      padding-top: 50px;
  }
  .col-md-6.seller {
      padding-top: 50px;
  }
  .col-md-6.login {
      padding-top: 40px;
  }
  .newwar {
    padding-left: 20px;
    color: black;
    font-size: 13px;
    font-weight: 600;
  }
  
  
  
  img.face:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  .col-md-6.login {
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    padding: 55px 55px 37px 55px;
    background: #9152f8;
    background: -webkit-linear-gradient(to bottom, #7579ff, #b224ef);
    background: -o-linear-gradient(to bottom, #7579ff, #b224ef);
    background: -moz-linear-gradient(to bottom, #7579ff, #b224ef);
    background: linear-gradient(to bottom, #7579ff, #b224ef);
    /* background-image: linear-gradient(to bottom, #7579ff, #b224ef); */
    margin: 0 auto;
    top:0px;
  }
  img.loginlogo {
    font-size: 60px;
    color: #333333;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  .loginbackground {
    background: url('/assets/bg-00.png');
    height: 100%;
    min-height: 100% !important;
    background-size: contain;
  }
  .loginpage {
    padding-top: 40px;
    padding-bottom: 98px;
}
.new {
  border-right: solid;
  border-color: orange;
}
.col-md-8.contant h1 {
  color: #ED7D31;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}
.firstcolumns {
  padding-top: 40px;
}
.basinlogo {
  padding-bottom: 20px;
}
a.knowmore {
  color: white;
}
.new h3 {
  color: #26A040;
  text-align: center;
}
.new p, .new1 p {
  text-align: center;
  font-size: 20px;
}
.new span, .new1 span {
  font-weight: bold;
}
.new1 h3 {
  text-align: center;
  color: #01205E;
}
.new button, .new1 button{
  display: block;
  margin: 0 auto;;
}
a.create {
  color: white;
}

@media only screen and (max-width: 767px) {
  .col-md-4.login {
    padding-top: 50px;
}
}
.fade:not(.show) {
  opacity: 1 !important;
}
.modal-dialog {
  top: 120px !important;
}