<div class="container-fluid addseller">
  <div class="row">
      <div class="col-sm-2 px-1 bg-white sidebar">
          <div class="py-2 sticky-top flex-grow-1">
              <app-sidebar></app-sidebar>
          </div>
      </div>

      <div class="col" id="main">
            <div class="new">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="addseller">
    
                                <button class="btn btn-primary features" [routerLink]="['/buyer-place-order-new']">Continue Shopping</button>
                                <button class="btn btn-primary features"(click)="quickcheckout()">Quick Checkout</button>
                                

                            </div>
                        </div>
                        </div>
                        <hr class="line"/>
                        <div class="row">
                                <div class="col-md-12">
                                  <br/>
                                  <table class="table table-hover sellerinvit">
                                    <thead>
                                        <tr>
                                            <th style="text-align: left; ;" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=": activate to sort column ascending"><input type="hidden"  class="checkeAll1" name="select_all" id="checkAll1" ></th>
                                            <th>Seller Image</th>
                                            <th>Seller Name</th>
                                            <th>Quantity</th>
                                            <th>Amount</th>
                                            <th>Doorstep Delivery</th>
                                            <th>Delivery Address</th>
                                            <th>Opt Self Pickup</th>
                                            <th>Action</th>
                                          </tr>
                                      </thead>
                                      
                                      <tbody>
                                          <ng-container *ngIf="asbuyercart.length!='0'">
                                              <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                          <tr *ngFor = "let user of asbuyercart">
                                              <td style="text-align: left; ;" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=": activate to sort column ascending"><input type="radio" value="{{user.seller_id}}"  attr.data-ddate="{{user.deliver_by_date}}" attr.data-bpickup="{{user.buyer_pickup}}" class="checkeAll" name="select_all" id="checkAll" ></td>
                                              <td class="sellerprof">
                                                  <img [src]='user.profile_image'>
                                                </td>
                                                <td>{{user.seller_nickname}}</td>
                                                <td>{{user.quantity}}</td>
                                                <td>&#2352; {{user.selling_price}}</td>
                                                <td>{{user.s_home_delivery_status}}</td>

                                                <td class="addresschage">
                                                        <ng-container *ngIf="user.s_home_delivery_status=='Yes'">
                                                    <ng-container *ngIf="dispcustadd">
                                                    {{user.address_line_1}},{{user.city_s}}-{{user.pincode_s}}
                                                    </ng-container>
                                                    <ng-container *ngIf="dispselleradd">
                                                        {{user.seller_address}}
                                                    </ng-container>
                                                    </ng-container>
                                                    <ng-container *ngIf="user.s_home_delivery_status=='No'">
                                                            {{user.address_line_1}},{{user.city_s}}-{{user.pincode_s}}
                                                    </ng-container>
                                                </td>
                                                <ng-container *ngIf="user.s_home_delivery_status=='Yes'">
                                                 <td>
                                                     <input type="radio" name="status" checked value='1' class="optyes" (change)="onFilterChange($event,value)" >Yes<br>
                                                    <input type="radio" name="status" value='0' class="optno" (change)="onFilterChangeno($event, value)">No

                                          
                                                </td>
                                                </ng-container>
                                                <ng-container *ngIf="user.s_home_delivery_status=='No'">
                                                    <td><input type="radio"  value="1" checked>Yes<br/></td>
                                                </ng-container>
                                                

                                                <td><button class="btn btn-primary view" (click)="cartdetail(user)">View Details&nbsp;<i class="fa fa-arrow-right"></i></button></td>
                                               
        
                                        </tr>
                                        </ng-container>
                                        <ng-container *ngIf="asbuyercart.length=='0'">
                                            <tr>
                                                <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                                <td colspan="8">No Data Found</td>
                                                <td colspan="8"><button type="button" class="btn btn-primary"><a  class="start" [routerLink]="['/buyer-place-order-new']" >Start Shopping</a></button></td>
                                              </tr>
                                        </ng-container>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
