<div class="container-fluid content">
  <div class="row">
      <div class="col-sm-2 px-1 bg-white sidebar">
          <div class="py-2 sticky-top flex-grow-1">
              <app-sidebar></app-sidebar>
          </div>
      </div>

      <div class="col" id="main">
          <div class="new">
              <div class="container">
                  <div class="row">
                      <div class="col-md-12">
                        <br/><br/>
                      <table class="table table-hover sellerinvit">
                          <thead>
                              <tr>
                                  
                                  <th>Seller Image</th>
                                  <th>Seller Name</th>
                                  <th>PRO Number</th>
                                  <th>Date</th>
                                  <th>Action</th>
                                  
                                 

                              </tr>
                          </thead>
                            
                          <tbody>
                              <ng-container *ngIf="asproposedorder.length!='0'">
                              <tr *ngFor = "let user of asproposedorder">
                                  <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                  <td class="sellerprof">
                                    <img [src]='user.profile_image'>
                                  </td>
                                  <td>{{user.seller_nickname}}</td>
                                  <td>{{user.PRO_no}}</td>
                                  <td>{{user.PRO_Date}}</td>
                                  <td><button class="btn btn-primary view" (click)="buyplaceorderproposedorder(user.proposed_summary_id)">View Details&nbsp;<i class="fa fa-arrow-right"></i></button></td>
                                </tr>
                                </ng-container>
                                <ng-container *ngIf="asproposedorder.length=='0'">
                                    <tr>
                                        <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                        <td colspan="8">No Data Found</td>
                                      </tr>
                                </ng-container>
                            </tbody>
                            </table>
                            </div>
                            </div>
