.box {
    background: blue;
    box-shadow: 2px 2px 2px 2px;
    height: 150px;
}
p.add {
    text-align: center;
    padding-top: 53px;
}
a.variants {
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}
h6.settings {
    font-weight: 600;
    font-size: 15px;
}