<div class="container-fluid addseller">
    <div class="row">
        <div class="col-sm-2 px-1 bg-white sidebar">
            <div class="py-2 sticky-top flex-grow-1">
                <app-buyer-settings></app-buyer-settings>
            </div>
        </div>
        <div class="col" id="main">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <br/>
               <h6 class="settings">Variant Settings</h6>
              </div>
              </div>
              <div class="row">
                
                <div class="col-md-3">
                  <br/>
                  <div class="box">
                    <p class="add" ><a [routerLink]="['/buyer-variant-setting']" class="variants">Add Variants</a></p>
                  </div>
                </div>
                <div class="col-md-3">
                  <br/>
                    <div class="box">
                      <p class="add" ><a [routerLink]="['/buyer-manage-variant']" class="variants">View Variants</a></p>
                    </div>
                  </div>
              </div>
              </div>
              </div>
              </div>
              </div>
              
