<div class="container-fluid addseller">
        <div class="row">
            <div class="col-sm-2 px-1 bg-white sidebar">
                <div class="py-2 sticky-top flex-grow-1">
                    <seller-sidebar></seller-sidebar>
                </div>
            </div>
            <div class="col" id="main">
                <form #form="ngForm" (ngSubmit)="submit(form.value)">
                <div class="row master">
                    <div class="col-md-3"></div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        <button class="btn btn-primary features">Confirm Details</button>
                    </div>
                </div>
    
                <div class="row master">
    
                    <div class="col-lg-3">
                        <p class="product">Master Product Name</p>
                    </div>
                    <div class="col-lg-9">
                        <input type="text" [(ngModel)]="masterproductname.masterproductname" name="masterproductname"  id="master-product-name" class="form-control master-product-name pname master-product-name checkunvalue(this.value)">
                    </div>
                </div>
    
                <div class="row categories">
                    <div class="col-md-3">
                        <label>My Category</label>
                        <select name="my_category' + prodRow + '" id="my_category" class="form-control my-category">
                            <option value="">My Categories</option>
                            <option value=""></option>
                        </select>
                    </div>
    
                    <div class="col-md-3">
                        <label>Level1 Category</label>
                        <select name="category_level1" id="category_level1" class="form-control category-level1">
                            <option value="">Select Category</option>
                            <option value=""></option>
                        </select>
                    </div>
    
                    <div class="col-md-3">
                        <label>Level2 Category</label>
                        <select name="category_level2" id="category_level2" class="form-control category-level2">
                            <option value="">Select Category</option>
                            <option value=""></option>
                        </select>
                    </div>
    
                    <div class="col-md-3">
                        <label>Level3 Category</label>
                        <select name="category_level3" id="category_level3" class="form-control category-level3">
                            <option value="">Select Category</option>
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="row mastervar">
                    <div class="col-lg-12">
                            <div class="container-fluid">
                                    <div class="row">
                                    <div class="col-md-12">                                      
                                         <div id="MainMenu">
                                         
                                          
                                                <div class="container">

                                                        <div class="panel-group" id="accordion" *ngFor="let master of storedetails; let k=index;">

                                                           <div class="panel panel-default">
                                                              <div class="panel-heading">
                                                                 <h4 class="panel-title">
                                                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse{{k}}">
                                                                    {{master.group_product_name}}
                                                                    </a>
                                                                 </h4>
                                                              </div><!--/.panel-heading -->
                                                              <div id="collapse{{k}}" class="panel-collapse collapse">
                                                                 <div class="panel-body">
                                               
                                                                   <!-- nested -->
                                               
                                               
                                                        <div class="panel-group" id="nested" *ngFor="let variant of variantdata; let j= index;">
                                                        
                                                           <div class="panel panel-default">
                                                              <div class="panel-heading">
                                                                 <h4 class="panel-title">
                                                                    <a data-toggle="collapse" data-parent="#nested" href="#nested-collapse{{j}}">
                                                                   {{variant.product_name}}
                                                                    </a>
                                                                 </h4>
                                                              </div><!--/.panel-heading -->
                                                              <div id="nested-collapse{{j}}" class="panel-collapse collapse in">
                                                                 <div class="panel-body">
                                                                        <div class="row master">
                                                                                <div class="col-lg-2">
                                                                                    <p>Product Name</p>
                                                                                </div>
                                                                                <div class="col-lg-10">
                                                                                    <input type="text" [(ngModel)]="variant.product_name"  name="product_name" id="master-product-name" class="form-control master-product-name pname master-product-name checkunvalue(this.value)">
                                                                                </div>
                                                                            </div>
                                                                            <div class="row master">
                                                                                <div class="col-lg-2">
                                                                                    <img src="assets/images/default.png" width="120" height="120" alt="Avatar" class="image">
                                    
                                                                                    <a href="#" class="iconss" title="Edit Image">
                                                                                        <i class="fa fa-edit"></i></a>
                                                                                </div>
                                                                                <div class="col-lg-2">
                                                                                    <img src="assets/images/default.png" width="120" height="120" alt="Avatar" class="image">
                                    
                                                                                    <a href="#" class="iconss" title="Edit Image">
                                    
                                                                                        <i class="fa fa-edit"></i></a>
                                                                                </div>
                                                                                <div class="col-lg-2">
                                                                                    <img src="assets/images/default.png" width="120" height="120" alt="Avatar" class="image">
                                    
                                                                                    <a class="iconss" title="Edit Image">
                                                                                        <input type="file" class="file">
                                                                                        <i class="fa fa-edit"></i></a>
                                                                                </div>
                                                                                <div class="col-lg-3">
                                                                                    <div class="row">
                                                                                        <p style="float: left;font-size: 12px;">
                                                                                            <span>Selling Price*</span>
                                                                                            <br />
                                                                                            <span style="color: red;">(in INR)</span>
                                                                                        </p>
                                                                                        <input [(ngModel)]="variant.selling_price" name="selling_price" style="float: right; width: 55%;" type="number" class="form-control product-selling-price selling-price-" id="selling-price-">
                                    
                                                                                    </div>
                                                                                    <div class="row" style="padding-top: 30px;">
                                                                                        <p style="float: left;font-size: 12px;">
                                                                                            <span>Fullfillment Time*</span>
                                                                                            <br />
                                                                                            <span style="color: red;">(Days)</span>
                                                                                        </p>
                                                                                        <input [(ngModel)]="variant.sales_time_to_fulfill" name="sales_time_to_fulfill" style="float: right; width: 55%;" type="number" class="form-control product-sales-time-to-fulfill sales-time-to-fulfill-" id="sales-time-to-fulfill-">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-lg-3">
                                                                                    <div class="row">
                                                                                        <p style="float: left;font-size: 12px;padding-right: 25px;">
                                                                                            <span>MRP</span>
                                                                                            <br />
                                                                                            <span style="color: red;"></span>
                                                                                        </p>
                                                                                        <input [(ngModel)]="variant.sales_mrp" name="sales_mrp" style="float: right; width: 55%;" type="number" class="form-control product-selling-price selling-price-" id="selling-price-">
                                    
                                                                                    </div>
                                                                                    <div class="row" style="padding-top: 30px;">
                                                                                        <p style="float: left;font-size: 12px;padding-right: 25px;">
                                                                                            <span>Brand</span>
                                                                                            <br />
                                                                                            <span style="color: red;"></span>
                                                                                        </p>
                                                                                        <input [(ngModel)]="variant.brand" name="brand" style="float: right; width: 55%;" type="text" class="form-control product-sales-time-to-fulfill sales-time-to-fulfill">
                                                                                    </div>
                                                                                </div>
                                    
                                                                            </div>
                                                                            <div class="row master">
                                                                                <div class="col-lg-2">
                                                                                    <p>Product Description</p>
                                                                                </div>
                                                                                <div class="col-lg-10">
                                                                                    <textarea class="form-control product-description product-description-" [(ngModel)]="variant.prod_description" name="prod_description"></textarea>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row master">
                                                                                <div class="col-md-1">
                                                                                    <label>Product ID 1</label>
                                                                                </div>
                                                                                <div class="col-md-2">
                                                                                    <input type="text" class="form-control" id="usr" [(ngModel)]="variant.ext_product_id" name="ext_product_id">
                                                                                </div>
                                                                                <div class="col-md-1">
                                                                                    <label>Product ID 2</label>
                                                                                </div>
                                                                                <div class="col-md-2">
                                                                                    <input type="text" class="form-control" id="usr" [(ngModel)]="variant.ext_secondary_product_id" name="ext_secondary_product_id">
                                                                                </div>
                                                                                <div class="col-md-1">
                                                                                    <label>Art No.</label>
                                                                                </div>
                                                                                <div class="col-md-2">
                                                                                    <input type="text" class="form-control" id="usr" [(ngModel)]="variant.article_number" name="article_number">
                                                                                </div>
                                                                                <div class="col-md-1">
                                                                                    <label>Color</label>
                                                                                </div>
                                                                                <div class="col-md-2">
                                                                                    <input type="text" class="form-control" id="usr" [(ngModel)]="variant.color" name="color">
                                                                                </div>
                                                                            </div>
                                                                            <div class="row master">
                                                                                <div class="col-md-1">
                                                                                    <label>Size</label>
                                                                                </div>
                                                                                <div class="col-md-2">
                                                                                    <input type="text" class="form-control" id="usr" [(ngModel)]="variant.size" name="size">
                                                                                </div>
                                                                                <div class="col-md-1">
                                                                                    <label>Length</label>
                                                                                </div>
                                                                                <div class="col-md-2">
                                                                                    <input type="text" class="form-control" id="usr" [(ngModel)]="variant.length" name="length">
                                                                                </div>
                                                                                <div class="col-md-1">
                                                                                    <label>EAN</label>
                                                                                </div>
                                                                                <div class="col-md-2">
                                                                                    <input type="text" class="form-control" id="usr" [(ngModel)]="variant.ean" name="ean">
                                                                                </div>
                                                                                <div class="col-md-1">
                                                                                    <label>Weight</label>
                                                                                </div>
                                                                                <div class="col-md-2">
                                                                                    <input type="text" class="form-control" id="usr" [(ngModel)]="variant.weight" name="weight">
                                                                                </div>
                                                                            </div>
                                                                            <div class="row master">
                                                                                <div class="col-md-1">
                                                                                    <label>Breadth</label>
                                                                                </div>
                                                                                <div class="col-md-2">
                                                                                    <input type="text" class="form-control" id="usr" [(ngModel)]="variant.breadth" name="breadth">
                                                                                </div>
                                                                                <div class="col-md-1">
                                                                                    <label>Height</label>
                                                                                </div>
                                                                                <div class="col-md-2">
                                                                                    <input type="text" class="form-control" id="usr" [(ngModel)]="variant.height" name="height">
                                                                                </div>
                                                                                <div class="col-md-1">
                                                                                    <label>HSN</label>
                                                                                </div>
                                                                                <div class="col-md-2">
                                                                                    <input type="text" class="form-control" id="usr" [(ngModel)]="variant.hsn_code" name="hsn_code">
                                                                                </div>
                                                                                <div class="col-md-1">
                                                                                    <label>In Stock</label>
                                                                                </div>
                                                                                <div class="col-md-2">
                                                                                    <select name="my_category' + prodRow + '" id="my_category" class="form-control my-category" [(ngModel)]="variant.sales_is_out_of_stock" name="sales_is_out_of_stock">
                                                                                            
                                                                                            <ng-container *ngIf="variant.sales_is_out_of_stock=='0'"> <option [value]="y" selected  disabled>Y</option></ng-container>
                                                                                            <ng-container *ngIf="variant.sales_is_out_of_stock!='0'"><option [value]="N" selected  disabled>N</option></ng-container>
                                                                                        <option [value]="0">Y</option>
                                                                                        <option [value]="1">N</option>
                                                                                        
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row master">
                                                                                <div class="col-md-1">
                                                                                    <label>Volume</label>
                                                                                </div>
                                                                                <div class="col-md-2">
                                                                                    <input type="text" class="form-control" id="usr" [(ngModel)]="variant.volume" name="volume">
                                                                                </div>
                                                                                <div class="col-md-1">
                                                                                    <label>Age Group</label>
                                                                                </div>
                                                                                <div class="col-md-2">
                                                                                    <input type="text" class="form-control" id="usr" [(ngModel)]="variant.age_group" name="age_group">
                                                                                </div>
                                                                                <div class="col-md-1">
                                                                                    <label>No Of Pcs</label>
                                                                                </div>
                                                                                <div class="col-md-2">
                                                                                    <input type="text" class="form-control" id="usr" [(ngModel)]="variant.no_of_pieces" name="no_of_pieces">
                                                                                </div>
                                                                                <div class="col-md-1">
                                                                                    <label>Pattern</label>
                                                                                </div>
                                                                                <div class="col-md-2">
                                                                                    <input type="text" class="form-control" id="usr" [(ngModel)]="variant.pattern" name="pattern">
                                                                                </div>
                                                                            </div>
                                                                            <div class="row master" style="padding-bottom:25px">
                                                                                <div class="col-md-1">
                                                                                    <label>Fabric</label>
                                                                                </div>
                                                                                <div class="col-md-2">
                                                                                    <input type="text" class="form-control" id="usr" [(ngModel)]="variant.fabric" name="fabric">
                                                                                </div>
                                                                                <div class="col-md-1">
                                                                                    <label>Occasion</label>
                                                                                </div>
                                                                                <div class="col-md-2">
                                                                                    <input type="text" class="form-control" id="usr" [(ngModel)]="variant.occasion" name="occasion">
                                                                                </div>
                                                                            </div>
                                                                    
                                                                            
                                                                           
                                                                           
                                                                            
                                                                 </div><!--/.panel-body -->
                                                              </div><!--/.panel-collapse --> 
                                                           </div><!-- /.panel --> 
                                                           
                                                           
                                                           
                                                        </div><!-- /.panel-group -->
                                               
                                               
                                               <!-- nested -->
                                                                   
                                                                    
                                                                 </div><!--/.panel-body -->
                                                              </div><!--/.panel-collapse -->
                                                           </div><!-- /.panel -->
                                                           
                                                         
                                                        </div><!-- /.panel-group -->
                                               
                                               </div><!-- /.container -->  


                                        </div>
                                        
                                
                                    </div>  
                                  </div>
                                </div>
                    </div>
                </div>
                </form>
            </div>            
        </div>
        
    </div>
    


    
