.row.master {
    margin-top: 25px;
}
p.product {
    padding-left: 20px;
}
.row.categories {
    margin-top: 20px;
}
/* .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    
    transition: 0.4s;
    margin-top: 15px;
}

.active, .accordion:hover {
    background-color: #ccc; 
} */
p {
    font-size: 15px;
}
label {
    font-size: 13px;
}
select{
    font-size: 14px;
}
/* .row.mastervar {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
} */
/* .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
} */
button.btn.btn-primary.features {
    background-color: #01205E;
    border-color: transparent;
    border-radius: 6%;
    padding: 7px 10px;
    font-size: 15px;
    text-shadow: none;
    font-weight: 600;
    display: block;
    width:80%;
    float:right;
    text-align: center;
    margin: 0 auto;
    border-radius: 30px;
} 
  
.panel-group .panel-heading + .panel-collapse > .panel-body {
    border: 1px solid #ddd;
  }
  .panel-group,
  .panel-group .panel,
  .panel-group .panel-heading,
  .panel-group .panel-heading a,
  .panel-group .panel-title,
  .panel-group .panel-title a,
  .panel-group .panel-body,
  .panel-group .panel-group .panel-heading + .panel-collapse > .panel-body {
    border-radius: 2px;
    border: 0;
  }
  .panel-group .panel-heading {
    padding: 0;
  }
  .panel-group .panel-heading a {
    display: block;
    background: #668bb1;
    color: #ffffff;
    padding: 15px;
    text-decoration: none;
    position: relative;
  }
  .panel-group .panel-heading a.collapsed {
    background: #eeeeee;
    color: inherit;
  }
  .panel-group .panel-heading a:after {
    content: '-';
    position: absolute;
    right: 20px;
    top:5px;
    font-size:30px;
  }
  .panel-group .panel-heading a.collapsed:after {
    content: '+';
  }
  .panel-group .panel-collapse {
    margin-top: 5px !important;
  }
  .panel-group .panel-body {
    background: #ffffff;
    padding: 15px;
  }
  .panel-group .panel {
    background-color: transparent;
  }
  .panel-group .panel-body p:last-child,
  .panel-group .panel-body ul:last-child,
  .panel-group .panel-body ol:last-child {
    margin-bottom: 0;
  }
  