<div class="container-fluid addseller">
    <div class="row">
        <div class="col-sm-2 px-1 bg-white sidebar">
            <div class="py-2 sticky-top flex-grow-1">
                <app-sidebar></app-sidebar>
            </div>
        </div>
        <div class="col" id="main">
            <div class="container">
                <div class="row">
                      
                        <div class="col-md-6 single">
                                <div class="sellerbox">
                            <h4 class="add-single">Add Single Seller</h4>
                                <form [formGroup]="addsellerForm" (ngSubmit)="onSubmit()"> 
                                    <div class="col-md-8 addseller">
                                            <div class="form-group">
                                                   
                                        <input type="text" formControlName="mobile" class="form-control" placeholder="Enter Mobile Number"  minlength=10 maxlength=10>
                                        
                                    </div>
                                    </div>
                                    <div class="col-md-8 addseller">
                                   
                                       <button class="btn btn-primary features">Invite</button>
                                    </div>
                                </form>
                                </div>
                        </div>
                  

            
         
               
                        <div class="col-md-6 bulk">
                                <div class="sellerbox">
                                <h4 class="add-single">Bulk Upload</h4>
                               
                                        <div class="col-md-8 addseller">

                                            <div class="dwntemplate"><a href="assets/seller_mobile.csv" class="buttonDownload">Download Template</a><br><p>Download CSV sample file</p></div>
                                        </div><br/>
                                        <form [formGroup]='bulkuploadForm' (ngSubmit)='onSubmitbulk()'> 
                                            <div class="col-md-8 bulk">
                                    
                                                    <div class="choose">
                                                           
                                                            <input type="file" id="csvfile" formControlName="csv" >
                                                           
                                                    </div>
                                                    
                                                </div>
                                            <div class="col-md-8 addseller">
                                               <button class="btn btn-primary bulkfeatures" >Invite In Bulk</button>
                                            </div>
                                          
                                            <p class="text">(Max 40 mobile numbers at a time are accepted. Please use CSV file format with first line as header.)</p>
                                           
                                          
                                                
                                        </form>
                                        </div>
                                    </div>
                        


                                    <div  id="csv"  role="dialog" class="modal fade">
                                        <div class="modal-dialog">
                                        
                                          <!-- Modal content-->
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            
                                            </div>
                                            <div class="modal-body">
                                              
                                                <table class="table csv">
                                                    
                                                    <tr class="csvtr">
                                                            <th>Mobile</th>
                                                            <th>Status</th>
                                                    </tr>
                                                    <tbody id="invitePhone">
                                                        
                                                    </tbody>    
                                                </table>
                                                
                                                <button class="btn btn-primary cnfmsubmit" (click)="confirmsubmit()">Submit</button>
                                    
                                            </div>
                                            
                                          </div>
                                          
                                        </div>
                                      </div>
                        </div>

                                
                    
                    
               
            </div>
        </div>
    </div>
</div>
                        