<form [formGroup]='Bulkupload' (ngSubmit)='onSubmit()'> 
        <div class="col-md-8 addseller">

                <div class="choose">
                       
                        <input type="file" id="csvfile" formControlName="csv"  />
                    
                </div>
                
            </div>
        <div class="col-md-8 addseller">
           <button class="btn btn-primary bulkfeatures" >Invite In Bulk</button>
        </div>
      
        <p class="text">(Max 40 mobile numbers at a time are accepted. Please use CSV file format with first line as header.)</p>
       
      
            
    </form>