div#main {
    padding: 0px;
    margin: 0px;
}
button.btn.btn-primary.features {
  
    font-size: 15px;
    width:18%;
    float:right;
    margin-top: 10px;
    border-radius: 30px;
} 
table.table.table-hover.sellerinvit tr th {
    font-size: 13px;
    text-align: left;
    border: 1px solid #ccc;
    vertical-align: left;
       
}
td.sellerprof img {
    width: 50px;
    border-radius:50%;
}
table.table.table-hover.sellerinvit td {
    font-size: 12px;
    text-align: left;
}
h6.filter {
    color: orange;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
}
.rightside{
    display:inherit;
}
label{
    margin: 0px;
}
label.apply {
    color: orange;
    font-size: 12px;
    font-weight: 600;
}
.date{
    font-size: 13px;
    font-weight: 600;
}
#mysearch:focus + .input-group-addon {
    z-index: 10;
  }
  
  #search-btn:hover {
    cursor: pointer;
    /*color: gold;*/
    /* background-color: none; */
  }
  #mysearch{
      padding-left: 20px; 
      border-radius: 40px;
      height: 35px;
  }
  #searchbar{
      margin-left: -50px; 
      z-index: 3;
       /* border-radius: 40px; */
        background-color: transparent; 
      border:none;
  }
  #search-btn{
      /* border-radius: 20px; */
      margin-top: 3px;
      background: none;
  }
  span.clear {
      display: block;
      font-size: 13px;
    font-weight: 600;
    color: #ed7d31;
  }
  i.fa.fa-search {
    font-size: 18px;
    color: gray;
}
form#dateSearch {
    display: inherit;
}
button.btn.btn-primary.view {
    height: 33px;
    font-size: 15px;
}
i.fa.fa-search.icon {
    font-size: 15px;
    color:white;
}
i.fa.fa-refresh.icon {
    font-size: 15px;
    color:white;
}
/* button#search-btnn {
    height: 28px;
}
button#refreshBtn{
    height: 28px;
} */
form#dateSearch {
    display: inherit;
}
option.date {
    font-size: 13px;
}
select#group-by {
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    
}
.outstanding{
    color:orange;
    font-weight:600;
    font-size: 13px;
}
/* .title {
    margin-top: 20px;
} */
.totalquantity{
    color: #30abbc;
    font-weight:600;
    font-size: 14px;
}
.totalvalue{
    color: #ec7d31;
    font-weight:600;
    
    font-size: 14px;
}
select#group {
    width: 50%;
    height: 30px;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}
button.btn.btn-primary.view {
    height: 33px;
    font-size: 15px;
}
button#search-btn {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #a7a7a7;
    margin: 2px 24px;
    padding: 0px;
    position: absolute;
    right: 0;
    top: 4px;
}