<div class="container-fluid addseller">
    <div class="row">
        <div class="col-sm-2 px-1 bg-white sidebar">
            <div class="py-2 sticky-top flex-grow-1">
                <seller-sidebar></seller-sidebar>
            </div>
        </div>
        <div class="col" id="main">
            

                <div class="new">
            <!--table start-->
            <div class="container">

                <!--search bar-->
                    <div class="searchbar">
                            <div class="search">
                               <input type="text" class="searchTerm" placeholder="What are you looking for?">
                               <button type="submit" class="searchButton">
                                 <i class="fa fa-search"></i>
                              </button>
                            </div>
                         </div>
                         <!--search bar end-->
                         <div class="shareproducts">
                             <button class="btn btn-primary" (click)="shareproducts()">Share Products</button>
                         </div>
                    <table class="table table-responsive table-striped manage">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Product Image</th>
                                <th>Product Name</th>
                                <th>L3 Category</th>
                                <th>MRP</th>
                                <th>Selling Price</th>
                                <th>Days to deliver</th>
                                <th>Variant/s</th>
                              
                            </tr>
                        </thead>
                        
                        <tbody>
                            <ng-container *ngIf="sharedpro!=0">
                                <td colspan="8" *ngIf="loadingnew" style="text-align: center;"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                            <tr *ngFor="let shared of sharedpro">
                                    <td style="text-align: left;" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=": activate to sort column ascending"><input type="checkbox" value="{{shared.master_product_id}}" class="checkeAll" name="select_all" id="checkAll" ></td>
                                <td class="sharedimg"><img [src]=shared.landing_image></td>
                                <td>{{shared.product_name}}</td>
                                <td>{{shared.level_3_category}}</td>
                                <td>{{shared.sales_mrp}}</td>
                                <td>{{shared.selling_price}}</td>
                                <td>{{shared.sales_time_to_fulfill}}</td>
                                <td>{{shared.total_variants}}</td>
                            </tr>
                            </ng-container>
                        <ng-container *ngIf="sharedpro==0">
                                <td colspan="8" *ngIf="loadingnew" style="text-align: center;"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                          
                            <td colspan="10">No data found</td>
                            
                        </ng-container>

                        </tbody>
                    
                       
                    </table>
                   
          
            </div>
            </div>
          </div>
          </div>
          </div>
        

         