td.sharedimg img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
table.table.table-responsive.table-striped.manage tr th {
    font-size: 13px;
    width: 15%;
  }
  table.table.table-responsive.manage th {
    border: 1px solid #ccc;
    vertical-align: middle;
    text-align: center;
}
table.table.table-responsive.manage tr td.mangtd {
    text-align: center;
    vertical-align: middle;
}