<div class="container-fluid addseller">
    <div class="row">
        <div class="col-sm-2 px-1 bg-white sidebar">
            <div class="py-2 sticky-top flex-grow-1">
                <app-sidebar></app-sidebar>
            </div>
        </div>
        <div class="col" id="main">
                <div class="export bar">
                        <div class="managdel">
                                <button class="btn btn-primary addp" (click)="export()">Export</button>
                              </div>
                  </div>
            <div class="topbars">
            <div class="row">
                <div class="col-md-8">
                        <form [formGroup]="Filterbydates" (ngSubmit)="onSubmit()">
                                <div class="row">
                                <div class="col-md-4">
                                    <label class="date">From</label>
                                    <input required type="date" id="new1" formControlName="fromdate" class="form-control"  [ngClass]="{ 'is-invalid': submitted && g.fromdate.errors }">
                                    <div *ngIf="submitted && g.fromdate.errors" class="invalid-feedback">
                                            <div *ngIf="g.fromdate.errors.required" class="newwar">From date is required</div>
                                        </div>
                               </div>
                               <div class="col-md-4">
                                    <label class="date">To</label>
                                    <input required type="date" id="new2" formControlName="todate"  class="form-control"  [ngClass]="{ 'is-invalid': submitted && g.todate.errors }">
                                    <div *ngIf="submitted && g.todate.errors" class="invalid-feedback">
                                            <div *ngIf="g.todate.errors.required" class="newwar">To date is required</div>
                                        </div>
                                </div>
                                <div class="col-md-2" class="applyfilt">
                                    <label class="apply">Apply Filter</label>
                                    <button type="submit" class="btn btn-primary" id="search-btnn" type="submit"><i class="fa fa-search"></i></button>
                               </div>
                               <div class=" col-md-2" id="refresh">
                                    <label class="apply">Clear Filter</label>
                                    <button type="button" id="refreshBtn" class="btn btn-primary" (click)="cleardates()"><i class="fa fa-refresh"></i></button>
                               </div>
                              </div>
                              </form>
                </div>
                
                <div class="col-md-4">
                    <div class="col-md-12"><b>Customer Name:</b><span class="nick">{{nickname}}</span></div>
                    <div class="col-md-12"><b>Amount(Advance From)=</b><span class="nick1">{{user_amount}}</span></div>
  
                </div>
            </div>
            </div>
          <div class="scrollablediv">
            <table class="table table-responsive table-striped manage">
                <thead>
                    <tr>
                    
                        <th>Date</th>
                        <th>Updated by</th>
                        <th>Category</th>
                        <th>remarks</th>
                        <th>Amount</th>
                        <th>Action</th>
                      
                        
                    </tr>
                </thead>
                
                <tbody>
                      <ng-container *ngIf="loadcustomerdetails!='0'">
                        <td colspan="8" *ngIf="loadingnew" style="text-align: center;"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                      <tr *ngFor="let transaction of transdetail">
                        <td>{{transaction.created | date: 'dd-MM-yyyy'}}</td>
                        <td>You</td>

                        <td>
                          <ng-container *ngIf="transaction.category==1">
                            Amount received
                          </ng-container>
                          <ng-container *ngIf="transaction.category==2">
                            Amount Paid
                          </ng-container>
                          <ng-container *ngIf="transaction.category==3">Old/Existing Dues</ng-container>
                          <ng-container *ngIf="transaction.category==4">Old/Existing  Advance</ng-container>
                          <ng-container *ngIf="transaction.category==5">Tax Paid by Seller</ng-container>
                          <ng-container *ngIf="transaction.category==6">Freight Paid by Seller</ng-container>
                          <ng-container *ngIf="transaction.category==7">Other Expense Incurred by Seller</ng-container>
                          <ng-container *ngIf="transaction.category==10">Credit Note to seller</ng-container>
                          <ng-container *ngIf="transaction.category==9">Debit Note</ng-container>
                          <ng-container *ngIf="transaction.category==10">Dispatch Product to customer</ng-container>
                        </td>
                          <td>{{transaction.remarks}}</td>
                          <td>{{transaction.amount}}</td>

                        <td class="action">
   
                            <ng-container *ngIf="transaction.user_id!=loggedinid">
                          <ng-container *ngIf="transaction.objection_status==3">
                            Objection is closed
                          </ng-container>
                            </ng-container>


                          <ng-container *ngIf="transaction.user_id!=loggedinid && transaction.category!=10">
                              <ng-container *ngIf="transaction.objection_status==0">
                                  <button class="btn btn-primary" (click)="chatbox(transaction.id)">Raise Objection</button>
      
                                </ng-container>
                          </ng-container>

                          <ng-container *ngIf="transaction.user_id!=loggedinid && transaction.category!=10">
                          <ng-container *ngIf="transaction.objection_status==2">
                              <button class="btn btn-primary" (click)="chatbox(transaction.id)">Respond Now</button>
                              <button class="btn btn-info" (click)='closeobjection(transaction.id)'>close objection</button>
                          </ng-container>
                          </ng-container>

                          <ng-container *ngIf="transaction.user_id!=loggedinid && transaction.category!=10">
                          <ng-container *ngIf="transaction.objection_status==1">
                            <button class="btn btn-primary" (click)="chatbox(transaction.id)">Awaiting Response</button>
                            <button class="btn btn-info" (click)='closeobjection(transaction.id)'>Close Objection</button>
                        </ng-container>
                          </ng-container>


                          <ng-container *ngIf="transaction.user_id== loggedinid && transaction.category==10">
                            <ng-container *ngIf="transaction.objection_status!=3 && transaction.objection_status!=0">
                                <button class="btn btn-info" (click)="editamnt(transaction)">edit Amount</button>
                            </ng-container>
                          </ng-container>
                          
                          <ng-container *ngIf="transaction.category==10">
                              Dispatch Product
                          </ng-container>


                            </td>
                     
  
                      </tr>
                      </ng-container>
              
                <ng-container *ngIf="loadcustomerdetails=='0'">
                        <td colspan="8" *ngIf="loadingnew" style="text-align: center;"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                  
                    <td colspan="10">No data found</td>
                    
                </ng-container>
  
                </tbody>
            
               
            </table>
            </div>
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
              <li [ngClass]="{disabled:pager.current_page === 1}">
                  <a (click)="setPage(1)">First</a>
              </li>
              <li [ngClass]="{disabled:pager.current_page === 1}">
                  <a (click)="setPage(pager.current_page - 1)">Previous</a>
              </li>
              <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.current_page === page}">
                  <a (click)="setPage(page)">{{page}}</a>
              </li>
              <li [ngClass]="{disabled:pager.current_page === pager.totalPages}">
                  <a (click)="setPage(pager.current_page + 1)">Next</a>
              </li>
              <li [ngClass]="{disabled:pager.current_page === pager.totalPages}">
                  <a (click)="setPage(pager.totalPages)">Last</a>
              </li>
          </ul>
          </div>
        </div>
      </div>


      <!-- chat box model-->
      <div  id="chat"  role="dialog" class="modal fade">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                
                </div>
                <div class="modal-body">
                  <form #form="ngForm" (ngSubmit)="submitchat (form.value)">
                        <div class="chatbox">

                            
                                <div class="messages">
                                    <ng-container *ngFor="let message of chattxt">
                                        <ng-container *ngIf="loggedinid==message.user_id">
                                <div  [class.right]="message.comments">
                                  {{message.comments}}
                                </div>
                            </ng-container>
                                <ng-container *ngIf="loggedinid!=message.user_id">
                                <div [class.left]="message.comments">
                                        {{message.comments}}
                                      </div>
                                    </ng-container>
                                    </ng-container>
                                    <ng-container>
                                            <div *ngFor="let message of chattxt" [class.right]="message.self">
                                                    {{message.self}}
                                                  </div>
                                        </ng-container>
                                
                                </div>
                                <div class="input-container">
                                <input type="text" class="inputtext" [(ngModel)]="replyMessage" name="replyMessage">
                                <button class="replyBtn" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                                </div>
                                </div>
                                </form>
                </div>
              
              </div>
              
            </div>
          </div>
      <!-- end chat box model-->


      <!-- edit amount model-->
    <div  id="amount"  role="dialog" class="modal fade">
        <div class="modal-dialog">
        
         
          <div class="modal-content">
            <div class="modal-header">
                    Update the Amount
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            
            </div>
            <div class="modal-body">
              <form [formGroup]="editamountform" (ngSubmit)="amntsubmit()">
                  <input type="hidden" formControlName='userid' [value]="userid"  [ngClass]="{ 'is-invalid': submitted && f.userid.errors }">
                  <div *ngIf="submitted && f.userid.errors" class="invalid-feedback">
                    <div *ngIf="f.userid.errors.required" class="newwar">userid is required</div>
                </div>
                  <input type="hidden" formControlName='id' [value]="id" [ngClass]="{ 'is-invalid': submitted && f.id.errors }">
                  <div *ngIf="submitted && f.id.errors" class="invalid-feedback">
                    <div *ngIf="f.id.errors.required" class="newwar">id is required</div>
                </div>
                  <div class="amnt">
                  <label>Current Amount</label>
                    <input type="text" class="inputtext"  formControlName="editamount" [value]='ediamount' [ngClass]="{ 'is-invalid': submitted && f.editamount.errors }">
                    <div *ngIf="submitted && f.editamount.errors" class="invalid-feedback">
                      <div *ngIf="f.editamount.errors.required" class="newwar">Amount  is required</div>
                  </div>
                    </div>
                    <div class="amnt">
                    <label>New Amount</label>
                    <input type="text" class="inputtext" formControlName="newamount" [ngClass]="{ 'is-invalid': submitted && f.newamount.errors }">
                    <div *ngIf="submitted && f.newamount.errors" class="invalid-feedback">
                      <div *ngIf="f.newamount.errors.required" class="newwar">Amount is required</div>
                  </div>
                        </div>
                    <button class="btn btn-primary">Submit</button>
                            </form> 
            </div>
          
          </div>
          
        </div>
      </div>
  <!-- eedit amount box model-->


   <!--new filter dates-->
   <div  id="export"  role="dialog" class="modal fade">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
                    Order Date
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            
            </div>
            <div class="modal-body">
                    <form [formGroup]="csvdateform" (ngSubmit)="exportdatadate()">
                        <label>From</label>
                            <input type="date" id="fromd" class="inputtext" formControlName="fromDate">
                        <label>to:</label>
                        <input type="date" id="tod"class="inputtext" formControlName="toDate">

                        <button class="btn btn-primary">Submit</button>
                        </form>
               
            </div>
          
          </div>
          
        </div>
      </div>
      <!--end modal-->