
<div class="container-fluid addseller">
  <div class="row">
      <div class="col-sm-2 px-1 bg-white sidebar">
          <div class="py-2 sticky-top flex-grow-1">
              <seller-sidebar></seller-sidebar>
          </div>
      </div>

      <div class="col" id="main">
              <div class="new">
                  <div class="container">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="addseller">
    
                                  
                                  <button class="btn btn-primary features" (click)="confcancel()">Confirm Cancellation</button>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-3">
                            <div class="summary">
                              <h6 class="selsummary">Customer-{{asviewrtccancel.buyer_nickname}}</h6>
                            </div>
                          </div>
                          <div class="col-md-3"></div>
                         
                        </div>
                        <div class="row">
                          <br/>
                          <div class="col-md-3">
                              <p class="orderdetails">Total Amount: &#2352; {{asviewrtccancel.cancellation_in_progress_amount
                                }}</p>
                            </div>
                           
                            <div class="col-md-3">
                              <p class="orderdetails">Total Quantity: {{asviewrtccancel.cancellation_in_progress_qty}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <p class="orderdetails">Delivery Address: {{asviewrtccancel.address_line_1}},{{asviewrtccancel.city}} - {{asviewrtccancel.pincode}}</p>
                              </div>
                              
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                              <br/>
                              <table class="table table-hover sellerinvit">
                                <thead>
                                    <tr>
                                        <th style="text-align: left; ;" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=": activate to sort column ascending"><input type="checkbox" value="1" class="checkeAll" name="select_all" id="checkAll" ></th>
                                        <th>Product Image</th>
                                        <th>Product Name</th>
                                        <th>Other Product Details</th>
                                        <th>Outstanding Qty</th>
                                        <th>Cancelled Qty</th>
                                        <th>Reason for Cancellation</th>
                                        <th>Order Number</th>
                                        <th>Order Date</th>
                                        <th>Deliver by Date</th>
                                      </tr>
                                  </thead>
                                  
                                  <tbody>
                                      <ng-container *ngIf="asviewrtcorder.length!='0'">
                                          <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                      <tr *ngFor = "let user of asviewrtcorder; let i=index">
                                          <td style="text-align: left;" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=": activate to sort column ascending">
                                            <input type="checkbox" value="{{user.cancellation_in_progress}}" class="checkeAll" name="select_all" id="checkAll" attr.data-teamid="{{asviewrtccancel.s_tm_id}}" attr.data-matchid="{{user.match_master_id}}" attr.data-resason="{{searchText}}" attr.data-summid="{{user.order_summary_id}}" attr.data-orderno="{{user.order_no}}" attr.data-addid="{{asviewrtccancel.address_id}}" attr.data-totqty="{{user.due_qty}}" attr.data-totalamnt="{{asviewrtccancel.cancellation_in_progress_amount}}" attr.data-flag="{{user.buyer_pickup_flag}}"></td>
                                          <td class="sellerprof">
                                              <img [src]='user.landing_image'>
                                            </td>
                                            <td>{{user.product_name}}</td>
                                            <td> &#2352; {{user.product_selling_price}}</td>
                                            <td>{{user.due_qty}}</td>
                                            <td>
                                                    <input type="text" [(ngModel)]="user.cancellation_in_progress" >
                                                    <input type="hidden"   [(ngModel)]="user.cancellation_in_progress" value="user.cancellation_in_progress" >
                                            </td>
                                            <td><div class="form-group">
                                             
                                              <select class="form-control" id="reason" (ngModel)="searchText ">
                                                <option class="cancel" value="Requested By Customer"   >Requested By Customer</option>
                                                <option class="cancel" value="Does Not Have Inventory">Does Not Have Inventory</option>
                                                <option class="cancel" value="Customer No Show">Customer No Show</option>
                                                <option class="cancel" value="Dis-Continued">Dis-Continued</option>
                                                <option class="cancel" value="Other Reason">Other Reason</option>
                                              </select>
                                              <input type="hidden"    value="{{searchText}}">
                                            </div></td>
                                            <td>{{user.order_no}}</td>
                                            
                                            <td>{{user.order_date }}</td>
                                            <td>{{user.deliver_by_date | date: 'dd-MM-yyyy'}}</td>
                                           
    
                                    </tr>
                                    </ng-container>
                                    <ng-container *ngIf="asviewrtcorder.length=='0'">
                                        <tr>
                                            <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                            <td colspan="8">No Data Found</td>
                                          </tr>
                                    </ng-container>
                                  </tbody>
                                </table>
                              </div>
                            </div>
