table.table.table-hover.sellerinvit tr th {
    font-size: 13px;
    text-align: left;
    border: 1px solid #ccc;
    vertical-align: left;
       
}
td.sellerprof img {
    width: 50px;
    border-radius:50%;
}
table.table.table-hover.sellerinvit td {
    font-size: 12px;
    text-align: left;
}
button.btn.btn-primary.view {
    height: 33px;
    font-size: 15px;
}