.sidebar{
    box-shadow: 10px 10px 10px #d8d6d6;
}

img.img-circle.customer {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.listbox {
    box-shadow: 0px 2px 2px 2px #d8d6d6;
    margin-top: 20px;
    text-align: center;
    margin-right: 28px;
    
}
.phone{
    font-size: 13px;
    font-weight: 600;
}
.seller-profile img{
    border-radius: 50%;
    width: 60px;
    
}
.seller-name {
    margin-top: 15px;
}
a.seller-add {
    text-decoration: none;
    color: black;
    font-size: 13px;
}
h6.seller-add {
    font-size: 13px;
    color: gray;
}