<div class="container-fluid content">
  <div class="row">
      <div class="col-sm-2 px-1 bg-white sidebar">
          <div class="py-2 sticky-top flex-grow-1">
              <app-sidebar></app-sidebar>
          </div>
      </div>

      <div class="col" id="main">
              <div class="container">
                  <div class="row">
                      
                      <div class="col-md-1"></div>
                      <div class="col-md-10">
                          <div class="row">
                            
                        <ng-container *ngFor="let user of asawaitingselforaccept" >
                                <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                             <div class="col-md-2 listbox" *ngIf="asawaitingselforaccept.length!=0">
                                 <div class="wholediv" (click)="matchid(user)">
                               <div class="seller-profile"><br/>
                                    <img [src]='user.profile_image'>
                                 </div> 
                                 <div class="seller-name" >
                                 <h6 class="phone">{{user.fullname}}</h6>           
                                </div>
                                <div class="seller-address">
                                  <h6 class="seller-add">{{user.address_line_1}}...</h6>
                                  
                                </div>
                            </div>
                                <br/>         
                              </div>        
                              </ng-container>
                              <!-- <ng-container *ngIf="asawaitingselforaccept==0">
                                 <div class="nodata"> No Data Found</div>
                              </ng-container> -->
                          </div>
                      </div>
                      <div class="col-md-1"></div>
                  </div>
              </div>
              </div>

</div>
</div>
