<div class="container-fluid addseller">
    <div class="row">
        <div class="col-sm-2 px-1 bg-white sidebar">
            <div class="py-2 sticky-top flex-grow-1">
                <app-seller-settings></app-seller-settings>
            </div>
        </div>
  
        <div class="col" id="main">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                          <div class="addseller">
                                  
                                  <button class="btn btn-primary features">Save</button>
  
                          </div>
                  </div>
                  </div>
                  <hr class="line"/>
                  <!-- <div class="row">
                      <div class="col-md-6">
                          <p class="set">Set this as default product category whenever I add a new product:</p>
                      </div>
                      <div class="col-md-6">
                          <select class="category">
                              <option>Select Product Category</option>
                          </select>
  
                      </div>
                  </div> -->
                  <br/>
                  <div class="row">
                      <div class="col-md-6">
                          <p class="set">Automatically add all products into my store when seller shares his products</p>
                      </div>
                      <div class="col-md-6">
                          <label class="switch">
                              <input type="checkbox">
                              <span class="slider round"></span>
                            </label>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <p class="set">Set this as default HSN code whenever I add a new product</p>
                    </div>
                    <div class="col-md-6">
                      <input type="text" placeholder="Default HSN Code" class="code"> 
                    </div>
                  </div>
                  <br/>
                  <div class="row">
                      <div class="col-md-6">
                        <p class="set">Show me a warning whenever I make a price change of more than:</p>
                      </div>
                      <div class="col-md-6">
                        <input type="text" class="code"><span class="percentage">%</span>
                      </div>
                    </div>
          </div>
          </div>
      </div>
  </div>
  
