<div class="container-fluid content">
    <div class="row">
        <div class="col-sm-2 px-1 bg-white sidebar">
            <div class="py-2 sticky-top flex-grow-1">
                <seller-sidebar></seller-sidebar>
            </div>
        </div>
        <div class="col" id="main">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                            <div class="addseller">
                                    
                                    <button class="btn btn-primary features" (click)="rejectnewcustomer()">Reject</button>
                                    <button class="btn btn-primary features" (click)="acceptinvitcustomer()">Accept</button>
                            </div>
                    </div><br/>
                    <div class="col-md-12">
                        <br/>
                        <table class="table table-hover table-responsive table-striped customerinvit">
                            <thead>
                                <tr>
                                    <th style="text-align: left; ;" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=": activate to sort column ascending"><input type="checkbox" value="1" class="checkAll" name="select_all" id="checkAll"></th>
                                    <th>Profile Image</th>
                                    <th>Full Name</th>
                                    <th>Mobile Number</th>
                                    <th>About Seller</th>
                                    <th>Address</th>
                                    <th>City</th>
                                    <th>State</th>
                                    <th>Pincode</th>
                                </tr>
                             </thead>
                             <ng-container *ngIf="ascustomerinvited.length!='0'">
                             <tbody>
                                    <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                 <tr *ngFor="let user of ascustomerinvited">
                                    <td style="text-align: left; ;" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=": activate to sort column ascending"><input type="checkbox" value="{{user.invite_id}}" class="customerclick" name="select_all" id="checkedAll" (change)="customerinvclick(user)"></td>
                                    <td class="sellerprof">
                                        <img [src]='user.user.profile_image'>
                                    </td>
                                    <td>{{user.user.fullname}}</td>
                                    <td>{{user.user.mobile}}</td>
                                    <td>
                                        <ng-container *ngIf= 'user.user.about_me !== null'>
                                            {{user.user.about_me}}</ng-container>
                                            
                                            <ng-container *ngIf= "user.user.about_me ==null">
                                                N/A
                                                </ng-container>
                                    </td>
                                   
                                    <td>
                                            <ng-container *ngIf= 'user.user.address_line_1 !== null'>
                                        {{user.user.address_line_1}}</ng-container>
                                        
                                        <ng-container *ngIf= "user.user.address_line_1 ==null">
                                            N/A
                                            </ng-container>
                                        
                                    </td>
                                    
                                    
                                    <td>
                                        <ng-container *ngIf= 'user.user.state !== null'>
                                            {{user.user.state}}</ng-container>
                                            
                                            <ng-container *ngIf= "user.user.state ==null">
                                                N/A
                                                </ng-container>
                                    </td>
                                    <td>
                                        <ng-container *ngIf= 'user.user.city !== null'>
                                            {{user.user.city}}</ng-container>
                                            
                                            <ng-container *ngIf= "user.user.city ==null">
                                                N/A
                                                </ng-container>

                                    </td>
                                    <td>
                                        <ng-container *ngIf= 'user.user.pincode !== null'>
                                            {{user.user.pincode}}</ng-container>
                                            
                                            <ng-container *ngIf= "user.user.pincode ==null">
                                                N/A
                                                </ng-container>

                                    </td>
                                </tr>
                             </tbody>
                             </ng-container>

                             <ng-container *ngIf="ascustomerinvited.length=='0'">
                                    <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                    <td>No Customer Invit Found</td>
                             </ng-container>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>

        







    </div>
</div>