
.sidebar{
    box-shadow: 10px 10px 10px #d8d6d6;
}
button.btn.btn-primary.features {
    background-color: #01205E;
    border-color: transparent;
    border-radius: 6%;
    margin-left: 35px;
    font-size: 16px;
    text-shadow: none;
    font-weight: 600;
    display: block;
    min-width: 100px;
    text-align: center;
    float: right;
    border-radius: 30px;
    margin-top: 16px;
   
}
img.img-circle {
    border-radius: 50%;
    border: 1px solid black;
}
td.sellerprof img {
    width: 50px;
    border-radius:50%;
}
table.table.table-hover.customerinvit tr th {
    text-align: center;
    font-size: 13px;
    border: 1px solid #ccc;
    vertical-align: middle !important;
}
.table td {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    text-align: center;
    font-size: 13px;
}
