<div class="container-fluid addseller">
    <div class="row">
        <div class="col-sm-2 px-1 bg-white sidebar">
            <div class="py-2 sticky-top flex-grow-1">
                <app-sidebar></app-sidebar>
            </div>
        </div>
        <div class="col" id="main">
                <div class="row">
                        <div class="col-md-8 search">
                                <div class="searchbar">
                                        <form #form="ngForm" (ngSubmit)="submit(form.value)">
                                        <div class="search">
                                           <input type="text" class="searchTerm"   [(ngModel)]="cname" name="cname" placeholder="Search by Customer Name">
                                           <button type="submit" class="searchButton">
                                             <i class="fa fa-search"></i>
                                          </button>
                                          <span class="clear" (click)="clearsearchcustomer()" >Clear search</span>
                                        </div>
                                        </form>
                                     </div>
                        </div>
                    </div>
            <table class="table table-responsive table-striped manage">
                <thead>
                    <tr>
                    
                        <th>Customer Name</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>View Details</th>
                      
                        
                    </tr>
                </thead>
                
                <tbody>
                      <ng-container *ngIf="loadcustomerdetails!='0'">
                        <td colspan="8" *ngIf="loadingnew" style="text-align: center;"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                      <tr *ngFor="let customer of loadcustomerdetails">
                          <td>{{customer.seller_nickname}}</td>
                          <td>{{customer.amount | currency}}</td>
                          <ng-container *ngIf="customer.amount> '0'">
                          <td class="text-danger">Due from Customer</td>
                          </ng-container>
                          <ng-container *ngIf="customer.amount < '0'">
                            <td class="text-success">Advance from customer</td>
                          </ng-container>
                          <td><button class="btn btn-primary" (click)="transdet(customer.user_match_id)">View Transaction details</button></td>

                      </tr>
                      </ng-container>
              
                <ng-container *ngIf="loadcustomerdetails=='0'">
                        <td colspan="8" *ngIf="loadingnew" style="text-align: center;"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                  
                    <td colspan="10">No data found</td>
                    
                </ng-container>

                </tbody>
            
               
            </table>
          </div>
        </div>
      </div>