a.viewall {
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    float: right;
    margin-top: 10px;
}
div#main {
    padding: 0px;
    margin: 0px;
  }
  
    #mysearch:focus + .input-group-addon {
      z-index: 10;
    }
    
    #search-btn:hover {
      cursor: pointer;
      /*color: gold;*/
      /* background-color: none; */
    }
    #mysearch{
        padding-left: 20px; 
        border-radius: 40px;
        height: 35px;
    }
    #searchbar{
        margin-left: -50px; 
        z-index: 3;
         /* border-radius: 40px; */
          background-color: transparent; 
        border:none;
    }
    #search-btn{
        /* border-radius: 20px; */
        margin-top: 3px;
        background: none;
    }
    span.clear {
        display: block;
        font-size: 13px;
      font-weight: 600;
      color: #ed7d31;
    }
    i.fa.fa-search {
      font-size: 18px;
      color: gray;
  }
  .listbox {
    text-align: center;
    border: 1px solid gainsboro;
    margin-bottom: 10px;
    margin-left: 10px;
}
p.address {
    font-size: 12px;
}
h6.phone {
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
}
.listbox-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
    margin: 0 auto;
    margin-top: 20px;
}
img.img-responsive {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
}