<div class="container-fluid addseller">
  <div class="row">
      <div class="col-sm-2 px-1 bg-white sidebar">
          <div class="py-2 sticky-top flex-grow-1">
              <app-sidebar></app-sidebar>
          </div>
      </div>
      <div class="col" id="main">
          <div class="new">
              <div class="container">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="addseller">

                              
                              <a href="" class="viewall">View All >></a>
                          </div>
                      </div>
                      </div>
                      <hr class="line"/>
                      <div class="row">
                        <div class="col-md-5">
                            
                            	<form class="form" [formGroup]="Searchseller" (ngSubmit)="onSubmitsearch()">
                                        <div class="input-group">
                                            <input class="form-control" type="text"  formControlName="seller_name" placeholder="Search by Seller Name" aria-label="Search"  id="mysearch" [ngClass]="{ 'is-invalid': submitted && f.seller_name.errors }">
                                            <div class="input-group-addon" id="searchbar">
                                                <button class="btn btn-default btn-sm" type="submit"  id="search-btn"><i class="fa fa-search"></i></button><span class="clear" (click)="clearsearch()" >Clear search</span>
                                                <div *ngIf="submitted && f.seller_name.errors" class="invalid-feedback">
                                                    <div *ngIf="f.seller_name.errors.required" class="newwar">Username is required</div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                        </div>
                        
                         
                    </div><br/>
                    <div class="row">
                      <ng-container *ngFor="let user of asbyseller">
                          <div class="col-md-2 listbox">
                                  <ng-container *ngIf= 'user.image == null'>
                                  <div class="listbox-image">
                                  <img src="assets/images/default-profile.png" class="img-responsive" >
                                  </div>
                                  </ng-container>
                                  <ng-container *ngIf= 'user.image !== null'>
                                          <div class="listbox-image">
                                          <img  [src]='user.image' class="img-responsive" >
                                          </div>
                                  </ng-container>
                                  <h6 class="phone">{{user.seller_name}}</h6> 
                                  <p class="address">{{user.address}}</p>          
                                          
                              </div><br/>  
                              </ng-container>
                  
              </div>