button.btn.btn-primary.features {
    background-color: #2F5597;
    border-color: transparent;
    border-radius: 6%;
    margin-left: 35px;
    font-size: 16px;
    text-shadow: none;
    font-weight: 600;
    display: block;
    min-width: 100px;
    text-align: center;
    float: right;
    border-radius: 30px;
    margin-top: 16px;
}
p.set {
    font-size: 13px;
    color: #505050;
    font-weight: 700;
}
select.category {
    border-radius: 30px;
    width: 50%;
    height: 30px;
    background: none;
    font-size: 13px;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  span.slider.round {
    width: 100%;
}
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
