<div class="container-fluid addseller">
  <div class="row">
      <div class="col-sm-2 px-1 bg-white sidebar">
          <div class="py-2 sticky-top flex-grow-1">
              <seller-sidebar></seller-sidebar>
          </div>
      </div>
      <div class="col" id="main">
          <div class="new">
              <div class="container">
               
                  <div class="row">
                    <div class="col-md-3">
                      <div class="summary">
                        <h6 class="selsummary">Customer-{{assellcancelleddetail.buyer_nickname}}</h6>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <p class="orderdetails">Cancellation No: {{assellcancelleddetail.cancel_no}}</p>
                    </div>
                    <div class="col-md-3">
                      <p class="orderdetails">Cancellation Date: {{assellcancelleddetail.cancel_date}}</p>
                    </div>
                    <div class="col-md-3">
                        <p class="orderdetails">Total Amount: &#2352; {{assellcancelleddetail.total_cancel_amount}}</p>
                      </div>
                      <div class="col-md-3">
                        <p class="orderdetails">Quantity: {{assellcancelleddetail.total_cancel_qty}}</p>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-7">
                          <p class="orderdetails">Delivery Address: {{assellcancelleddetail.address_line_1}},{{assellcancelleddetail.city}} - {{assellcancelleddetail.pincode}}</p>
                        </div>
                        
                  </div>

               
                  <div class="row">
                        <div class="col-md-12">
                          <br/>
                          <table class="table table-hover sellerinvit">
                            <thead>
                                <tr>
                                    <th>Product Image</th>
                                    <th>Product Name</th>
                                    <th>Other Product Details</th>
                                    <th>Quantity</th>
                                    <th>Reason</th>
                                  </tr>
                              </thead>
                              
                              <tbody>
                                  <ng-container *ngIf="assellcancelled.length!='0'">
                                      <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                  <tr *ngFor = "let user of assellcancelled">
                                      
                                      <td class="sellerprof">
                                          <img [src]='user.landing_image'>
                                        </td>
                                        <td>{{user.product_name}}</td>
                                        <td>Cost- &#2352; {{user.rate}}</td>
                                        <td>{{user.product_level_quantity}}</td>
                                        <td>{{user.reason}}</td>
                                       

                                </tr>
                                </ng-container>
                                <ng-container *ngIf="assellcancelled.length=='0'">
                                    <tr>
                                        <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                        <td colspan="8">No Data Found</td>
                                      </tr>
                                </ng-container>
                              </tbody>
                            </table>
                          </div>
                        </div>
              </div>
          </div>
      </div>
  </div>
</div>
                    



