<div class="container-fluid content">
  <div class="row">
      <div class="col-sm-2 px-1 bg-white sidebar">
          <div class="py-2 sticky-top flex-grow-1">
              <app-sidebar></app-sidebar>
          </div>
      </div>
      <div class="col" id="main">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                          <div class="addseller">
                                  
                                  <button class="btn btn-primary features" ><a [routerLink]="['/buyer-cart']">View Cart</a></button>
                                  <button class="btn btn-primary features" [routerLink]="['/buyer-place-order-new']">Add More</button>
                          </div>
                  </div>
                  </div>
                  <hr class="line"/>
                  <div class="single-product-sec" style="background: #fff; border: 1px solid #d8d6d6">
                    
                    <div class="row">
                       
                        <div class="col-md-6"  id="slider" style="border-right: 1px solid #f0f0f0;">
                            <br/>
                          
                        
                                  
                                            <div id="myCarousel" class="carousel slide">
                                                <!-- main slider carousel items -->
                                                <div class="carousel-inner">
                                                    <ng-container *ngFor="let product of asorderdetail; let i= index">
                                                        
                                                    <div class="active item carousel-item" data-slide-number="0" style="text-align:center;">
                                                            <img [src]='product.landing_image'  class="img-fluid">
                                                           
                                                    </div>
                                                    <!-- <div class="item carousel-item" data-slide-number="1">
                                                            <img [src]='product.img_1'  class="img-fluid">
                                                    </div> -->
                                                    <div class="item carousel-item" data-slide-number="1" style="text-align:center;">
                                                            <img [src]='product.img_2'  class="img-fluid">
                                                    </div>
                                                    <div class="item carousel-item" data-slide-number="2" style="text-align:center;">
                                                            <img [src]='product.img_3'  class="img-fluid">
                                                    </div>
                                                    
                                                </ng-container>
                                                    <a class="carousel-control left pt-3" href="#myCarousel" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                                                    <a class="carousel-control right pt-3" href="#myCarousel" data-slide="next"><i class="fa fa-chevron-right"></i></a>
                            
                                                </div>
                                                <!-- main slider carousel nav controls -->
                            
                            
                                                <ul class="carousel-indicators list-inline">
                                                        <ng-container *ngFor="let product of asorderdetail; let i= index">
                                                    <li class="list-inline-item active">
                                                        <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#myCarousel">
                                                                <img [src]='product.landing_image'  >
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a id="carousel-selector-1" data-slide-to="1" data-target="#myCarousel">
                                                                <img [src]='product.img_2'  >
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a id="carousel-selector-2" data-slide-to="2" data-target="#myCarousel">
                                                                <img [src]='product.img_3'  >
                                                        </a>
                                                    </li>
                                                   </ng-container>
                                                </ul>
                                        </div>
                           
                            
                                
                        </div>
                        <div class="col-md-6">
                            <div class="single-product-infos">
                                <br/>
       
                            <ng-container *ngFor="let product of asorderdetail" >
                                <h6 id="product_title">{{product.product_name}}</h6>
                                <div id="product_price"><span class="price">
                                    <span id="sales_mrp_n">&#2352; {{product.sales_mrp}}</span>
                                </span></div>
                            
                               <br/>
                                <div class="row" id="getwithin">
                                    <div class="col-lg-6">
                                        <span class="detail-cat" >Get Within:{{product.sales_time_to_fulfill}}</span>
                                        
                                    </div>
                                    
                                </div>
                                </ng-container>
                               <br/>
                                <div  id="variant-row " >
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <span class="detail-cat">Quantity:</span>
                                        </div>
                                        <div class="col-lg-1">
                                            <span><input type="number" class="quanitytinput" [(ngModel)]="inpqty"></span>
                                            <input type="hidden" value=inpqty [(ngModel)]="inpqty" class="qtyinput">
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <span class="detail-cat">Variants:</span>
                                        </div>
                                        
                                        <div class="col-ld-2 Variants" *ngFor="let product of asorderdetail">

                                               <!--Bussiness Layout-->
                                               <ng-container *ngIf="product.business_layout=='true'">
                                                    <div class="variantscheck">
                                              <ng-container *ngFor="let variants of product.allvariant; let i=index">
                                              
                                                  <div class="column">
                                                    {{variants.name}}
                                                  </div>
                                                  
                                                  <!-- <div class="column">
                                                    <input type="text" class="variantgroup" id="{{variants.match_master_id}}" [(ngModel)]="variants.i" name="variantvalue{{i}}">
                                                    <input type="hidden" id="{{variants.match_master_id}}" class="hiddenvariant" [(ngModel)]="variants.i" name="variantvalue{{i}}"  [value]="variant">
                                                    </div> -->
                                                    

                                                </ng-container>
                                                    </div>
                                                </ng-container>

                                                <!--Bussiness layout end-->

                                                <!--User Layout-->
                                                <ng-container>
                                                        <ng-container *ngIf="product.business_layout=='false'">
                                                        <div class="column">
                                                                <ng-container *ngIf="product.variant_1!=''">
                                                            <select class="newsel"  (change)="handleSelectedValue(product, $event.target.value)" [(ngModel)]='selectedValue'>
                                                                    <!-- <option [value]="" selected  disabled>Please select variant</option> -->
                                                                 <option [value]="variants.id" *ngFor="let variants of product.variant_1">{{variants.value}}{{variants.unit}}</option>
                                                                 </select>
                                                                 <input type="hidden" [(ngModel)]='selectedValue' value="selectedValue" id="selvalue">
                                                                </ng-container>
                                                        </div>

                                                        <div class="column">
                                                              <ng-container *ngIf="product.variant_2!=''">
                                                                        <select class="newsel"  (change)="handleSelectedValue2(product,$event.target.value)">
                                                                            <!-- <option [value]="" selected  disabled>Please select variant</option> -->
                                                                             <option [value]="variants2.id"  *ngFor="let variants2 of product.variant_2" [selected]="variants2.id == ''">{{variants2.value}}{{variants2.unit}}</option>
                                                                             </select>
                                                              </ng-container>

                                                              
                                                        </div>

                                                        <!-- <div class="quantity">
                                                                <input type="text" [(ngModel)]="product.i" name="qty">
                                                                <input type="hidden" [(ngModel)]="product.i" value="qty" class="qty{{product.master_product_id}}" >
                                                                </div> -->
                                                        </ng-container>
                                                </ng-container>
                                                <!--end User layout-->
                                            </div>
                                    </div>
                                <br/>
                                <ng-container *ngFor="let product of asorderdetail" >   
                                <div class="row">
                                    <div class="col-lg-2">
                                        <span class="detail-cat">Deliver By:</span>
                                        
                                       </div>
                                       <div class="col-lg-3">
                                        <mat-form-field>
                                            <input id="matdatepi" type="text" matInput [matDatepicker]="picker"  placeholder="{{product.sales_date_to_fulfill}}" [(ngModel)]="product.sales_date_to_fulfill" >
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                          </mat-form-field>
                                          <input type="hidden" [(ngModel)]="product.sales_date_to_fulfill" value="product.sales_date_to_fulfill| date:'dd-MM-yyyy'" id="newdate">
                                       </div>
                                       
                                    
                                </div>
                               
                                <div class="row">
                                    
                                    <div class="col-lg-6">
                                        <span class="detail-cat" >Seller: {{product.seller_name}}</span>
                                       
                                            
                                    </div>
                                </div>
                              <br/>
                                <div class="row" id="brand-row">
                                    
                                    <div class="col-lg-6">
                                        <span class="detail-cat" id="brand-label" >Brand: {{product.brand}}</span>
                                        
                                            
                                    </div>
                                </div>
                                </ng-container>
                                <br/>
                                <div class="row" >
                                    
                                    <div class="col-lg-12" id="homeDS">
                                        <span class="detail-cat" >Delivery Type:
                                            <ng-container *ngIf= 'asbuyerpickupflag == 1'> 
                                               <span>Self Pickup</span> 
                                                </ng-container>
                                                <ng-container *ngIf= 'asbuyerpickupflag == 0'> 
                                                <span> Door Step</span> 
                                                 </ng-container>
                                        </span>
                                        
                                            
                                    </div>

                                   
                                </div>
                                
                                <br/>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <ng-container  *ngFor="let product of asorderdetail">
                                        <button class="btn btn-primary add" (click)="addtocart(product)">Add</button>
                                        </ng-container>
                                    </div>
                                    <div class="col-lg-3">
                                           
                                        <!-- <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button> -->
                                        <ng-container *ngFor="let product of asorderdetail">
                                            <ng-container *ngIf= 'product.is_favourite == 0'> 
                                                <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
                                                 </ng-container>
                                                 <ng-container *ngIf= 'product.is_favourite == 1'> 
                                                    <button class="like btn btn-default" type="button"><span class="fa fa-heart marked"></span></button>
                                                     </ng-container>
                                                </ng-container>
                                    </div>
                                    
                                </div>
                              
                                

                            </div>
                        </div>
                      
                    </div>
                    <br/><br/><br/>
                   </div>
                   </div>
                   </div>
                   </div>
                   </div>
                   </div>
                   