button.btn.btn-primary.features {
    background-color: #01205E;
    border-color: transparent;
    border-radius: 6%;
    margin-left: 35px;
    font-size: 16px;
    text-shadow: none;
    font-weight: 600;
    display: block;
    min-width: 100px;
    text-align: center;
    float: right;
    border-radius: 30px;
    margin-top: 16px;
}
button.btn.btn-primary.add{
    background-color: #01205E;
    border-color: transparent;
    margin-left: 20px;
    font-size: 16px;
    text-shadow: none;
    font-weight: 600;
    /* display: block; */
    min-width: 100px;
    text-align: center;
    float: right;
    border-radius: 30px;
    
}
#sales_mrp_n{
    color: black;
    font-size: 18px;
    font-weight: bold;
    font-family: roboto;
}
.detail-cat{
    float: left; 
    padding-top: 0px;
     font-size: 12px;
     font-weight: bold; 
     color:#8E8D9C;
      width: 150px !important;
}
h6#product_title {
    font-size: 18px;
    font-weight: 600;
}
.imagediv {
   
    width: 80%;
    height: 380px;
    margin: 0 auto;
}
img.landingimg {
    width: 100%;
    height: 100%;
}
.subimage{
   
    width: 100%;
    height: 120px;
    margin: 0 auto;  
}
button.like.btn.btn-default {
    background: none;
    border: none;
}
span.fa.fa-heart {
    color: gray;
    font-size: 25px;
}
span.fa.fa-heart.marked {
    color: red;
    font-size: 25px;
}
input.quanitytinput {
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 1px solid gray;
   margin: 0px;
   padding: 0px;
}
input#matdatepi {
    padding: 0px;
    margin: 0px;
}



#myCarousel .list-inline {
    white-space:nowrap;
    overflow-x:auto;
}

#myCarousel .carousel-indicators {
    position: static;
    left: initial;
    width: initial;
    margin-left: initial;
    margin-top: 13px;
}

#myCarousel .carousel-indicators > li {
    width: 100%;
    height: auto;
    text-indent: initial;
    overflow: hidden;
    border: 1px solid;
    text-align: center;
}
ul.carousel-indicators.list-inline li a img {
    width: 50%;
    height: auto;
}
#myCarousel .carousel-indicators > li.active img {
    opacity: 0.7;
}

.carousel-control.right {
    right: 0;
    left: auto;
    /* background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0%,rgba(0,0,0,.5) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0%,rgba(0,0,0,.5) 100%);
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0%,rgba(0,0,0,.5) 100%); */
    background-repeat: repeat-x;
    
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}

.carousel-control.left {
    /* background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5) 0%,rgba(0,0,0,.0001) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0%,rgba(0,0,0,.0001) 100%);
    background-image: linear-gradient(to right,rgba(0,0,0,.5) 0%,rgba(0,0,0,.0001) 100%); */
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}
.carousel-control {
    position: absolute;
    top:50%;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #000;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    opacity: .5;
}

.item.carousel-item.ng-star-inserted.active{
    text-align:center;
}
carousel-item{
    text-align: center;
}
.img-fluid {
    /* max-width: 100%; */
    /* height: 318px; */
    width: 50% !important;
    height: 370px !important;
    text-align: center;
}

.magnify {width: 200px; margin: 50px auto; position: relative;}

/*Lets create the magnifying glass*/
.large {
	width: 175px; height: 175px;
	position: absolute;
	border-radius: 100%;
	
	/*Multiple box shadows to achieve the glass effect*/
	box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 
	0 0 7px 7px rgba(0, 0, 0, 0.25), 
	inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
	
	/*Lets load up the large image first*/
	background: url('http://thecodeplayer.com/uploads/media/iphone.jpg') no-repeat;
	
	/*hide the glass by default*/
	display: none;
}

/*To solve overlap bug at the edges during magnification*/
.small { display: block; }