
.sidebar{
    box-shadow: 10px 10px 10px #d8d6d6;
}
button.btn.btn-primary.features {
    background-color: #01205E;
    border-color: transparent;
    
    font-size: 16px;
   
    font-weight: 600;
    display: block;
    min-width:  100px;
    text-align: center;
    float: right;
    border-radius: 30px;
    margin-top: 16px;
   
}
#filtersubmit {
    position: relative;
    z-index: 1;
    left: -25px;
    top: 1px;
    color: #7B7B7B;
    cursor:pointer;
    width: 0;
}
input#filter {
    margin-top: 16px;
    width: 100%;
    border-radius: 30px;
    border-color: #757474;
    height: 38px;
}
img.img-circle {
    border-radius: 50%;
    border: 1px solid black;
}
button.btn.btn-primary.view {
    height: 33px;
    font-size: 15px;
}

table.table.table-hover.viewcust tr th {
    text-align: left;
    font-size: 13px;
    border: 1px solid #ccc;
    vertical-align: left;

}
.table.table.table-hover td {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    text-align: left;
    font-size: 13px;
}

/*Search bar*/
.button_box2 {
    margin:30px auto;
    }
    /*-------------------------------------*/
    .cf:before, .cf:after{
    content:"";
    display:table;
    }
    .cf:after{
    clear:both;
    }
    .cf{
    zoom:1;
    }
    /*-------------------------------------*/
    
    .form-wrapper-2 {
    
    padding: 15px;
    background: #555;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    }
    .form-wrapper-2 input {
    width: 84%;
    
    padding: 11px 5px;
    float: left;
    font: bold 15px 'Raleway', sans-serif;
    border: 0;
    background: #eee;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    }
    .form-wrapper-2 input:focus {
    outline: 0;
    background: #fff;
    -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    }
    .form-wrapper-2 input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
    }
    .form-wrapper-2 input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
    }
    .form-wrapper-2 input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
    }
    .form-wrapper-2 button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 114px;
    font: bold 15px/40px 'Raleway', sans-serif;
    color: #fff;
    text-transform: uppercase;
    background: #D88F3C;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
    }
    .form-wrapper-2 button:hover{
    background: #FA8807;
    }
    .form-wrapper-2 button:active,
    .form-wrapper-2 button:focus{
    background: #c42f2f;
    }
    .form-wrapper-2 button:before {
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #D88F3C transparent;
    top: 12px;
    left: -6px;
    }
    .form-wrapper-2 button:hover:before{
    border-right-color: #FA8807;
    }
    .form-wrapper-2 button:focus:before{
    border-right-color: #c42f2f;
    }
    .form-wrapper-2 button::-moz-focus-inner {
    border: 0;
    padding: 0;
    }
.sellerprof img{
    
        width: 50px;
        border-radius: 50%;
        height:50px;

}
