<div class="container-fluid addseller">
    <div class="row">
        <div class="col-sm-2 px-1 bg-white sidebar">
            <div class="py-2 sticky-top flex-grow-1">
                <seller-sidebar></seller-sidebar>
            </div>
        </div>
        

        <div class="col" id="main">
            <div class="new">
                <div class="container">
                       
                       
                    <br/><br/>
                    <div class="row">
                        
                        <div class="col-md-1"></div>
                            <button type="submit" class="btn btn-default conn" id="connected" (click)="connectedcustomers()">Propose order to connected customers</button>
                            <div class="col-md-1"></div>
                            <button type="submit" class="btn btn-default conn" id="nonconnected" (click)="nonconnectedcustomers()">Propose order to Non connected customers</button>
                        </div>

                    <div class="row" id="connected-customer">
                            <div class="col-md-5"> 
                                    <form class="form" [formGroup]="Searchseller" (ngSubmit)="onSubmitsearch()">
                                            <div class="input-group">
                                                <input class="form-control" type="text"  formControlName="seller_name" placeholder="Search" aria-label="Search"  id="mysearch" [ngClass]="{ 'is-invalid': submitted && f.seller_name.errors }">
                                                <div class="input-group-addon" id="searchbar">
                                                    <button class="btn btn-default btn-sm" type="submit"  id="search-btn"><i class="fa fa-search"></i></button><span class="clear" (click)="clearsearch()" >Clear search</span>
                                                    <div *ngIf="submitted && f.seller_name.errors" class="invalid-feedback">
                                                        <div *ngIf="f.seller_name.errors.required" class="newwar">Username is required</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                            </div> 
                            
                    </div><br/>
                    <div class="row" id="connected-customer-details">
                            <ng-container *ngFor="let user of asproposedconnected">
                                <div class="col-md-2 listbox">
                                        <ng-container *ngIf= 'user.profile_image == null'>
                                        <div class="listbox-image">
                                        <img src="assets/images/default-profile.png" class="img-responsive" >
                                        </div>
                                        </ng-container>
                                        <ng-container *ngIf= 'user.profile_image !== null'>
                                                <div class="listbox-image">
                                                <img  [src]='user.profile_image' class="img-responsive" >
                                                </div>
                                        </ng-container>
                                        <h6 class="phone">{{user.buyer_nickname}}</h6> 
                                        <p class="address">{{user.address_line_1}},{{user.city}}</p>          
                                                
                                    </div><br/>  
                                    </ng-container>
                        
                    </div>
                    <div class="row" id="non-connected-customer">
                            <div class="col-md-5"> 
                                    <!-- <form class="form" [formGroup]="Searchseller1" (ngSubmit)="onSubmitsearch1()">
                                            <div class="input-group">
                                                <input class="form-control" type="text"  formControlName="seller_name1" placeholder="Search" aria-label="Search"  id="mysearch" [ngClass]="{ 'is-invalid': submitted && g.seller_name1.errors }">
                                                <div class="input-group-addon" id="searchbar">
                                                    <button class="btn btn-default btn-sm" type="submit"  id="search-btn"><i class="fa fa-search"></i></button><span class="clear" (click)="clearsearch1()" >Clear search</span>
                                                    <div *ngIf="submitted && g.seller_name1.errors" class="invalid-feedback">
                                                        <div *ngIf="g.seller_name1.errors.required" class="newwar">Username is required</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form> -->
                            </div> 
                            
                    </div><br/>
                    <div class="row" id="non-connected-customer-details">
                            <ng-container *ngFor="let user of asproposednonconnected">
                                <div class="col-md-2 listbox">

                                        <div class="listbox-image">
                                        <img src="assets/images/default-profile.png" class="img-responsive" >
                                        </div>
                                       
                                        <!-- <ng-container *ngIf= 'user.profile_image !== null'>
                                                <div class="listbox-image">
                                                <img  [src]='user.profile_image' class="img-responsive" >
                                                </div>
                                        </ng-container> -->
                                        <h6 class="phone">{{user.buyer_nickname}}</h6> 
                                        <p class="address">{{user.address_line_1}},{{user.city}}</p>          
                                                
                                    </div><br/>  
                                    </ng-container>
                        
                    </div>
                        </div>
                        </div>
                   
                    </div>
                    </div>
        </div>