button.btn.btn-default.conn {
    background-color: white;
    border: 1px solid black;
    padding: 16px;
    color: #01205e;
}
#mysearch:focus + .input-group-addon {
	z-index: 10;
}

#search-btn:hover {
	cursor: pointer;
	/*color: gold;*/
	background-color: none;
}
#mysearch{
    padding-left: 20px; 
    border-radius: 40px;
}
#searchbar{
    margin-left: -50px; 
    z-index: 3;
     border-radius: 40px;
      background-color: transparent; 
    border:none;
}
#search-btn{
    border-radius: 20px;
    margin-top: 3px;
}
span.clear {
    display: block;
}
form#dateSearch {
    display: inherit;
}
img.img-circle.customer {
    width: 100%;
    
}
.listbox {
    text-align: center;
    border: 1px solid gainsboro;
    margin-bottom: 10px;
}
p.address {
    font-size: 12px;
}
h6.phone {
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
}
.listbox-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
    margin: 0 auto;
    margin-top: 20px;
}
img.img-responsive {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
}