button.btn.btn-primary.features {
    background-color: #01205E;
    border-color: transparent;
    margin: 0 auto;
    font-size: 15px;
    text-shadow: none;
    font-weight: 600;
    display: block;
    width:85%;
    
} 
.search {
    width: 100%;
    position: relative
  }
  
  .searchTerm {
    float: left;
    width: 100%;
    border: 3px solid #00B4CC;
    padding: 5px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
  }
  .search-top {
    margin-top: 20px;
  }
  .searchTerm:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    position: absolute;  
    right: -35px;
    width: 40px;
    height: 40px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
  }
  table.table.table-hover.sellerinvit {
    margin-top: 20px;
}
  table.table.table-hover.sellerinvit tr th {
    font-size: 13px;
    text-align: center;
    border: 1px solid #ccc;
    vertical-align: middle;
    
}
td.sellerprof img {
    width: 50px;
}
table.table.table-hover.sellerinvit td {
    font-size: 12px;
    text-align: center;
    
}