
<div class="container-fluid content">
    <div class="row">
        <div class="col-sm-2 px-1 bg-white sidebar">
            <div class="py-2 sticky-top flex-grow-1">
                <app-sidebar></app-sidebar>
            </div>
        </div>

        <div class="col" id="main">
            <div class="new">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                          <div class="search-top">
                            <div class="searchbar">
                                <div class="search">
                                    <input type="text" class="searchTerm" placeholder="Search By Product Name">
                                    <button type="submit" class="searchButton">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            </div>
                        </div>
                      
                        
                       
                        <table class="table table-hover sellerinvit">
                            <thead>
                                <tr>
                                    
                                    <th> Profile Image</th>
                                    <th>Seller Name</th>
                                    <th>Mobile Number</th>
                                    <th>Address</th>
                                    <th>City</th>
                                    <th>State</th>
                                    <th>Pin Code</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let shared of shareddata">
                                <td><img [src]=shared.profile_image></td>
                                <td>{{shared.fullname}}</td>
                                <td>{{shared.mobile}}</td>
                                <td>{{shared.address_line_1}}</td>
                                <td>{{shared.city}}</td>
                                <td>{{shared.state}}</td>
                                <td>{{shared.pincode}}</td>
                                <td><button class="btn btn-primary features">View Shared Products</button></td>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>