<div class="navigation">

  <ul class="bg-white">

      <li class="has-sub"> <a [routerLink]="['/buy-setting-catalog']">Catalog Settings</a>

         

      </li>

      <li class="has-sub"> <a [routerLink]="['/buy-setting-order']">Orders Settings</a>

          

      </li>

      <!-- <li class="has-sub"> <a>Variant Settings</a>

          <ul>

              <li><a [routerLink]="['/buyer-variant-setting']">Add Variants</a>
                  
              </li>

              <li><a [routerLink]="['/buyer-manage-variant']">View Variants</a></li>


          </ul>

      </li> -->
      

  </ul>

</div>

