<p class="basiyn">Basiyn - Pricing</p>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="pricing-content">
        <br/>
        <span class="first">Our pricing structure is simple and straightforward. There are no activation charges. There are no fixed charges. There are no subscription charges. There are no User based charges. Usage of platform is completely free in the hands of buyer (usage of all the functionalities in BUY section).</span>
        <br/>
        <h6 class="seller">As a seller:</h6>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h6 class="seller-points">1.You are eligible for the completely free trial for first 60 days from the date of registration</h6>
                <h6 class="seller-points">2.After this, you will need BASIYN points in your ‘Points Bag’ for receiving orders from your customers. Except for receiving orders, usage of all the other functionalities such as building your customer network, creating product catalog, sharing your catalog with the customers etc. will not attract any charges.</h6>
                <h6 class="seller-points">3.You can add points into your ‘Points bag’ with as low as 1 rupee. You can make an online payment through ‘Points bag’ section in your App.</h6>
                <h6 class="seller-points">4.Following formula will be used to convert the amount paid into BASIYN Points:<br/><span class="rupee">One Rupee = 10 BASIYN Points</span><br/>For e.g., when you make a payment for 100 rupees, you will get 100*10 = 1,000 BASIYN Points into your ‘Points bag’</h6>
                <h6 class="seller-points">5.Each unit of order quantity received will consume one BASIYN point from your ‘Points bag’.
                    For e.g., if you have 850 BASIYN Points available in your ‘Points Bag’ and you receive an order from your customer for 10 units (order quantity). This will consume your 10 BASIYN Points, and your remaining available points will be 840 now.</h6>
                <h6 class="seller-points">6.If available points are less than what is required for receiving the order, your order visibility will be blocked and your customer will be notified till sufficient points are added into your ‘Points bag’. Though, you will be able to see the blocked order details aggregated at daily level in ‘Orders -> Blocked Orders’ section.</h6>
                <h6 class="seller-points">7.Once you add points, oldest blocked order will be unblocked first followed by newer orders. Unblocking of orders will happen at order level, you will not get the visibility of partial order at the time of unblocking.</h6>
                <h6 class="seller-points">8.If you wish to safeguard yourself against the unwanted/incorrect/wrongly placed orders from your customers, you may set value of ‘Maximum Order Quantity’ at SKU/Product level. Your customer will not be able to place any bigger order than what you mention here. Default value of ‘Maximum Order Quantity’ is 5000.</h6>
                <br/>
              </div>
            </div>
          </div>
      </div>
      <br/>
      <br/>
    </div>
  </div>
</div>