.basiyn{
    font-weight: 600;
    font-size: 22px;
    margin-right: 20px;
    margin-left: 25px;
    position: relative;
    color: orange;
}
.pricing-content {
    border: 1px solid #ccc;
    padding-left: 20px;
    padding-right: 10px;
    height: 400px;
    overflow-y: scroll;
}
span.first {
    font-size: 15px;
}
h6.seller {
    color: #23A5C0;
    font-size: 22px;
    font-weight: 600;
    line-height: 2em;
}
h6.seller-points {
    margin-left: 20px;
}
span.rupee {
    font-size: 15px;
    margin-left: 50px;
    line-height: 3em;
    color: gray;
    font-weight: 600;
}