<div class="navigation">

  <ul class="bg-white">

      <li class="has-sub"> <a>My Sellers</a>

          <ul>

              <li class="has-sub"> <a class="nav-link" [routerLink]="['/add-seller']">Add Seller's</a>

              </li>

              <li><a class="nav-link" [routerLink]="['/seller-invitation']">Seller's Invitation</a></li>
              <li><a class="nav-link" [routerLink]="['/view-seller']">View My Seller</a></li>
              <li><a class="nav-link" [routerLink]="['/invited-seller']">Invited Sellers</a></li>
          </ul>

      </li>

      <li class="has-sub"> <a>My Store</a>

          <ul>

              <li><a>Add Items</a>
                  <ul>
                      <li><a class="nav-link" [routerLink]="['/shared-by-seller']">Shared By Seller</a></li>
                      <li><a class="nav-link" [routerLink]="['/add-single-item']">Add Single Item</a></li>
                  </ul>

              </li>

              <li><a [routerLink]="['/buyer-manage-catalog-variants']">Manage My Store</a></li>
              <li><a [routerLink]="['/my-product-categories']">My Product Categories</a></li>

              <li><a [routerLink]="['/request-seller-for-catalog']">Request Seller for Catalog</a></li>
              <li><a [routerLink]="['/buyer-awaiting-seller-acceptance-sellers-list']">Awaiting Seller for Acceptance</a></li>

          </ul>

      </li>

      <li class="has-sub"> <a>My Orders</a>

          <ul>

              <li><a [routerLink]="['/buyer-place-order-new']">Place Order</a>
                  <ul>
                      <li><a [routerLink]="['/buyer-place-order-by-seller']">By Sellers</a></li>
                      <li><a [routerLink]="['/buyer-place-order-by-product-new']">By Products</a></li>
                      <li><a [routerLink]="['/buyer-place-order-by-proposed-orders']">Proposed Orders</a></li>
                      <li><a [routerLink]="['/buyer-bulk-place-order']">Bulk Place Order</a></li>
                  </ul>
              </li>

              <li><a [routerLink]="['/outstanding-orders']">Outstanding Orders</a></li>
              <li><a [routerLink]="['/buyer-cart']">Cart</a></li>

              <li><a [routerLink]="['/buyer-order-summary-group']">Order History</a></li>
              <li><a [routerLink]="['/buyer-dispatch-summary-group']">Dispatched By Seller</a></li>

              <li><a [routerLink]="['/buyer-cancel-summary-group']">Cancelled By Seller</a></li>

          </ul>

      </li>
      <li class="has-sub"> <a>Account</a>

          <ul>

              <li><a [routerLink]="['/mini-account-buyer-customer-select']">Update Transfer Amount</a></li>

              <li><a [routerLink]="['/mini-account-buyer-customer-details']">Account Details</a></li>

          </ul>

      </li>

  </ul>

</div>
