<div class="navigation">
                                
    <ul class="bg-white">
  
      <li class="has-sub"> <a >Customers</a>
  
        <ul>
  
          <li class="has-sub"> <a class="nav-link" [routerLink]="['/add-customer']">Add Customer/s</a>
  
            
  
          </li>
  
          <li><a class="nav-link" [routerLink]="['/customer-invitation']">Inivitations from Customer/s</a></li>
          <li><a class="nav-link" [routerLink]="['/view-customer']">View My Customers</a></li>
          <!-- <li><a class="nav-link" [routerLink]="['/create-group']">Create Group</a></li>
          <li><a href="#">View Groups</a></li>  -->
          <li><a class="nav-link" [routerLink]="['/invited-customer']">Invited Customers</a></li>
        </ul>
  
      </li>
  
    <li class="has-sub"> <a>Catalog</a>
  
        <ul>
  
          <li><a href="#">Create Catalog</a>
          <ul>
            <li><a href="#">Add Single Product</a></li>
            <li><a [routerLink]="['/seller-from-basiyn-catalog']">From BASIYN Catalog</a></li>
            <li><a href="#">From Purchase Catalog</a></li>
            <li><a href="#">From Customer Catalog</a></li>
          </ul>
          
          </li>
  
          <li><a [routerLink]="['/seller-manage-catalog']">Manage Catalog</a></li>
          <li><a [routerLink]="['/seller-share-catalog']">Share Catalog</a></li>
  
          <li><a [routerLink]="['/seller-catalog-sharing-requests']">Customers Catalog Requests</a></li>
          <li><a href="#">Manage Selling Price</a>
            <ul>
              <li>
                <a [routerLink]="['/seller-all-customers-with-connected-products']">Customer specific pricing</a>
              </li>
              <li>
                <a [routerLink]="['/seller-manage-selling-price']">Cost objections from customer</a>
                </li>
            </ul>
          </li>
          <li><a href="#">My Product Categories</a></li>
  
          <li><a [routerLink]="['/seller-awaiting-customer-acceptance']">Awaiting Customer Acceptance</a></li>
          <li><a [routerLink]="['/assign-seller']">Assign Supplier</a></li>
  
        
  
        </ul>
  
      </li>
  
      <li class="has-sub"> <a>Orders</a>
  
        
          <ul>
            <li><a [routerLink]="['/seller-process-orders']" >Process Order</a></li>
            <li><a [routerLink]="['/seller-bulk-process-order']">Bulk Process Order</a></li>
            <li><a [routerLink]="['/seller-rt-dispatch']">View RTD(Ready To Dispatch)</a></li>
            <li><a [routerLink]="['/seller-dispatch-summary-group']" >Dispatched Order History</a></li>
            <li><a [routerLink]="['/seller-cancel-orders']">Cancel Orders</a></li>
            <li><a [routerLink]="['/seller-cancelled-products-group']">View RFC(Ready For Cancellation)</a></li>
            
            <li><a [routerLink]="['/seller-cancel-summary-group']">Cancelled Order History
              </a></li>
              <li><a [routerLink]="['/seller-propose-order-by-customer']">Propose Orders
              </a></li>
            <li><a [routerLink]="['/seller-proposed-orders-group']">Proposed Orders History</a></li>
            <li><a [routerLink]="['/seller-order-summary-group']">Received Orders History</a></li>
            <li><a [routerLink]="['/seller-blocked-orders']">Blocked Orders</a></li>
          </ul></li>
  
          
      <li class="has-sub"> <a>Points Bag</a>
  
          <ul>
    
            <li><a [routerLink]="['/wallet']">Add & View Points</a></li>
    
            <li><a [routerLink]="['/payment']">View Invoices</a></li>
            
    
          </ul>
    
        </li>
    
      <li class="has-sub"> <a>Account</a>
  
        <ul>
  
          <li><a [routerLink]="['/mini-account-seller-customer-select']">Update Transfer Amount</a></li>
  
          <li><a [routerLink]="['/mini-account-seller-customer-details']">Account Details</a></li>
          
  
        </ul>
  
      </li>
  
    </ul>
  
  </div>

  