<div class="container-fluid content">
    <div class="row">
        <div class="col-sm-2 px-1 bg-white sidebar">
            <div class="py-2 sticky-top flex-grow-1">
                <app-sidebar></app-sidebar>
            </div>
        </div>
        <div class="col" id="main">

            <div class="container">

                <div class="row">
                    <div class="col-md-9 pull-left">
                        <div class="addseller">

                            <div class="button_box2">
                                <div class="form-wrapper-2 cf">
                                    <form [formGroup]="Searchseller" (ngSubmit)="onSubmit()">
                                        <input id="searchbar" formControlName="seller_name" type="text" placeholder="What're you looking for ?" [ngClass]="{ 'is-invalid': submitted && f.seller_name.errors }">
                                        <button type="submit">Search</button><span class="clear" (click)="clearsearch()">Clear search</span>
                                        <div *ngIf="submitted && f.seller_name.errors" class="invalid-feedback">
                                            <div *ngIf="f.seller_name.errors.required" class="newwar">Username is required</div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3 ">
                        <div class="addseller">
                            <button class="btn btn-primary features" (click)="singledelete()">Delete</button>
                        </div>
                    </div>

                    <br/>
                    <div class="col-md-12">
                        <br/>
                        <ng-container *ngIf="searchseller.length=='0'">
                            <table class="table table-hover viewseller">
                                <thead>
                                    <tr>
                                        <th style="text-align: left; ;" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=": activate to sort column ascending">
                                            <input type="hidden" value="1" class="checkedAll" name="select_all" id="checkAll" (click)="delete(user)">Select</th>
                                        <th>Profile Image</th>
                                        <th>Nick Name</th>
                                        <th>Full Name</th>
                                        <th>Mobile Number</th>

                                        <th>Address</th>
                                        <th>City</th>
                                        <th>State</th>
                                        <th>Pincode</th>
                                        <th>Products</th>

                                    </tr>
                                </thead>
                                <ng-container *ngIf="viewseller.length!='0'">
                                    <tbody>
                                        <td colspan="8" *ngIf="loadingnew">
                                            <div class="lds-facebook">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                            </div>
                                        </td>
                                        <tr *ngFor="let user of viewseller">
                                            <td style="text-align: left; ;" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=": activate to sort column ascending">
                                                <input type="checkbox" value="{{user.invite_id}}" class="sellerdelete" name="select_all" id="checkedAll" (click)="checksingle(user)">
                                            </td>
                                            <td class="sellerprof"><img [src]='user.user.profile_image'></td>
                                            <td>{{user.user.nickname}}</td>
                                            <td>{{user.user.fullname}}</td>
                                            <td>{{user.user.mobile}}</td>

                                            <td>
                                                <ng-container *ngIf="user.user.address_line_1 !== null">
                                                    {{user.user.address_line_1}}</ng-container>
                                                <ng-container *ngIf="user.user.address_line_1 ==null">
                                                    N/A</ng-container>
                                            </td>
                                            <td>{{user.user.state}}</td>
                                            <td>{{user.user.city}}</td>
                                            <td>{{user.user.pincode}}</td>
                                            <td>
                                                <button class="btn btn-primary view" (click)="viewmysellerdetail(user.user.id)">View Linked Products&nbsp;<i class="fa fa-arrow-right"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </ng-container>

                                <ng-container *ngIf="viewseller.length=='0'">
                                    <td colspan="8" *ngIf="loadingnew">
                                        <div class="lds-facebook">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </td>
                                    <td colspan="10">No Seller Found</td>
                                </ng-container>
                            </table>
                        </ng-container>

                        <ng-container *ngIf="searchseller.length !='0'">
                            <table class="table table-hover table-striped searchseller">
                                <thead>
                                    <tr>
                                        <th>Profile Image</th>
                                        <th>Nick Name</th>
                                        <th>Full Name</th>
                                        <th>Mobile Number</th>

                                        <th>Address</th>
                                        <th>City</th>
                                        <th>State</th>
                                        <th>Pincode</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of searchseller">
                                        <td style="text-align: left; ;" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=": activate to sort column ascending">
                                            <input type="checkbox" value="{{ids}}" class="checkedAll" name="select_all" id="checkedAll" (click)="checksingle1(ids)">
                                        </td>
                                        <td class="sellerprof"><img [src]='user.profile_image'></td>
                                        <td>{{user.nickname}}</td>
                                        <td>{{user.fullname}}</td>
                                        <td>{{user.mobile}}</td>

                                        <td>

                                            {{address_line_1}}

                                        </td>
                                        <td>{{user.state}}</td>
                                        <td>{{user.city}}</td>
                                        <td>{{user.pincode}}</td>
                                        <td>
                                            <button class="btn btn-primary view">View Linked Products&nbsp;<i class="fa fa-arrow-right"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>