<div class="container-fluid addseller">
    <div class="row">
        <div class="col-sm-2 px-1 bg-white sidebar">
            <div class="py-2 sticky-top flex-grow-1">
                <seller-sidebar></seller-sidebar>
            </div>
        </div>
        <div class="col" id="main">
          <div class="new">
              <div class="container">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="addseller">
  
                            <a [routerLink]="['/seller-rt-dispatch']"><button class="btn btn-primary features">View Ready To Dispatch</button></a>
                              <button class="btn btn-primary features" (click)="dispatch()">Make Ready To Dispatch</button>
                          </div>
                      </div>
                      </div>
                      <hr class="line"/>
                      <div class="row">
                          <div class="col-md-5">
                                <form class="form" [formGroup]="Searchseller" (ngSubmit)="onSubmitsearch()">
                                          <div class="input-group">
                                              <input class="form-control" type="text"  formControlName="product_name" placeholder="Search by Product Name" aria-label="Search"  id="mysearch" [ngClass]="{ 'is-invalid': submitted && f.product_name.errors }">
                                              <div class="input-group-addon" id="searchbar">
                                                  <button class="btn btn-default btn-sm" type="submit"  id="search-btn"><i class="fa fa-search"></i></button><span class="clear" (click)="clearsearch()" >Clear search</span>
                                                  <div *ngIf="submitted && f.product_name.errors" class="invalid-feedback">
                                                      <div *ngIf="f.product_name.errors.required" class="newwar">Username is required</div>
                                                  </div>
                                              </div>
                                          </div>
                                      </form>
                          </div>
                          <div class="col-md-2"></div>
                          <div class="col-md-5">
                            <input type="checkbox" id="check" (change)="markdisp()"><span class="mark" >Mark Dispatch Qty equal to Outstanding Qty</span>
                          </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <br/>
                                <table class="table table-hover sellerinvit">
                                  <thead>
                                      <tr>
                                          <th style="text-align: left;" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=": activate to sort column ascending">
                                            <input type="hidden" value="1" class="checkeAll" name="select_all" id="checkAll" >
                                        </th>
                                          <th>Product Image</th>
                                          <th>Product Name</th>
                                          <th>Cost</th>
                                          <th>Customer Name</th>
                                          <th>Quantity</th>
                                          <th>Dispatch Qty</th>
                                          <th>Order Details</th>
                                          <th>Deliver by Date</th>
                                          <th> Delivery Type</th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        <ng-container *ngIf="assellprocessorderdetail.length!='0'">
                                            <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                        <tr *ngFor = "let user of assellprocessorderdetail; let i=index">
                                            <td style="text-align: left;" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=": activate to sort column ascending">
                                                
                                                    <ng-container *ngIf="user.due_qty-user.dispatch_in_progress-user.cancellation_in_progress!=0">    
                                                <input type="checkbox"  value="{{user.outstandingQty}}"  attr.data-teammember="{{user.s_tm_id}}" attr.data-masterid="{{user.match_master_id}}" attr.data-ordno="{{user.order_no}}" attr.data-odate="{{user.order_date}}" attr.data-dstatus="{{user.buyer_pickup_flag}}" attr.data-addid="{{user.address_id}}" attr.data-ddate="{{user.deliver_by_date}}"  attr.data-umatchid="{{user.user_match_id}}"  attr.data-vals="{{user.due_qty-user.dispatch_in_progress-user.cancellation_in_progress}}" class="checkeAll" name="select_all" id="checkAll"  >
                                                        </ng-container>

                                                        <ng-container *ngIf="user.due_qty-user.dispatch_in_progress-user.cancellation_in_progress==0">
                                                                <input type="checkbox"   class="unread" readonly disabled>
                                                        </ng-container>
                                            </td>
                                            <td class="sellerprof">
                                                <img [src]='user.landing_image'>
                                              </td>
                                              <td>{{user.product_name}}</td>
                                              <td>&#2352; {{user.product_selling_price}}</td>
                                              <td>{{user.buyer_nickname}}</td>
                                              <td><span class="out">Outstanding Qty:{{user.outstandingQty}}</span><br/>
                                                <span class="dispatch">Dispatch in progress:{{user.dispatch_in_progress}}</span><br/>
                                                <span class="cancel">Cancellation in progress:{{user.cancellation_in_progress}}</span>
                                              </td>
                                               <td >
                                                   <ng-container *ngIf="showq">
                                                        <ng-container *ngIf="user.due_qty-user.dispatch_in_progress-user.cancellation_in_progress==0">
                                                                <input type="text" class="readonly getval" value="" id="disp{{i}}"  attr.data-index="{{i}}" readonly>
                                                           </ng-container>
        
                                                           <ng-container *ngIf="user.due_qty-user.dispatch_in_progress-user.cancellation_in_progress!=0">
                                                                <input type="text" class="getval"   attr.data-index="{{i}}" [(ngModel)]="user.outstandingQty" name="newqty" id="disp{{i}}" (ngModelChange)="onchangenew($event)">
                                                                <input type="hidden" value="user.outstandingQty" [(ngModel)]=user.outstandingQty>
                                                           </ng-container>
                                                   </ng-container >
                                                   <ng-container *ngIf="showdata">
                                                   <ng-container *ngIf="user.due_qty-user.dispatch_in_progress-user.cancellation_in_progress==0">
                                                        <input type="text"   id="disp{{i}}"  attr.data-index="{{i}}" class="readonly getval" readonly>
                                                   </ng-container>

                                                   <ng-container *ngIf="user.due_qty-user.dispatch_in_progress-user.cancellation_in_progress!=0">
                                                        <input type="text"  attr.data-index="{{i}}" [(ngModel)]=user.outstandingQty  (ngModelChange)="onchangenew($event)" name="newqty"  class="getval" id="disp{{i}}">
                                                        <input type="hidden" value="user.outstandingQty" [(ngModel)]=user.outstandingQty>
                                                   </ng-container>
                                                </ng-container>
                                                </td>
                                              <td>Order No:{{user.order_no}}<br/>Order Date:{{user.order_date}}</td>
                                              
                                              <td>{{user.deliver_by_date}}</td>
                                              <ng-container *ngIf= 'user.buyer_pickup_flag == 1'> 
                                                  <td>Buyer Pickup</td>
                                                  </ng-container>
                                                  <ng-container *ngIf= 'user.buyer_pickup_flag == 0'> 
                                                   <td>Door Step</td>
                                                   </ng-container>
                                             
      
                                      </tr>
                                      </ng-container>
                                      <ng-container *ngIf="assellprocessorderdetail.length=='0'">
                                          <tr>
                                              <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                              <td colspan="8">No Data Found</td>
                                            </tr>
                                      </ng-container>
                                      
                                    </tbody>
                                  </table>
                                </div>
                              </div>
