<div class="container-fluid content">
    <div class="row">
        <div class="col-sm-2 px-1 bg-white sidebar">
            <div class="py-2 sticky-top flex-grow-1">
                <app-sidebar></app-sidebar>
            </div>
        </div>
        <div class="col" id="main">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                            <div class="addseller">
                                    
                                    <button class="btn btn-primary features" (click)="rejectnew()">Reject</button>
                                    <button class="btn btn-primary features" (click)="acceptinvit()">Accept</button>
                            </div>
                    </div>
                    <hr class="line"/>
                    <div class="col-md-12">
                        <br/>
                        
                                
                        
                                <table class="table table-hover table-striped sellerinvit">
                            <thead>
                                <tr>
                                    <th style="text-align: left; ;" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=": activate to sort column ascending"><input type="checkbox" value="1" class="checkeAll" name="select_all" id="checkAll" ></th>
                                    <th>Profile Image</th>
                                    <th>Full Name</th>
                                    <th>Mobile Number</th>
                                    <th>About Seller</th>
                                    <th>Address</th>
                                    <th>City</th>
                                    <th>State</th>
                                    <th>Pincode</th>
                                </tr>
                             </thead>
                             <ng-container *ngIf="asinvited.length!='0'">
                             <tbody>
                                    <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                    <tr *ngFor="let user of asinvited">
                                        <td style="text-align: left; ;" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=": activate to sort column ascending"><input type="checkbox" value="{{user.invite_id}}" class="sellerinv" name="select_all" id="checkedAll" (change)="sellerinvclick(user)"></td>
                                        <td class="sellerprof">
                                            <img [src]='user.user.profile_image'>
                                        </td>
                                        <td>{{user.user.fullname}}</td>
                                        <td>{{user.user.mobile}}</td>
                                        <td>{{user.user.about_me}}</td>
                                        <td>{{user.user.address_line_1}}</td>
                                        <td>{{user.user.state}}</td>
                                        <td>{{user.user.city}}</td>
                                        <td>{{user.user.pincode}}</td>


                                    </tr>
                             </tbody>
                             </ng-container>

                             <ng-container *ngIf="asinvited.length=='0'">
                                    <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                 <td colspan="10">No seller invits found</td>
                             </ng-container>

                        </table>
                  

                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>