div#main {
  padding: 0px;
  margin: 0px;
}
button.btn.btn-primary.features {
    background-color: #01205E;
    font-size: 15px;
    font-weight: 600;
    display: block;
    width:10%;
    float:right;
    margin-top: 10px;
    border-radius: 30px;
} 
 #mysearch:focus + .input-group-addon {
    z-index: 10;
  }
  
  #search-btn:hover {
    cursor: pointer;
    /*color: gold;*/
    /* background-color: none; */
  }
  #mysearch{
      padding-left: 20px; 
      border-radius: 40px;
      height: 35px;
  }
  #searchbar{
      margin-left: -50px; 
      z-index: 3;
       /* border-radius: 40px; */
        background-color: transparent; 
      border:none;
  }
  #search-btn{
      /* border-radius: 20px; */
      margin-top: 3px;
      background: none;
  }
  span.clear {
      display: block;
      font-size: 13px;
    font-weight: 600;
    color: #ed7d31;
  }
  i.fa.fa-search {
    font-size: 18px;
    color: gray;
}
  table.table.table-hover.sellerinvit tr th {
    font-size: 13px;
    text-align: center;
    border: 1px solid #ccc;
    vertical-align: left;
    
}
td.sellerprof img{
  /* border-radius: 50%; */
  width: 60px;
  
}
table.table.table-hover.sellerinvit td {
    font-size: 12px;
    text-align: center;
   
}