<div class="container-fluid addseller">
    <div class="row">
        <div class="col-sm-2 px-1 bg-white sidebar">
            <div class="py-2 sticky-top flex-grow-1">
                <app-sidebar></app-sidebar>
            </div>
        </div>
  
        <div class="col" id="main">
              <div class="new">
                  <div class="container">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="addseller">
      
                                  <button class="btn btn-primary features" (click)="updatecart(ascartordersummary)">Update Cart</button>
                                  <button type="button" class="btn btn-primary features" (click)="placeorder(ascartordersummary)">Confirm Order</button>
                                  
  
                              </div>
                          </div>
                          </div>
                          <hr class="line"/>
                          <div class="row">
                              <div class="col-md-3">
                                <div class="summary">
                                  <h6 class="selsummary">Seller-{{ascartsummary.seller_nickname}}</h6>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              
                              <div class="col-md-3">
                                  <p class="orderdetails">Total Amount: &#2352; {{ascartsummary.selling_price}}</p>
                                </div>
                                <div class="col-md-3">
                                  <p class="orderdetails">Total Quantity: {{ascartsummary.quantity}}</p>
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4 trucks">
                                  <ng-container *ngIf=" homedelivery=='Yes'">
                                    <input type="checkbox" id="check"  value="" [(ngModel)]="checckedstatus"  (ngModelChange)="clicked($event, deliverystatus)">
                                    <input type="hidden" value="checckedstatus" [(ngModel)]="checckedstatus" id="checckmodel">
                                    <span class="mark" >I will pickup these products</span>
                                    </ng-container>
                                    
                                 <ng-container *ngIf="truck">
                                        <img src='assets/images/truck-orange.png' class="truck">
                                 </ng-container>
                                  <!-- <ng-container *ngIf="deliverystatus==0">
                                      <br>
                                        <input type="checkbox" id="check" ><span class="mark">I will pickup these products</span>
                                      </ng-container> -->
                                      <ng-container *ngIf="homedelivery=='No'">
                                            <span class="mark">I will pickup these products</span>
                                      </ng-container>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="orderdetails">Delivery Address: {{ascartsummary.seller_address}}</p>
                                  </div>
                                  <div class="col-md-6 changeadd">
                                      <p *ngIf="changeadd"><a href="javascript:void(0)" (click)="changeaddress()">Change Delivery Address</a></p>
                                  </div>
                            </div>
                            <div class="row">
                        <div class="col-md-12">
                          <br/>
                          <table class="table table-hover sellerinvit">
                            <thead>
                                <tr>
                                    <th>Product Image</th>
                                    <th>Product Name</th>
                                    <th>Other Product Details</th>
                                    <th>Order Date</th>
                                    <th>Order Qty</th>
                                    <th>Deliver By Date</th>
                                    <th>Action</th>
                                  </tr>
                              </thead>
                              
                              <tbody>
                                  <ng-container *ngIf="ascartordersummary.length!='0'">
                                      <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                  <tr *ngFor = "let user of ascartordersummary ; let i=index">
                                      
                                      <td class="sellerprof">
                                          <img [src]='user.landing_image'>
                                        </td>
                                        <td class="cartproname">{{user.product_name}}</td>
                                        <td class="cartprice">MRP- &#2352; {{user.sales_mrp}}<br/>Selling Price- &#2352; {{user.selling_price}}<br/>Time to Fulfill- {{user.sales_time_to_fulfill}}Days</td>
                                        <!-- <td>{{user.deliver_by_date | date: 'dd-MM-yyyy'}}</td> -->
                                        <td>{{today | date:'dd-MM-yyyy'}}</td>
                                        <td>
                                            <input type="text" [(ngModel)]="user.quantity" >
                                            <input type="hidden" [(ngModel)]="user.quantity" class="quantityval">
                                        </td>
                                        
                                        <td><input type="date" [(ngModel)]="user.deliver_by_date" >
                                            <input type="hidden" class="cartdate" id="inpdisp{{i}}" attr.data-index="{{i}}" [(ngModel)]="user.deliver_by_date" value="user.deliver_by_date"></td>
                                        <td><button class="remove" (click)="deleterow(user)"><i class="fa fa-times-circle-o icon" title="Remove Item"></i></button></td>
                                </tr>
                                </ng-container>
                                <ng-container *ngIf="ascartordersummary.length=='0'">
                                    <tr>
                                        <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                        <td colspan="8">No Data Found</td>
                                      </tr>
                                </ng-container>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                    



                        <!--delivery address popup-->
                       
        <div  id="changeadd"  role="dialog" class="modal fade">
                <div class="modal-dialog">
                
                  <!-- Modal content-->
                  <div class="modal-content addresspop">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" (click)="closemod()">&times;</button>
                    
                    </div>
                    <div class="modal-body addressmod">

                        <div class="address">
                            <div class="buttonspopup">
                            <button class="btn btn-primary default" (click)="setdefault()">Set Default</button>
                            <button class="btn btn-primary delete" (click)="deleteadadress()">Delete</button>
                            </div>
                                <div class="row">
                            <ng-container *ngFor="let address of useraddresses | slice:1; let i = index">
                              
                                    <div class="col-md-6 addbox">
                                <div class="adbox">
                                    <input type="radio" class="addchecck" name='same' value="{{address.id}}" class="addresschecck">
                                    <div class="addressdata">
                                        <p>{{address.Username}}</p>
                                        <p>{{address.address_line_1}}</p>
                                        <p>{{address.city}}{{address.state}}-{{address.pincode}}</p>
                                        <p>Ph No:{{address.mobile}}</p>
                                        </div>
                                </div>
                                    
                                </div>
                            </ng-container>
                        </div>
                          </div>
                        <button class="btn btn-primary" (click)="addnewaddress()">Add New</button>
                          <div class="addressform" *ngIf="addressform">
                        <form #form="ngForm" (ngSubmit)="submit(form.value)">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="">Name</label>
                                        <input type="text" [(ngModel)]='fname' name='fname'>
                                </div>
                                <div class="col-md-6">
                                    <label for="">Address</label>
                                        <input type="text" [(ngModel)]='address' name='address'>
                                </div>
                                <div class="col-md-6">
                                    <label for="">State</label>
                                    <select class="newsel"  (change)="selectstates($event.target.value)" [(ngModel)]='state' name='state'>
                                            <option selected  disabled>Select State</option>
                                             <option  [value]="states.id" *ngFor="let states of getstates">{{states.name}}</option>
                                             </select>
                                </div>
                                <div class="col-md-6">
                                    <label for="">city</label><br>
                                    <select class="newsel"   [(ngModel)]='city' name='city'>
                                            <option [value]="1" selected  disabled>Select City</option>
                                             <option  [value]="city.id" *ngFor="let city of getcity">{{city.name}}</option>
                                             </select>
                                </div>
                                <div class="col-md-6">
                                    <label for="">pincode</label>
                                        <input type="text" [(ngModel)]='pincode' name='pincode'>
                                </div>
                                <div class="col-md-6">
                                    <label for="">mobile</label>
                                        <input type="text" [(ngModel)]='mobile' name='mobile'>
                                </div>
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </div>
                           
                        </form>
                        </div>
                    </div>
                  
                  </div>
                  
                </div>
              </div>
           
                        <!--end deliver address popup-->