div#main {
    padding: 0px;
    margin: 0px;
  }
  button.btn.btn-primary.features {
    background-color: #01205E;
    border-color: transparent;
   
    font-size: 15px;
   
    font-weight: 600;
    display: block;
    width:17%;
    float:right;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
} 
  table.table.table-hover.sellerinvit tr th {
    font-size: 13px;
    text-align: center;
    border: 1px solid #ccc;
    vertical-align: middle;
    
}
td.sellerprof img{
  /* border-radius: 50%; */
  width: 30px;
  
}
table.table.table-hover.sellerinvit td {
    font-size: 12px;
    text-align: left;
   
}
button.btn.btn-primary.view {
    height: 33px;
    font-size: 15px;
}
h6.selsummary {
    font-size: 16px;
    font-weight: 600;
    color: #ec7d30;
}
p.orderdetails {
    font-size: 13px;
    font-weight: 600;
}
span.mark {
    font-size: 14px;
    font-weight: 600;
}
i.fa.fa-times-circle-o.icon {
    font-size: 28px;
    color: gray;
}
button.remove {
    border: none;
    background: none;
}
table.table.table-hover.sellerinvit tr td {
    vertical-align: middle;
}
td.cartproname {
    width: 21%;
}
img.truck {
    width: 25px;
    float: right;
}
.col-md-4.trucks {
    text-align: right;
}
.fade:not(.show){
    opacity: 1;
}
.adbox {
    /* border: 1px solid; */
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    height:206px;
}
.col-md-6.addbox{
    margin-bottom: 20px;
}
.modal-content.addresspop {
    top: 150px;
}
.buttonspopup {
    text-align: right;
    margin-bottom: 10px;
}
button.btn.btn-primary.default {
    margin-right: 10px;
}
.addressmod{
    height:560px;
    overflow-y: scroll;
}