<div class="container-fluid addseller">
    <div class="row">
        <div class="col-sm-2 px-1 bg-white sidebar">
            <div class="py-2 sticky-top flex-grow-1">
                <seller-sidebar></seller-sidebar>
            </div>
        </div>
        <div class="col" id="main">
            

                <div class="new">
            <!--table start-->
            <div class="container">

                <!--filter category -->
                <div class="row">
                    <div class="col-md-8">
               
                      </div>
                      <div class="col-md-4">
                      
                      <div class="managdel" (click)="delete()">Delete</div>
                        </div>
                        </div>
                     
                <!--filter category end-->




                <!--search bar-->
                    <div class="searchbar">
                        <form  [formGroup]="search" (ngSubmit)="searchsub()">
                            <div class="search">
                               <input type="text" formControlName="search" class="searchTerm" placeholder="What are you looking for?">
                               <button type="submit" class="searchButton">
                                 <i class="fa fa-search"></i>
                              </button>
                            <span class="clear" (click)="clearsearchcustomer()" >Clear search</span>
                            </div>
                            </form>
                         </div>
                         <!--search bar end-->

                    <table class="table table-responsive table-striped manage">
                        <thead>
                            <tr>
                                    <th style="text-align: left; ;" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=": activate to sort column ascending"><input type="checkbox" value="1" class="checkeAll" name="select_all" id="checkAll" ></th>
                                <th>Product Image</th>
                                <th>Product Name</th>
                                <th>Customer Name</th>
                                <th>L3 category</th>
                                <th>Mrp</th>
                                <th>Selling price</th>
                                <th>Days to deliver</th>
                                <th>Variant 1</th>
                                <th>variant 2</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            <ng-container>
                                <td colspan="8" *ngIf="loadingnew" style="text-align: center;"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                              <tr *ngFor="let products of loadproducts">
                                  <td style="text-align: left; ;" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=": activate to sort column ascending"><input type="checkbox"  value="{{products.master_product_id}}" attr.data-value="{{products.user_match_id}}" class="sellerinv" name="select_all" id="singlecheck"  ></td>
                                <td class="mangtd"><img [src]="products.landing_image"></td>
                                <td class="mangtd">{{products.product_name}}</td>
                                <td class="mangtd">{{products.customer.fullname}}</td>
                                <td class="mangtd">{{products.level_3_category}}</td>
                                <td class="mangtd">{{products.sales_mrp}}</td>
                                <td class="mangtd">{{products.selling_price}}</td>
                                <td class="mangtd">{{products.sales_time_to_fulfill}}</td>
                                <ng-container  *ngIf="products.variant_type1!=null" >
                                <td class="mangtd">{{products.variant_type1}}({{products.variant1_levels}})</td>
                                </ng-container>
                                <ng-container  *ngIf="products.variant_type1==null">
                                  <td class="mangtd"></td>
                                  </ng-container>
                                  <ng-container  *ngIf="products.variant_type2!=null"> <td class="mangtd">{{products.variant_type2}}({{products.variant2_levels}})</td></ng-container>
                                  <ng-container *ngIf="products.variant_type2==null"><td class="mangtd"></td></ng-container>
                               
                              </tr>
                            </ng-container>
                        <ng-container *ngIf="total==0">
                                <td colspan="8" *ngIf="loadingnew" style="text-align: center;"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                          
                            <td colspan="10">No data found</td>
                            
                        </ng-container>

                        </tbody>
                    
                       
                    </table>
                    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                            <li [ngClass]="{disabled:pager.current_page === 1}">
                                <a (click)="setPage(1)">First</a>
                            </li>
                            <li [ngClass]="{disabled:pager.current_page === 1}">
                                <a (click)="setPage(pager.current_page - 1)">Previous</a>
                            </li>
                            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.current_page === page}">
                                <a (click)="setPage(page)">{{page}}</a>
                            </li>
                            <li [ngClass]="{disabled:pager.current_page === pager.totalPages}">
                                <a (click)="setPage(pager.current_page + 1)">Next</a>
                            </li>
                            <li [ngClass]="{disabled:pager.current_page === pager.totalPages}">
                                <a (click)="setPage(pager.totalPages)">Last</a>
                            </li>
                        </ul>
          
            </div>
            </div>
          </div>
          </div>
          </div>
        

        