table.table.table-responsive.manage th {
    border: 1px solid #ccc;
    vertical-align: middle;
    text-align: center;
}
table.table.table-responsive.manage tr td.mangtd {
    text-align: center;
    vertical-align: middle;
}
td.mangtd img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}