<div class="container-fluid addseller">
    <div class="row">
        <div class="col-sm-2 px-1 bg-white sidebar">
            <div class="py-2 sticky-top flex-grow-1">
                <seller-sidebar></seller-sidebar>
            </div>
        </div>
        <div class="col" id="main">
            <div class="new">
                <div class="container">
                 
                    <div class="row">
                      <div class="col-md-3">
                        <div class="summary">
                          <h6 class="selsummary">Customer-{{assellsummary.buyer_nickname}}</h6>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <p class="orderdetails">Dispatch No: {{assellsummary.dispatch_no}}</p>
                      </div>
                      <div class="col-md-3">
                        <p class="orderdetails">Dispatch Date: {{assellsummary.dispatch_date}}</p>
                      </div>
                      <div class="col-md-3">
                          <p class="orderdetails">Total Amount: &#2352; {{assellsummary.total_amount}}</p>
                        </div>
                        <div class="col-md-3">
                          <p class="orderdetails">Quantity: {{assellsummary.total_qty}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <p class="orderdetails">Delivery Address: {{assellsummary.address_line_1}},{{assellsummary.city}} - {{assellsummary.pincode}}</p>
                          </div>
                          <div class="col-md-5">
                            <button class="btn" (click)="downloadatt()">Download Attachments</button>
                          </div>
                    </div>
  
                 
                    <div class="row">
                          <div class="col-md-12">
                            <br/>
                            <table class="table table-hover sellerinvit">
                              <thead>
                                  <tr>
                                      <th>Product Image</th>
                                      <th>Product Name</th>
                                      <th>Other Product Details</th>
                                      <th>Quantity</th>
                                    
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    <ng-container *ngIf="asselldispatchsummary.length!='0'">
                                        <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                    <tr *ngFor = "let user of asselldispatchsummary">
                                        
                                        <td class="sellerprof">
                                            <img [src]='user.landing_image'>
                                          </td>
                                          <td>{{user.product_name}}</td>
                                          <td>Cost- &#2352; {{user.rate}}</td>
                                          <td>{{user.product_level_quantity}}</td>
                                         
  
                                  </tr>
                                  </ng-container>
                                  <ng-container *ngIf="asselldispatchsummary.length=='0'">
                                      <tr>
                                          <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                          <td colspan="8">No Data Found</td>
                                        </tr>
                                  </ng-container>
                                </tbody>
                              </table>
                            </div>
                          </div>
                </div>
            </div>
        </div>
    </div>
  </div>
                      
  

  <div  id="export"  role="dialog" class="modal fade">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
                  Download Aattachments
            <button type="button" class="close" data-dismiss="modal" (click)="closemod()">&times;</button>
          
          </div>
          <div class="modal-body">
            <ng-container *ngIf="assellattachments.attachment_1_name== null || assellattachments.attachment_2_name!= null || assellattachments.attachment_3_name!= null || assellattachments.attachment_4_name!= null">
              No Documents Attached
            </ng-container>
            <div >
            <ng-container *ngIf="assellattachments.attachment_2_name!= null">
                <a href="{{assellattachments.attachment_2}}">{{assellattachments.attachment_2_name}}</a>
            </ng-container>
           </div>
           <div>
            <ng-container *ngIf="assellattachments.attachment_3_name!= null">
                <a href="{{assellattachments.attachment_3}}">{{assellattachments.attachment_3_name}}</a>
              </ng-container>
             </div>
             <div>
              <ng-container *ngIf="assellattachments.attachment_4_name!= null">
                  <a href="{{assellattachments.attachment_4}}">{{assellattachments.attachment_4_name}}</a>
                </ng-container>
              </div>
              <div>
                <ng-container *ngIf="assellattachments.attachment_1_name!='No file'">
                    <a href="{{assellattachments.attachment_1}}">{{assellattachments.attachment_1_name}}</a>
                    <hr>
                  </ng-container>
                  </div>
          </div>
        
        </div>
        
      </div>
    </div>