<div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 px-1 bg-white sidebar">
                <div class="py-2 sticky-top flex-grow-1">

                       <app-sidebar></app-sidebar>

                                
                </div>
            </div>
            <div class="col" id="main">
                <div class="container first">
                        <h3>Benifits</h3>
                    <!--first row-->
                    <div class="row">
                           
                        <div class="col-md-4">
                            <div class="box">
                                <h6 class="icons">Benifits</h6>
                                <img src="assets/images/P33.png" class="img-responsive">
                            </div>
                        </div>
                    <div class="col-md-4">
                            <div class="box1">
                                <h6 class="icons">One BASIYN <br/>for all <br/>Your Needs</h6>
                                <img src="assets/images/new/2.jpg" class="img1">
                            </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box1">
                            <h6 class="icons">Get Upadtes <br/>About Discounts <br/>& Product Details</h6>
                            <img src="assets/images/new/3.jpg" class="img2">
                         </div>
                    </div>

                    </div>
                </div>

                <div class="container second">
                    <div class="row">
                <div class="col-md-4">
                    <div class="box1">
                        <h6 class="icons">Real Time <br/>Discovery of new <br/>Product Arrivals</h6>
                        <img src="assets/images/new/4.jpg" class="img3">
                     </div>
                </div>
            <div class="col-md-4">
                <div class="box1">
                    <h6 class="icons">Unique <br/>Ordering <br/>Experience</h6>
                    <img src="assets/images/new/5.jpg" class="img4">
                 </div>
            </div>
        <div class="col-md-4">
            <div class="box1">
                <h6 class="icons">More<br/>Convenience <br/>& MOre Reliability</h6>
                <img src="assets/images/new/6.jpg" class="img5">
            </div>
        </div>
                    </div>
                    </div>


<!--second row-->
                <div class="container third">
                    <h3>Features</h3>
    <div class="row">
        <div class="col-md-4">
                <div class="box1">
                    <h6 class="icons">Keep Seller<br/>and products <br/>of your choice</h6>
                    <img src="assets/images/new/7.jpg" class="img6">
                 </div>
        </div>
    <div class="col-md-4">
            <div class="box1">
                <h6 class="icons">Request Seller<br/>to share <br/>Catalog</h6>
                <img src="assets/images/new/8.jpg" class="img7">
            </div>
    </div>
        <div class="col-md-4">
                <div class="box1">
                    <h6 class="icons">Option to place<br/>order with <br/> Self Pickup</h6>
                    <img src="assets/images/new/9.jpg" class="img8">
                </div>
        </div>
    </div>
                </div>
                <div class="container forth">
                    <div class="row">
<div class="col-md-4">
    <div class="box1">
<h6 class="icons">View and Manage<br/>Outstanding <br/>Orders</h6>
<img src="assets/images/new/10.jpg" class="img9">
</div>
</div>
<div class="col-md-4">
    <div class="box1">
<h6 class="icons">Digital Record<br/>of Dispatch <br/>Documents</h6>
<img src="assets/images/new/12.jpg" class="img10">
</div>
</div>
<div class="col-md-4">
    <div class="box">
<h6 class="icons">Features</h6>
<img src="assets/images/new/11.jpg" class="img11">
</div>
</div>
    
                    </div>
            </div>
        </div>
    </div>
    </div>