button.btn.btn-primary.features {
    background-color: #26a040;
    border-color: transparent;
    
    border-radius: 6%;
    margin-left: 35px;
    padding: 10px 30px;
    font-size: 20px;
    text-shadow: none;
    font-weight: 600;
    display: block;
    min-width: 150px;
    text-align: center;
    margin: 0 auto;
    border-radius: 30px;
    margin-top: 16px;
   
}

.box, .box1 {
    text-align: center;
}
h6.icons {
  text-align: center;
    font-size: 13px;
    font-weight: 600;
}
.box1 img {
    width:40%;
}
.box img {
    width: 50%;
}
img.img-responsive.feat {
    width: 80%;
}
.sidebar {
    box-shadow: 10px 10px 10px #d8d6d6;
}

@media only screen and (max-width: 767px) and (min-width:575px) {
    .box, .box1 {
        margin: 0 auto;
        text-align: center;
    }
    .box img {
        width: 50%;
        text-align: center;
    }
    .box1 img {
        width: 40%;
        text-align: center;
    }
    }
    @media only screen and (max-width: 575px) {
        .col-sm-2.px-1.bg-white {
            width: 40%;
        }
        .box, .box1 {
            margin: 0 auto;
            text-align: center;
        }
        .box img {
            width: 50%;
            text-align: center;
        }
        .box1 img {
            width: 40%;
            text-align: center;
        }
        }
        div#main {
            padding: 50px 0px 50px 0px;
            
        }
        .container.first h3, .container.third h3 {
            text-align: center;
            padding-bottom: 40px;
            color: #2f5597;
            font-weight: 700;
            font-size: 35px;
        }

        .container.first, .container.second, .container.third {
            padding-bottom: 40px;
        }
