<div class="dashboard">
    <div class="container-fluid">
            <h2 class="dasshseller">Seller</h2>
        <div class="row">
           
            <div class="col-md-1"></div>
            <div class="col-md-2">
                    <a [routerLink]="['/seller-dashboard']"><div class="card bg-c-yellow update-card">
                            <div class="card-block">
                                <div class="row align-items-end">
                                        <img src="assets/images/p311.png" class="dasah">
                                </div>
                            </div>
                            <div class="card-footer">
                                <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>For You</p>
                            </div>
                        </div></a>
    </div>

    <div class="col-md-2">
            <a [routerLink]="['/seller-dashboard']"> <div class="card bg-c-green update-card">
                    <div class="card-block">
                        <div class="row align-items-end">
                                <img src="assets/images/P322.png" class="dasah">
                        </div>
                    </div>
                    <div class="card-footer">
                        <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>Your Customer</p>
                    </div>
                </div></a>
</div>

<div class="col-md-2">
        <a [routerLink]="['/seller-dashboard']"> <div class="card bg-c-pink update-card">
                <div class="card-block">
                    <div class="row align-items-end">
                            <img src="assets/images/P333.png" class="dasah">
                    </div>
                </div>
                <div class="card-footer">
                    <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>Engage Customer</p>
                </div>
            </div></a>
</div>

<div class="col-md-2">
        <a [routerLink]="['/seller-dashboard']"><div class="card bg-c-lite-green update-card">
                <div class="card-block">
                    <div class="row align-items-end">
                            <img src="assets/images/p344.png" class="dasahnew1">
                    </div>
                </div>
                <div class="card-footer">
                    <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>Receive Orders</p>
                </div>
            </div></a>
</div>

<div class="col-md-2">
        <a [routerLink]="['/seller-dashboard']"><div class="card bg-c-yellow update-card">
                <div class="card-block">
                    <div class="row align-items-end">
                            <img src="assets/images/p355.png" class="dasahnew">
                    </div>
                </div>
                <div class="card-footer">
                    <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>Increase Sales</p>
                </div>
            </div></a>
</div>
<div class="col-md-1"></div>
    </div>


    <h2 class="dasshseller" style="color:#2F5597;">Buyer</h2>
    <div class="row">
       
        <div class="col-md-1"></div>
        <div class="col-md-2">
               <a [routerLink]="['/buyer-dashboard']"> <div class="card bg-c-yellow update-card">
                        <div class="card-block">
                            <div class="row align-items-end">
                                    <img src="assets/images/p311.png" class="dasah">
                            </div>
                        </div>
                        <div class="card-footer">
                            <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>Your Seller</p>
                        </div>
                    </div></a>
</div>

<div class="col-md-2">
        <a [routerLink]="['/buyer-dashboard']"> <div class="card bg-c-green update-card">
                <div class="card-block">
                    <div class="row align-items-end">
                            <img src="assets/images/p422.png" class="dasah">
                    </div>
                </div>
                <div class="card-footer">
                    <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>Instant Updates</p>
                </div>
            </div></a>
</div>

<div class="col-md-2">
        <a [routerLink]="['/buyer-dashboard']"> <div class="card bg-c-pink update-card">
            <div class="card-block">
                <div class="row align-items-end">
                        <img src="assets/images/P433.png" class="dasah">
                </div>
            </div>
            <div class="card-footer">
                <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>Smart Buying</p>
            </div>
        </div></a>
</div>

<div class="col-md-2">
        <a [routerLink]="['/buyer-dashboard']"> <div class="card bg-c-lite-green update-card">
            <div class="card-block">
                <div class="row align-items-end">
                        <img src="assets/images/p444.png" class="dasah">
                </div>
            </div>
            <div class="card-footer">
                <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>Completely Personalized</p>
            </div>
        </div></a>
</div>

<div class="col-md-2">
        <a [routerLink]="['/buyer-dashboard']"> <div class="card bg-c-yellow update-card">
            <div class="card-block">
                <div class="row align-items-end">
                        <img src="assets/images/P455.png" class="dasah">
                </div>
            </div>
            <div class="card-footer">
                <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>One For All</p>
            </div>
        </div></a>
</div>
<div class="col-md-1"></div>
</div>
    </div>
    </div>
    