.update-card {
    color: #fff;
}
.bg-c-yellow {
    background: -webkit-gradient(linear, left top, right top, from(#fe9365), to(#feb798));
    background: linear-gradient(to right, #fe9365, #feb798);
}
.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    border: none;
    margin-bottom: 30px;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card-block {
    padding: 1.25rem;
}
.align-items-end {
    -ms-flex-align: end!important;
    align-items: flex-end!important;
}
.text-white {
    color: #fff!important;
}
.text-right {
    text-align: right!important;
}
img.dasah {
    width: 50%;
    display: block;
    margin: 0 auto;
}
.card-footer{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding: 0.75rem 0.25rem;

}
.dashboard{
    padding-bottom: 150px;
    padding-top:50px;
    background-color: #80808040;
}
.card.bg-c-green.update-card {
    background: -webkit-gradient(linear, left top, right top, from(#0ac282), to(#0df3a3));
    background: linear-gradient(to right, #0ac282, #0df3a3);
}
.card.bg-c-pink.update-card {
    background: -webkit-gradient(linear, left top, right top, from(#fe5d70), to(#fe909d));
    background: linear-gradient(to right, #fe5d70, #fe909d);
}
.card.bg-c-lite-green.update-card{
    background: -webkit-gradient(linear, left top, right top, from(#01a9ac), to(#01dbdf));
    background: linear-gradient(to right, #01a9ac, #01dbdf);
}
img.dasahnew {
    margin: 0 auto;
    display: block;
    width: 84%;
}
img.dasahnew1 {
    width: 58%;
    display: block;
    margin: 0 auto;
}
h2.dasshseller {
    text-align: center;
    padding-bottom: 30px;
    color: #51B052;
    font-weight: 700;
    font-size: 45px;
}
.col-md-2 a:hover {
    text-decoration: none !important;
}