<div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 px-1 bg-white sidebar">
                <div class="py-2 sticky-top flex-grow-1">

                   <seller-sidebar></seller-sidebar>

                  
                                
                </div>
            </div>
            <div class="col" id="main">
                <div class="container first">
                        <h3>Benifits</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="box">
                    <h6 class="icons">Benifits</h6>
                    <img src="assets/images/P33.png" class="img-responsive">
                </div>
                    </div>
                    <div class="col-md-4">
                            <div class="box1">
                    <h6 class="icons">Improve Customer <br/>Engagement and <br/>Increase Sales</h6>
                    <img src="assets/images/P71.png" class="img-responsive basiyn">
                </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box1">
                <h6 class="icons">Reduce Loss due <br/>to over stocking<br/>& out of stock</h6>
                <img src="assets/images/P72.png" class="img-responsive basiyn">
            </div>
                </div>

                </div>
                </div>
                <div class="container second">
                    <div class="row">
                <div class="col-md-4">
                    <div class="box1">
            <h6 class="icons">Save money by reducing <br/>manual effort of<br/>order Aggregation</h6>
            <img src="assets/images/P73.png" class="img-responsive basiyn">
        </div>
            </div>
            <div class="col-md-4">
                <div class="box1">
        <h6 class="icons">Make Your Business <br/>Digital in Minutes <br/>at NO Cost</h6>
        <img src="assets/images/P74.png" class="img-responsive basiyn">
    </div>
        </div>
        <div class="col-md-4">
            <div class="box1">
    <h6 class="icons">Optimally use <br/>Your Sales Team</h6>
    <img src="assets/images/P79.png" class="img-responsive basiyn">
</div>
</div>

</div>
                </div>

                <div class="container third">
                        <h3>Features</h3>
                    <div class="row">
<div class="col-md-4">
    <div class="box1">
<h6 class="icons">Easier <br/>&Cataloging</h6>
<img src="assets/images/P65.png" class="img-responsive basiyn">
</div>
</div>
<div class="col-md-4">
    <div class="box1">
<h6 class="icons">Customized<br/>Catalog <br/>Sharing</h6>
<img src="assets/images/P52.png" class="img-responsive basiyn">
</div>
</div>
<div class="col-md-4">
    <div class="box1">
<h6 class="icons">Smarter Way<br/>of Order<br/>Processing</h6>
<img src="assets/images/P77.png" class="img-responsive basiyn">
</div>
</div>

</div>
                </div>

                <div class="container forth">
                    <div class="row">
                        <div class="col-md-4">
    <div class="box1">
<h6 class="icons">Propose order<br/>to Your <br/>Customers</h6>
<img src="assets/images/P78.png" class="img-responsive basiyn">
</div>
</div>
<div class="col-md-4">
    <div class="box1">
<h6 class="icons">Real Time<br/>Order <br/>Descovery</h6>
<img src="assets/images/P76.png" class="img-responsive basiyn">
</div>
</div>
<div class="col-md-4">
    <div class="box">
<h6 class="icons">Features</h6>
<img src="assets/images/P89.png" class="img-responsive feat">
</div>
</div>
    </div>
            </div>
        </div>
    </div>