<div class="fb-profile">
        <img align="left" class="fb-image-lg" src="assets/download.jpg" alt="Profile image example"/>
        <img align="left" class="fb-image-profile thumbnail" [src]="currentUser.profile_image" alt="Profile image example"/>
        <div class="fb-profile-text">
            <h1>{{currentUser.fullname}}</h1>
            <p>{{currentUser.about_me}}</p>
        </div>
    </div>

<div class="container leftnavnew">
    <div class="col-md-8 profform">
        <div class="profbox">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
        <label>Name</label>
        <input type="text"  formControlName="fullname"  >
      
            </div>
            <div  class="col-md-12">
            <label>Mobile</label>
        <input type="text" formControlName="mobile">
        <button class="btn updatemob" type="button" data-toggle="modal" data-target="#myModal">Do you want to update Mobile Number?</button>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <!-- <h4 class="modal-title">Modal Header</h4> -->
                </div>
                <div class="modal-body">
                    <form [formGroup]="Updatemobile">
                                <div class="form-group">
                    <label class="enter">Enter New Mobile Number</label>
                    <input type="number" id="updatenum" formControlName="updatemobile" [ngClass]="{ 'is-invalid': submitted && k.updatemobile.errors }">
                    <div *ngIf="submitted && k.updatemobile.errors" class="invalid-feedback">
                        <div *ngIf="k.updatemobile.errors.required" class="newwar">Mobile Number is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="enter">Confirm New Mobile Number</label>
                    <input type="number" id="confirmnumber" formControlName="confirmmobile" [ngClass]="{ 'is-invalid': submitted && k.confirmmobile.errors }">
                    <div *ngIf="submitted && k.confirmmobile.errors" class="invalid-feedback">
                        <div *ngIf="k.confirmmobile.errors.required" class="newwar">Mobile Number is required</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="updatenumber" data-dismiss="modal" (click)="onSubmitupdatenumber()">Update</button>
                  </div>
                  </form>
            </div>
               
              </div>
            </div>
          </div>
          <div class="modal fade" id="myModal1" role="dialog">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <!-- <h4 class="modal-title">Modal Header</h4> -->
                </div>
                <div class="modal-body">
                    <label class="enter">Enter OTP</label>
                    <input type="number" id="newnumber">
                    
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" id="enterotp" data-dismiss="modal">Submit</button>
                </div>
              </div>
            </div>
          </div>
            </div>
            <div class="col-md-12">
            <label>Email</label>
        <input type="text" formControlName="email">
      
            </div>
            <div class="col-md-12">
                <label>Password</label>
            <input type="password" formControlName="password" placeholder="******" readonly>
            <button class="btn updatemob" type="button" data-toggle="modal" data-target="#myModal2">Do you want to reset the Password?</button>
            <div class="modal fade" id="myModal2" role="dialog">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <!-- <h4 class="modal-title">Modal Header</h4> -->
                    </div>
                    <div class="modal-body">
                            <form [formGroup]="Resetpass">
                                <div class="form-group">
                                    <label class="enter">New Password</label>
                                    <input type="password" id="newpassword1" placeholder="password" formControlName="resetpassword" [ngClass]="{ 'is-invalid': submitted && g.resetpassword.errors }">
                                        <div *ngIf="submitted && g.resetpassword.errors" class="invalid-feedback">
                                            <div *ngIf="g.resetpassword.errors.required" class="newwar">Mobile Number is required</div>
                                        </div>
                                </div>
                                <div class="form-group">
                                    <label class="enter">Confirm New Password</label>
                                    <input type="password" id="confirmpassword" placeholder="retype password" formControlName="confirmpassword" [ngClass]="{ 'is-invalid': submitted && g.confirmpassword.errors }">
                                        <div *ngIf="submitted && g.confirmpassword.errors" class="invalid-feedback">
                                            <div *ngIf="g.confirmpassword.errors.required" class="newwar">Mobile Number is required</div>
                                        </div>
                                </div>
                                <div class="modal-footer">
                                        <button type="button" class="btn btn-default" id="updatepassword" data-dismiss="modal" (click)="onSubmitresetpass()">Submit</button>
                                      </div>
                            </form>
                    </div>
                    
                  </div>
                </div>
              </div>
                </div>

        </div>
            <div class="row">
                <div class="col-md-12">
            <label>Address</label>
            <input type="text" formControlName="address_line_1" >
          
                </div>
                <div class="col-md-6">
                      <label>Select State</label>
             <select class="newsel" formControlName="id_state"  (change)="handleSelectedValue($event.target.value)">
                    <option [value]="currentUser.id_state" selected  disabled>{{currentUser.state}}</option>
                 <option [value]="user.id" *ngFor="let user of states">{{user.name}}</option>
                 </select>
               
          
                    </div>
                    <div class="col-md-6">
                        <label>Select City</label>
                 <select class="newsel1" formControlName="id_city"  >
                        <option [value]="currentUser.id_city" selected disabled>{{currentUser.city}}</option>
                        <option [value]="user.id" *ngFor="let user of cities" >{{user.name}}</option>
                        </select>

                        </div>
                        <div class="col-md-12">
                                <label>Pincode</label>
                                <input type="text"  formControlName="pincode">
                                
                            </div>
            </div>
            <button  class="btn btn-primary input100">Update</button>
        
        </form>
    </div>
    </div>
</div>