<div class="container-fluid addseller">
  <div class="row">
      <div class="col-sm-2 px-1 bg-white sidebar">
          <div class="py-2 sticky-top flex-grow-1">
              <seller-sidebar></seller-sidebar>
          </div>
      </div>
      <div class="col" id="main">
          <div class="new">
              <div class="container">
               
                  <div class="row">
                    <div class="col-md-3">
                      <div class="summary">
                        <h6 class="selsummary">Customer-{{assellproposedsummary.buyer_nickname}}</h6>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <p class="orderdetails">Proposed Order No: {{assellproposedsummary.PRO_no}}</p>
                    </div>
                    <div class="col-md-3">
                      <p class="orderdetails">Date: {{assellproposedsummary.PRO_date}}</p>
                    </div>
                    <div class="col-md-3">
                        <p class="orderdetails">Total Amount: &#2352; {{assellproposedsummary.Amount}}</p>
                      </div>
                      <div class="col-md-3">
                        <p class="orderdetails">Quantity: {{assellproposedsummary.Quantity}}</p>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                          <p class="orderdetails">Delivery Address: {{assellproposedsummary.address_line_1}},{{assellproposedsummary.city}} - {{assellproposedsummary.pincode}}</p>
                        </div>
                        <div class="col-md-6">
                          <p class="orderdetails">Delivery Type: {{assellproposedsummary.delivery_type}}</p>
                        </div>
                        
                  </div>

               
                  <div class="row">
                        <div class="col-md-12">
                          <br/>
                          <table class="table table-hover sellerinvit">
                            <thead>
                                <tr>
                                    <th>Product Image</th>
                                    <th>Product Name</th>
                                    <th>Other Product Details</th>
                                    <th>Order Qty</th>
                                    
                                  </tr>
                              </thead>
                              
                              <tbody>
                                  <ng-container *ngIf="assellproposed.length!='0'">
                                      <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                  <tr *ngFor = "let user of assellproposed">
                                      
                                      <td class="sellerprof">
                                          <img [src]='user.landing_image'>
                                        </td>
                                        <td>{{user.product_name}}</td>
                                        <td>MRP- &#2352; {{user.sales_MRP}}<br/>Selling Price-&#2352; {{user.selling_price}}</td>
                                        <td>{{user.Quantity}}</td>
                                        
                                       

                                </tr>
                                </ng-container>
                                <ng-container *ngIf="assellproposed.length=='0'">
                                    <tr>
                                        <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                        <td colspan="8">No Data Found</td>
                                      </tr>
                                </ng-container>
                              </tbody>
                            </table>
                          </div>
                        </div>
              </div>
          </div>
      </div>
  </div>
</div>
                    




