<div class="container-fluid addseller">
  <div class="row">
      <div class="col-sm-2 px-1 bg-white sidebar">
          <div class="py-2 sticky-top flex-grow-1">
              <seller-sidebar></seller-sidebar>
          </div>
      </div>

      <div class="col" id="main">
              <div class="new">
                  <div class="container">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="addseller">
    
                                  
                                  <button class="btn btn-primary features" (click)="exportorders()">Export Received Order History</button>
                              </div>
                          </div>
                      </div>
                      <hr class="line"/>
                       <div class="row">
                         
                        <div class="col-md-4">
                            <input class="form-control" type="text"   placeholder="Search by Customer Name" aria-label="Search"  id="mysearch" >
                            <!-- <div class="input-group-addon" id="searchbar"> -->
                                <button class="btn btn-default btn-sm" type="submit"  id="search-btn" (click)="Searchbar()"><i class="fa fa-search"></i></button><span class="clear" (click)="clearsearch()" >Clear search</span>
                               
                            <!-- </div> -->
                        </div>
                    
   
        
        <div class="col-md-8 rightside">
            
            <div class="row">
            <div class="col-md-4">
                    <label class="date">From</label>
                    <input required type="date" id="new1"  class="form-control" >
                  
               </div>
               <div class="col-md-4">
                    <label class="date">To</label>
                    <input required type="date" id="new2"  class="form-control"  >
              
                </div>

               <div class="col-md-2">
                    <label class="apply">Apply Filter</label>
                    <button type="submit" class="btn btn-primary" id="search-btnn" (click)="searchbydates()"><i class="fa fa-search icon"></i></button>
               </div>
               <div class=" col-md-2" id="refresh">
                    <label class="apply">Clear Filter</label>
                    <button type="button" id="refreshBtn" class="btn btn-primary" (click)="cleardates()"><i class="fa fa-refresh icon"></i></button>
               </div>
               </div>
            
        </div>      
                          
                      </div> 
                      <br/>
                      <div class="row">
                              <div class="col-md-12">
                                      <table class="table table-hover sellerinvit">
                                              <thead>
                                                  <tr>
                                                      
                                                      <th>Customer Name</th>
                                                      <th>Order Number</th>
                                                      <th>Order Date</th>
                                                      <th>Order Amount</th>
                                                      <th>Order Qty</th>
                                                      <th>Delivery Address</th>
                                                      <th>Team Member</th>
                                                      <th>Action</th>
                                                     
                  
                                                  </tr>
                                              </thead>
                                              <tbody>
                                                  <ng-container *ngIf="assellreceived.length!='0'">
                                              
                                                      <tr *ngFor="let user of assellreceived ">
                                                              <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                                      <td>{{user.buyer_nickname}}</td>
                                                      <td>{{user.order_no}}</td>
                                                      <td>{{user.order_date}}</td>
                                                      <td>&#2352; {{user.total_amount}}</td>
                                                      <td>{{user.total_qty}}</td>
                                                      <td>{{user.address_line_1}},{{user.city}}-{{user.pincode}}</td>
                                                     <td>{{user.tm_name}}</td>
                                                      <td><button class="btn btn-primary view" (click)="sellerreceivedhistory(user)">View Details&nbsp;<i class="fa fa-arrow-right"></i></button></td>
                                                  </tr>
                                                  </ng-container>
                                                  <ng-container *ngIf="assellreceived.length=='0'">
                                                      <tr>
                                                          <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                                          <td colspan="8">No Data Found</td>
                                                      </tr>
                                                  </ng-container>
                                              </tbody>
                                              </table>
                              </div>
                          </div>
                          </div>
                          </div>
                          </div>
                          </div>
                          
   
                          <div  id="export"  role="dialog" class="modal fade">
                                <div class="modal-dialog">
                                
                                  <!-- Modal content-->
                                  <div class="modal-content">
                                    <div class="modal-header">
                                            Order Date
                                      <button type="button" class="close" data-dismiss="modal" (click)="closemod()">&times;</button>
                                    
                                    </div>
                                    <div class="modal-body">
                                      <form #form="ngForm" (ngSubmit)="datesub(form.value)">
                                            
                                        <label>From</label>
                                        <input id="new3" type="date" [(ngModel)]="from" name="from">
                    
                                        <label>to</label>
                                        <input  id="new4" type="date" [(ngModel)]="to" name="to">
                                        <button class="btn btn-primaty export" type="submit">Export</button>
                                     </form>
                                    </div>
                                  
                                  </div>
                                  
                                </div>
                              </div>
                    