<div class="container-fluid addseller">
  <div class="row">
      <div class="col-sm-2 px-1 bg-white sidebar">
          <div class="py-2 sticky-top flex-grow-1">
              <app-sidebar></app-sidebar>
          </div>
      </div>
      <div class="col" id="main">
          <div class="new">
              <div class="container">
               
                  <div class="row">
                    <div class="col-md-3">
                      <div class="summary">
                        <h6 class="selsummary">Seller-{{assummary.seller_nickname}}</h6>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <p class="orderdetails">Order Number: {{assummary.order_no}}</p>
                    </div>
                    <div class="col-md-3">
                      <p class="orderdetails">Order Date: {{assummary.order_date}}</p>
                    </div>
                    <div class="col-md-3">
                        <p class="orderdetails">Order Amount: &#2352; {{assummary.totalAmt}}</p>
                      </div>
                      <div class="col-md-3">
                        <p class="orderdetails">Order Qty: {{assummary.totalQty}}</p>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <p class="orderdetails">Delivery Address: {{assummary.address_line_1}},{{assummary.city}} - {{assummary.pincode}}</p>
                        </div>
                  </div>

               
                  <div class="row">
                        <div class="col-md-12">
                          <br/>
                          <table class="table table-hover sellerinvit">
                            <thead>
                                <tr>
                                    <th>Product Image</th>
                                    <th>Product Name</th>
                                    <th>Other Product Details</th>
                                    <th>Order Qty</th>
                                    <th>Deliver By Date</th>
                                  </tr>
                              </thead>
                              
                              <tbody>
                                  <ng-container *ngIf="asbuyerordersummary.length!='0'">
                                      <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                  <tr *ngFor = "let user of asbuyerordersummary">
                                      
                                      <td class="sellerprof">
                                          <img [src]='user.landing_image'>
                                        </td>
                                        <td>{{user.product_name}}</td>
                                        <td>MRP- &#2352; {{user.rate}}<br/>Time to Fulfill- {{user.sales_time_to_fulfill}}Days</td>
                                        <td>{{user.product_level_quantity}}</td>
                                        <td>{{user.deliver_by_date}}</td>

                                </tr>
                                </ng-container>
                                <ng-container *ngIf="asbuyerordersummary.length=='0'">
                                    <tr>
                                        <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                        <td colspan="8">No Data Found</td>
                                      </tr>
                                </ng-container>
                              </tbody>
                            </table>
                          </div>
                        </div>
              </div>
          </div>
      </div>
  </div>
</div>
                    
