<p class="basiyn">Basiyn - Privacy Policy</p>
<div class="container">
  <div class="row">
    <div class="col-md-12">
        <div class="privacy-content">
          <br/>
          <span class="first">We value the trust you place in us. That's why we insist upon the highest standards for customer information privacy. Please read the following statement to learn about our information gathering and dissemination practices.<br/><strong>Note:</strong><br/>Our privacy policy is subject to change at any time without notice. To make sure you are aware of any changes, please review this policy periodically. By using BASIYN Platform you agree to be bound by the terms and conditions of this Privacy Policy. If you do not agree please do not use or access our Platform. By mere use of the Platform, you expressly consent to our use and disclosure of your personal information in accordance with this Privacy Policy. This Privacy Policy is incorporated into and subject to the Terms of Use.</span>
          
          <h5 class="heading">1. Collection of Personally Identifiable Information and other Information
            </h5>
            <p class="para">When you use our Platform, we collect and store your personal information which is provided by you from time to time. Our primary goal in doing so is to provide you a safe, efficient, smooth and customized experience. This allows us to provide services and features that most likely meet your needs, and to customize our Platform to make your experience safer and easier. More importantly, while doing so we collect personal information from you that we consider necessary for achieving this purpose.</p>
            <p class="para">Once you give us your personal information, you are not anonymous to us. Where possible, we indicate which fields are required and which fields are optional. We may automatically track certain information about you based upon your behaviour on our Platform. We use this information to do internal research on our users' demographics, interests, and behaviour to better understand, protect and serve our users. This information is compiled and analysed on an aggregated basis.</p>
            <p class="para">If you choose to buy/sell on the Platform, we collect information about your buying / selling behaviour.</p>
            <p class="para">When you transact with us, we collect some additional information, such as a billing address, a credit / debit card number and a credit / debit card expiration date and/ or other payment instrument details.</p>
            <p class="para">If you choose to post messages on our message areas, we will collect that information you provide to us. We retain this information as necessary to resolve disputes, provide customer support and troubleshoot problems as permitted by law.</p>
            <p class="para">If you send us personal correspondence, such as emails or letters, or if other users or third parties send us correspondence about your activities or postings on the Website, we may collect such information into a file specific to you.</p>
            <p class="para">We collect personally identifiable information (email address, name, phone number, credit card / debit card / other payment instrument details, etc.) from you when you set up an account with us. We may use your contact information to send you offers based on your previous orders and your interests.</p>
            <h5 class="heading">2. Use of Demographic / Profile Data / Your Information </h5>
            <p class="para">We use personal information to provide the services you request. We use your personal information to resolve disputes; troubleshoot problems; help promote a safe service; measure consumer interest in our products and services, inform you about offers, products, services, and updates; customize your experience; detect and protect us against error, fraud and other criminal activity; enforce our terms and conditions.</p>
            <p class="para">In our efforts to continually improve our Platform and service offerings, we collect and analyse demographic and profile data about our users' activity on our Platform.</p>
            <h5 class="heading">3. Sharing of personal information </h5>
            <p class="para">We may disclose personal information to third parties. This disclosure may be required for us to provide you access to our Services, to comply with our legal obligations, to prevent, detect, mitigate, and investigate fraudulent or illegal activities related to our Services. We do not disclose your personal information to third parties for their marketing and advertising purposes.</p>
            <p class="para">We may disclose personal information if required to do so by law or in the good faith belief that such disclosure is reasonably necessary to respond to subpoenas, court orders, or other legal process. We may disclose personal information to law enforcement offices, third party rights owners, or others in the good faith belief that such disclosure is reasonably necessary to: enforce our Terms or Privacy Policy; respond to claims that a posting or other content violates the rights of a third party; or protect the rights, property or personal safety of our users or the general public.</p>
            <h5 class="heading">4. Your Consent </h5>
            <p class="para">By using the platform and/ or by providing your information, you consent to the collection and use of the information you disclose on the platform in accordance with this Privacy Policy, including but not limited to Your consent for sharing your information as per this privacy policy.</p>
            <p class="para">If we decide to change our privacy policy, we will post those changes on this page so that you are always aware of what information we collect, how we use it, and under what circumstances we disclose it.</p>
          </div>
    </div>
  </div>
</div>