table.table.table-hover.sellerinvit tr th {
    font-size: 13px;
    text-align: left;
    border: 1px solid #ccc;
    vertical-align: left;
       
}

table.table.table-hover.sellerinvit td {
    font-size: 12px;
    text-align: left;
}