
<div class="container-fluid addseller">
    <div class="row">
        <div class="col-sm-2 px-1 bg-white sidebar">
            <div class="py-2 sticky-top flex-grow-1">
                <seller-sidebar></seller-sidebar>
            </div>
        </div>
        <div class="col" id="main">
          <div class="new">
              <div class="container">
                  <div class="row">
                      <div class="col-md-12">
                          <br/><br/>
                          <table class="table table-hover sellerinvit">
                                  <thead>
                                      <tr>
                                          
                                          <th>Blocked Date</th>
                                          <th>Total Customers</th>
                                          <th>Total Orders</th>
                                          <th>Total Products</th>
                                          <th>Total Quantity</th>
                                          
                                          
                                         
      
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <ng-container *ngIf="asblocked.length!='0'">
                                  
                                          <tr *ngFor="let user of asblocked ">
                                                  <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                          <td>{{user.blocked_date | date: 'dd-MM-yyyy'}}</td>
                                          <td>{{user.total_customers}}</td>
                                          <td>{{user.total_orders}}</td>
                                          <td>{{user.total_products}}</td>
                                          <td>{{user.total_units}}</td>
                                          
                                          
                                      </tr>
                                      </ng-container>
                                      <ng-container *ngIf="asblocked.length=='0'">
                                          <tr>
                                              <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                              <td colspan="8">No Data Found</td>
                                          </tr>
                                      </ng-container>
                                  </tbody>
                                  </table>
                  </div>
                  </div>
                  </div>
                  </div>
                  </div>
                  </div>
                  
  
        