<div class="container-fluid addseller">
    <div class="row">
        <div class="col-sm-2 px-1 bg-white sidebar">
            <div class="py-2 sticky-top flex-grow-1">
                <seller-sidebar></seller-sidebar>
            </div>
        </div>
        <div class="col" id="main">

          <div class="container">
            <div class="row">
              <div class="col-md-8 sellerbox">
                
                  
                <form [formGroup]="updateprice" (ngSubmit)="onSubmit()">
                  <div class="seell1">
                    <div class="row">
                  <div class="col-md-2 sellertxt">Select Seller</div>
                  <div class="col-md-5 sellerboxs">
                    <select  class='form-control' (change)="ChangingValue($event.target.value)" formControlName="match_id" [ngClass]="{ 'is-invalid': submitted && f.match_id.errors }">
                      <option value="" selected disabled>Select Customer</option>
                    <option *ngFor="let customer of customers" [value]='customer.match_id' >{{customer.fullname}}</option>
                  </select>
                  <div *ngIf="submitted && f.match_id.errors" class="invalid-feedback">
                      <div *ngIf="f.match_id.errors.required" class="newwar">Customer is required</div>
                  </div>
                  </div>
                    </div>
                  </div>

                    <div class="sell2">
                    <div class="row">
                    <div class="col-md-2">
                      Select Category
                    </div>
                    <div class="col-md-5">
                        <select  class='form-control'  formControlName="category" [ngClass]="{ 'is-invalid': submitted && f.category.errors }" (click)="seleccat()">
                            <option value="" selected="" hidden="">Select Category</option>
                            <option value="1">Amount Received</option>
                            <option value="2">Amount Paid</option>
                            <option value="3">Old/Existing Dues From Customer</option>
                            <option value="4">Old/Existing  Advance From Customer</option>
                             <option value="5">tax</option>
                            <option value="6">Freight </option>
                            <option value="7">Other Expense </option>
                             <option value="8">Credit Note</option>
                         </select>
                         <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
                            <div *ngIf="f.category.errors.required" class="newwar">category is required</div>
                        </div>
                    </div>
                    </div>
                    </div>

                    <div class="shw" *ngIf="show">
                    <div class="sell3" >
                    <div class="row">
                      <div class="col-md-2">Date</div>
                      <div class="col-md-5">
                        <input type="date" formControlName='mydate' [ngClass]="{ 'is-invalid': submitted && f.mydate.errors }">
                        <div *ngIf="submitted && f.mydate.errors" class="invalid-feedback">
                            <div *ngIf="f.mydate.errors.required" class="newwar">Date is required</div>
                        </div>
                      </div>
                    </div>
                    </div>


                    <div class="sell4">
                    <div class="row">
                      <div class="col-md-2">Amount</div>
                      <div class="col-md-5">
                        <input type="text" formControlName="myamount" [ngClass]="{ 'is-invalid': submitted && f.myamount.errors }">
                        <div *ngIf="submitted && f.myamount.errors" class="invalid-feedback">
                            <div *ngIf="f.myamount.errors.required" class="newwar">Amount is required</div>
                        </div>
                      </div>
                    </div>
                    </div>

                    <div class="sesll5">
                    <div class="row">
                      <div class="col-md-2">Remarks</div>
                      <div class="col-md-5"><textarea type="text" formControlName="remarks" ></textarea>
                        
                      </div>

                    </div>

                    </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                  </form>
                </div>
              </div>
            </div>

          </div>
    </div>
  </div>
          