.invalid-feedback{
    display: block;
}
.col-md-8.sellerbox {
    margin: 0 auto;
    padding: 50px 0px;
}
.seell1, .sell2, .sell3, .sell4, .sesll5 {
    margin: 15px 0px;
}
.sell4 input, .sell3 input {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.sesll5 textarea{
    width: 100%;
    border:1px solid #ccc;
}
