div#main {
    padding: 0px;
    margin: 0px;
}
button.btn.btn-primary.features {
    font-size: 15px;
    display: block;
    width:20%;
    float:right;
    margin-top: 10px;
     border-radius: 30px;
} 
table.table.table-hover.sellerinvit tr th {
    font-size: 13px;
    text-align: center;
    border: 1px solid #ccc;
    vertical-align: left;
       
}
td.sellerprof img {
    width: 50px;
    border-radius:50%;
}
table.table.table-hover.sellerinvit td {
    font-size: 12px;
    text-align: center;
}

.outstanding{
    color:orange;
    font-weight:600;
    font-size: 13px;
}
.title {
    margin-top: 20px;
}
.totalquantity{
    color: #30abbc;
    font-weight:600;
    font-size: 15px;
}
.totalvalue{
    color: #ec7d31;
    font-weight:600;
    text-align: right;
    font-size: 15px;
}
button.btn.btn-primary.view {
    height: 33px;
    font-size: 15px;
}
select#group-by {
    height: 30px;
    font-size: 15px;
    padding: 0px;
}
