
<div class="container-fluid addseller">
  <div class="row">
      <div class="col-sm-2 px-1 bg-white sidebar">
          <div class="py-2 sticky-top flex-grow-1">
              <app-sidebar></app-sidebar>
          </div>
      </div>
      <div class="col" id="main">
          <div class="new">
              <div class="container">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="addseller">

                              
                              <button class="btn btn-primary features" (click)="exportdata()">Export Outstanding Orders</button>
                          </div>
                      </div>
                      </div>
                      <hr class="line"/>
                      <div class="row">
                          <div class="col-md-4">
                              <label class="outstanding">View Outstanding Orders Grouped By:   </label>
                              </div>
                              <div class="col-md-2">
                              <!-- <select id="group-by" class="form-control group-by">
                                  
                                  <option class="list" selected>Sellers</option>
                                  <option class="list" >Product Names</option>
                                  <option class="list">Order No</option>
                                  <option class="list">Order Date</option>
                                  <option class="list">Deliver By Date</option>
                              </select> -->

                              <select id="group" class="form-control group-by" (change)="handleSelectedValue($event.target.value)">
                                <option value="" selected disabled>Sellers</option>
                               <option value="seller" >Sellers</option>
                               <option value="product">Product Names</option>
                               <option value="order_no">Order No</option>
                               <option value="order_date">Order Date</option>
                               <option value="dispatch_by_date">Deliver Date</option>
                           </select>
                          </div>
  
                      </div>
                      <div class="row">
                          
                        <div class="col-md-6">
                          
                          <div class="title">
                            <h6 class="totalquantity">Total Outstanding Order Quantity: {{outstandingorderquantity}}</h6>
                          </div>
                        </div>
                        <div class="col-md-6">
                          
                            <div class="title">
                              <h6 class="totalvalue">Total Outstanding Order Value: &#2352; {{outstandingordervalue}}</h6>
                            </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-12">
                            <div class="title"></div>
                          <table class="table table-hover sellerinvit">
                              <thead>
                                  <tr>
                                      
                                      <th>
                                        <ng-container *ngIf="custname">
                                            Seller Name
                                    </ng-container>
                                            <ng-container *ngIf="selectedvalue =='seller'">
                                                     Seller Name
                                            </ng-container>
                                            <ng-container *ngIf="selectedvalue=='product'">
                                                Product Name
                                            </ng-container>
                                            <ng-container *ngIf="selectedvalue=='order_date'">
                                                Order Date
                                            </ng-container>
                                            <ng-container *ngIf="selectedvalue=='order_no'">
                                               Order No
                                            </ng-container>
                                            <ng-container *ngIf="selectedvalue=='dispatch_by_date'">
                                                    Dispatch By date
                                                </ng-container>
                                      </th>
                                      <th>Outstanding Order Quantity</th>
                                      <th> Outstanding Order Value</th>
                                      <th>Action</th>
                                     

                                  </tr>
                              </thead>
                              <tbody>
                                    
                                  <ng-container *ngIf="asoutstanding.length!='0'">
                                        
                                    <tr *ngFor="let user of asoutstanding ">
                                            <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                            <td>
                                                <ng-container *ngIf="custname">
                                                    {{user.seller_nickname}}
                                            </ng-container>
                                                    <ng-container *ngIf="selectedvalue =='seller'">
                                                            {{user.seller_nickname}}
                                                    </ng-container>
                                                    <ng-container *ngIf="selectedvalue=='product'">
                                                            {{user.product_name}}
                                                    </ng-container>
                                                    <ng-container *ngIf="selectedvalue=='order_no'">
                                                        {{user.order_no}}
                                                </ng-container>

                                                    <ng-container *ngIf="selectedvalue=='order_date'">
                                                            {{user.order_date | date: 'dd-MM-yyyy'}}
                                                    </ng-container>
                                                    <ng-container *ngIf="selectedvalue=='dispatch_by_date'">
                                                            {{user.deliver_by_date | date: 'dd-MM-yyyy'}}
                                                        </ng-container>
                                            </td>
                                            <td>{{user.outstanding_qty}}</td>
                                            <td>&#2352; {{user.outstanding_order_amount}}</td>
                                            <td><button class="btn btn-primary view" (click)="sellerid(user)">View Details&nbsp;<i class="fa fa-arrow-right"></i></button></td>
                                    </tr>
                                </ng-container>
                                <ng-container *ngIf="asoutstanding.length=='0'">
                                    <tr>
                                        <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                        <td colspan="8">No Data Found</td>
                                    </tr>
                                </ng-container>
                              </tbody>
                          </table>
                        </div>
                      </div>
                      </div>
                   
                     