<div class="container-fluid addseller">
    <div class="row">
        <div class="col-sm-2 px-1 bg-white sidebar">
            <div class="py-2 sticky-top flex-grow-1">
                <seller-sidebar></seller-sidebar>
            </div>
        </div>
        <div class="col" id="main">
          <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4 next">
          <button class="btn btn-primary" (click)="updateprice()">next</button>
          </div>
          </div>
<table class="table table-responsive table-striped bsaiyncat">
    <thead>
        <tr>
                <th style="text-align: left;" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=": activate to sort column ascending"><input type="checkbox" value="" class="checkeAll" name="select_all" id="checkAll" ></th>
            <th>Product Image</th>
            <th>Product Name</th>
            <th>Product Category</th>
            <th>MRP</th>
            <th>Brand</th>
            <th>Variant 1</th>
            <th>Variant 2</th>
            <th>Action</th>
            
        </tr>
    </thead>
    
    <tbody>
        <td colspan="8" *ngIf="loadingnew" style="text-align: center;"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
           <tr *ngFor="let catdata of basiyncatdata">
              <td style="text-align: left;" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=": activate to sort column ascending"><input type="checkbox" value="{{catdat}}"  class="sellerinv" name="check" id="singlecheck"  ></td>
             <td class="catimg"><img [src]=catdata.landing_image></td>
             <td>{{catdata.product_name}}</td>
             <td>{{catdata.level_1_category}}</td>
             <td>{{catdata.sales_mrp}}</td>
             <td>{{catdata.brand}}</td>
             <td>{{catdata.variant1_name}}</td>
             <td>{{catdata.variant2_name}}</td>
             <td><button class="btn btn-primary viewdet">View Details/edit</button></td>
           </tr>

    </tbody>

   
</table>

<!--pagination buttons-->
<ul *ngIf="pager.pages && pager.pages.length" class="pagination">
    <li [ngClass]="{disabled:pager.current_page === 1}">
        <a (click)="setPage(1)">First</a>
    </li>
    <li [ngClass]="{disabled:pager.current_page === 1}">
        <a (click)="setPage(pager.current_page - 1)">Previous</a>
    </li>
    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.current_page === page}">
        <a (click)="setPage(page)">{{page}}</a>
    </li>
    <li [ngClass]="{disabled:pager.current_page === pager.totalPages}">
        <a (click)="setPage(pager.current_page + 1)">Next</a>
    </li>
    <li [ngClass]="{disabled:pager.current_page === pager.totalPages}">
        <a (click)="setPage(pager.totalPages)">Last</a>
    </li>
</ul>

</div>
</div>
</div>