td.catimg img {
    width: 48px;
    height: 50px;
    border-radius: 50%;
}
table.table.table-responsive.table-striped.bsaiyncat tr th {
    text-align: center;
    font-size: 13px;
    vertical-align: middle;
}
table.table.table-responsive.table-striped.bsaiyncat tr td {
    text-align: center;
    font-size: 13px;
    vertical-align: middle;
}
.col-md-4.next button.btn.btn-primary {
    float: right;
    margin-bottom: 20px;
    margin-top: 20px;
}