td.mangtd img {
    width: 59px;
    height: 60px;
    border-radius: 50%;
}
.manage tr th{
    text-align:center;
    vertical-align: middle;
}
.manage tr td{
    text-align: center;
    vertical-align: middle;
}
td.mangtd.add {
    white-space: normal;
    word-break: break-all;
}