<div class="container-fluid addseller">
    <div class="row">
        <div class="col-sm-2 px-1 bg-white sidebar">
            <div class="py-2 sticky-top flex-grow-1">
                <seller-sidebar></seller-sidebar>
            </div>
        </div>
        <div class="col" id="main">
            

                <div class="new">
            <!--table start-->
            <div class="container">

                <!--filter category -->
                <div class="row">
                    <div class="col-md-8">
               
                      </div>
                      <div class="col-md-4">
                      
                      <div class="managdel">
                          <button class="btn btn-primary" (click)="assnext()">Next</button></div>
                        </div>
                        </div>
                     
                <!--filter category end-->




                <!--search bar-->
                    <div class="searchbar">
                        <form  [formGroup]="search" (ngSubmit)="searchsub()">
                            <div class="search">
                               <input type="text" formControlName="search" class="searchTerm" placeholder="What are you looking for?">
                               <button type="submit" class="searchButton">
                                 <i class="fa fa-search"></i>
                              </button>
                            <span class="clear" (click)="clearsearchcustomer()" >Clear search</span>
                            </div>
                            </form>
                         </div>
                         <!--search bar end-->

                    <table class="table table-responsive table-striped manage">
                        <thead>
                            <tr>
                                    <th style="text-align: left; ;" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=": activate to sort column ascending"></th>
                                <th>profile Image</th>
                                <th>FullName</th>
                                <th>Mobile number</th>
                                <th>Address</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Pincode</th>
                                
                            </tr>
                        </thead>
                        
                        <tbody>
                            <ng-container>
                                <td colspan="8" *ngIf="loadingnew" style="text-align: center;"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                              <tr *ngFor="let supplier of assignsupp">
                                  <td style="text-align: left; ;" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=": activate to sort column ascending"><input type="checkbox"  value="{{supplier.user.id}}" class="sellerinv" name="select_all" id="singlecheck"  ></td>
                                <td class="mangtd"><img [src]="supplier.user.profile_image"></td>
                                <td class="mangtd">{{supplier.user.fullname}}</td>
                                <td class="mangtd">{{supplier.user.mobile}}</td>
                                <td class="mangtd add">{{supplier.user.address_line_1}}</td>
                                <td class="]mangtd">{{supplier.user.city}}</td>
                                <td class="mangtd">{{supplier.user.state}}</td>
                                <td class="mangtd">{{supplier.user.pincode}}</td>
                                
                              </tr>
                            </ng-container>
                        <ng-container *ngIf="total==0">
                                <td colspan="8" *ngIf="loadingnew" style="text-align: center;"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                          
                            <td colspan="10">No data found</td>
                            
                        </ng-container>

                        </tbody>
                    
                       
                    </table>
                   
          
            </div>
            </div>
          </div>
          </div>
          </div>
        

        