
<div class="container-fluid content">
    <div class="row">
        <div class="col-sm-2 px-1 bg-white sidebar">
            <div class="py-2 sticky-top flex-grow-1">
                <app-sidebar></app-sidebar>
            </div>
        </div>

        <div class="col" id="main">
            <div class="new">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <br/>
                            	<form class="form" [formGroup]="Searchseller" (ngSubmit)="onSubmitsearch()">
                                        <div class="input-group">
                                            <input class="form-control" type="text"  formControlName="product_name" placeholder="Search by Product Name" aria-label="Search"  id="mysearch" [ngClass]="{ 'is-invalid': submitted && f.product_name.errors }">
                                            <div class="input-group-addon" id="searchbar">
                                                <button class="btn btn-default btn-sm" type="submit"  id="search-btn"><i class="fa fa-search"></i></button><span class="clear" (click)="clearsearch()" >Clear search</span>
                                                <div *ngIf="submitted && f.product_name.errors" class="invalid-feedback">
                                                    <div *ngIf="f.product_name.errors.required" class="newwar">Username is required</div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                        </div>
                        
                         
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                          <br/>
                        <table class="table table-hover sellerinvit">
                            <thead>
                                <tr>
                                    
                                    <th>Product Image</th>
                                    <th>Product Name</th>
                                    <th>Other Product Details</th>
                                    <th>Seller Name</th>
                                    <th>Order Number</th>
                                    <th>Order Date</th>
                                    <th>Deliver by Date</th>
                                    <th>Quantity</th>
                                   

                                </tr>
                            </thead>
                              
                            <tbody>
                                <ng-container *ngIf="asbuyeroutstanding.length!='0'">
                                <tr *ngFor = "let user of asbuyeroutstanding">
                                    <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                    <td class="sellerprof">
                                      <img [src]='user.landing_image'>
                                    </td>
                                    <td>{{user.product_name}}</td>
                                    <td>MRP-&#2352; {{user.sales_mrp}}<br/>Cost-&#2352; {{user.product_selling_price}}<br/>Time to Deliver-{{user.sales_time_to_fulfill}} Days</td>
                                    <td>{{user.seller_nickname}}</td>
                                    <td>{{user.order_no}}</td>
                                    <td>{{user.show_order_date}}</td>
                                    <td>{{user.show_deliver_by_date}}</td>
                                    <td>{{user.outstanding_qty}}</td>
                                  </tr>
                                  </ng-container>
                                  <ng-container *ngIf="asbuyeroutstanding.length=='0'">
                                      <tr>
                                          <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                          <td colspan="8">No Data Found</td>
                                        </tr>
                                  </ng-container>
                              </tbody>
                              </table>
                              </div>
                              </div>



                </div>
              </div>
        </div>
  </div>
</div>
                          