<div class="container-fluid addseller">
    <div class="row">
        <div class="col-sm-2 px-1 bg-white sidebar">
            <div class="py-2 sticky-top flex-grow-1">
                <seller-sidebar></seller-sidebar>
            </div>
        </div>
        <div class="col" id="main">
            
              
          <div class="row">
                <div class="col-md-2 mt-5" *ngFor="let buyer of loadcustomers">
                    
                    <div class="card text-center" >
                      <div (click)="charecatalog(buyer)">
                        <div class="proimg">
                      <img class="card-img-top" [src]="buyer.profile_image" alt="Card image cap">
                        </div>
                      <div class="card-body" >
                        <h5 class="card-title">{{buyer.fullname}}</h5>
                        <hr>
                        <p>
                          <b>Address:</b><br>
                         {{buyer.address_line_1}}
                        </p>
                        <div class="collapse" id="collapseExample">
                          <div class="card card-body">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11880.492291371422!2d12.4922309!3d41.8902102!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x28f1c82e908503c4!2sColosseo!5e0!3m2!1sit!2sit!4v1524815927977" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                          </div>
                        </div>
                      </div>
                    </div>
                      <div class="card-footer text-muted">
                        <div class="row">
                          
                          <div class="col">
                            <a href="mailto:test@test.com"><i class="fa fa-envelope"></i></a>
                          </div>
                          <div class="col">
                            <a href="tel:{{buyer.mobile}}"><i class="fa fa-phone"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
          </div>
          </div>
        