button.btn.btn-primary.features {
    background-color: #01205E;
    border-color: transparent;
    border-radius: 6%;
    padding: 7px 10px;
    font-size: 15px;
    text-shadow: none;
    font-weight: 600;
    display: block;
    width:15%;
    float:right;
    margin-right:10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
}
button.btn.btn-primary.view {
    background-color:white;
    border-color:  #01205E;
    color:#01205E;
    border-radius: 6%;
    padding: 7px 10px;
    font-size: 15px;
    text-shadow: none;
    font-weight: 600;
    display: block;
    width:100%;
    float:right;
    
    border-radius: 30px;
}

h6.selsummary {
    font-size: 16px;
    font-weight: 600;
    color: #ec7d30;
}
p.orderdetails {
    font-size: 13px;
    font-weight: 600;
}
table.table.table-hover.sellerinvit tr th {
    font-size: 13px;
    text-align: left;
    border: 1px solid #ccc;
    vertical-align: left;
    
}
td.sellerprof img{
  /* border-radius: 50%; */
  width: 60px;
  
}
table.table.table-hover.sellerinvit td {
    font-size: 12px;
    text-align: left;
   
}