 
<div class="container-fluid addseller">
    <div class="row">
        <div class="col-sm-2 px-1 bg-white sidebar">
            <div class="py-2 sticky-top flex-grow-1">
                <seller-sidebar></seller-sidebar>
            </div>
        </div>

        <div class="col" id="main">
                <div class="new">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="addseller">
      
                                    
                                    <button class="btn btn-primary features" (click)="confdispatch(user)">Confirm Dispatch</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                              <div class="summary">
                                <h6 class="selsummary">Customer-{{asviewrtddetail.buyer_nickname}}</h6>
                              </div>
                            </div>
                            <div class="col-md-3"></div>
                            <div class="col-md-3">
                               
                                <div class="addseller">
      
                                    
                                    <button class="btn btn-primary view">View/Attach Documents</button>
                                </div>
                              </div>
                          </div>
                          <div class="row">
                            <br/>
                            <div class="col-md-3">
                                <p class="orderdetails">Total Amount: &#2352; {{asviewrtddetail.dispatch_in_progress_amount}}</p>
                              </div>
                             
                              <div class="col-md-3">
                                <p class="orderdetails">Total Quantity: {{asviewrtddetail.dispatch_in_progress_qty}}</p>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-7">
                                  <p class="orderdetails">Delivery Address: {{asviewrtddetail.address_line_1}},{{asviewrtddetail.city}} - {{asviewrtddetail.pincode}}</p>
                                </div>
                                
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <br/>
                                <table class="table table-hover sellerinvit">
                                  <thead>
                                      <tr>
                                          <th style="text-align: left; ;" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=": activate to sort column ascending"><input type="checkbox" value="1" class="checkeAll1" name="select_all" id="checkAll" ></th>
                                          <th>Product Image</th>
                                          <th>Product Name</th>
                                          <th>Cost</th>
                                          <th>Outstanding Qty</th>
                                          <th>Dispatch Qty</th>
                                          <th>Order Number</th>
                                          <th>Order Date</th>
                                          <th>Deliver by Date</th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        <ng-container *ngIf="asviewrtdorder.length!='0'">
                                            <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                        <tr *ngFor = "let user of asviewrtdorder; let i=index">
                                            <td style="text-align: left;" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=": activate to sort column ascending">
                                                <input type="checkbox" value="{{user.due_qty}}" class="checkeAll" name="select_all" id="newcheck"    attr.data-dqty="{{user.dispatch_in_progress_qty}}" attr.data-mmid="{{user.match_master_id}}" attr.data-dstatus="{{user.order_summary_id}}" attr.data-ordno="{{user.order_no}}" attr.data-addid="{{asviewrtddetail.address_id}}"  attr.data-totalqty="{{user.due_qty}}"  attr.data-totalamnt="{{asviewrtddetail.dispatch_in_progress_amount}}" attr.data-flag="{{user.buyer_pickup_flag}}" attr.data-check="{{user.dispatch_in_progress_qty}}" ></td>
                                            <td class="sellerprof">
                                                <img [src]='user.landing_image'>
                                              </td>
                                              <td>{{user.product_name}}</td>
                                              <td>Rate- &#2352; {{user.product_selling_price}}</td>
                                              <td>{{user.dispatch_in_progress_qty}}</td>
                                              <td><input type="text" [(ngModel)]="user.due_qty" >
                                                <input type="hidden" id="inpdisp{{i}}" attr.data-index="{{i}}" [(ngModel)]="user.due_qty"  value="user.due_qty">
                                                  </td>
                                              <td>{{user.order_no}}</td>
                                              
                                              <td>{{user.order_date}}</td>
                                              <td>{{user.deliver_by_date | date: 'dd-MM-yyyy'}}</td>
                                             
      
                                      </tr>
                                      </ng-container>
                                      <ng-container *ngIf="asviewrtdorder.length=='0'">
                                          <tr>
                                              <td colspan="8" *ngIf="loadingnew"><div class="lds-facebook" ><div></div><div></div><div></div></div></td>
                                              <td colspan="8">No Data Found</td>
                                            </tr>
                                      </ng-container>
                                    </tbody>
                                  </table>
                                </div>
                              </div>