button.btn.btn-primary.features {
    background-color: #01205E;
    border-color: transparent;
    border-radius: 6%;
    padding: 7px 10px;
    font-size: 15px;
    text-shadow: none;
    font-weight: 600;
    display: block;
    width:10%;
    float:right;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
} 
table.table.table-hover.sellerinvit tr th {
    font-size: 13px;
    text-align: left;
    border: 1px solid #ccc;
    vertical-align: left;
       
}
td.sellerprof img {
    width: 50px;
}
table.table.table-hover.sellerinvit td {
    font-size: 12px;
    text-align: left;
}
td.sellerprof img {
    
    height: 50px;
    border-radius: 50%;
}