<div class="container-fluid addseller">
    <div class="row">
        <div class="col-sm-2 px-1 bg-white sidebar">
            <div class="py-2 sticky-top flex-grow-1">

            </div>
        </div>
        <div class="col" id="main">
            <div class="new">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="addseller">
                                <button class="btn btn-primary features" (click)="markread()">Mark Read</button>
                            </div>
                        </div>
                        <div class="col-md-12">

                            <table class="table table-hover sellerinvit">
                                <thead>
                                    <tr>
                                        <th style="text-align: left; ;" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=": activate to sort column ascending">
                                            <input type="checkbox" value="1" class="checkeAll" name="select_all" id="checkAll">
                                        </th>
                                        <th>Profile </th>
                                        <th>Sender</th>
                                        <th>Title</th>
                                        <th>Message</th>
                                        <th>Date</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of asnotifications " (click)="redirectonclick(user)">

                                        <td style="text-align: left; ;" class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label=": activate to sort column ascending">
                                            <ng-container *ngIf="user.status=='1'">
                                                    <span style="color:green;"><b>✓</b></span>
                                            </ng-container>
                                            <ng-container *ngIf="user.status!='1'">
                                            <input type="checkbox" value="{{user.id}}" class="sellerdelete" name="select_all" id="checkedAll">
                                                </ng-container>
                                        </td>
                                        <td class="sellerprof">
                                            <img [src]='user.profile'>
                                        </td>
                                        <td>{{user.sender_name}}</td>
                                        <td>{{user.title}}</td>
                                        <td>{{user.description_msg}}</td>
                                        <td>{{user.created}}</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>