<div class="container-fluid addseller">
    <div class="row">
        <div class="col-sm-2 px-1 bg-white sidebar">
            <div class="py-2 sticky-top flex-grow-1">
                <app-seller-settings></app-seller-settings>
            </div>
        </div>
  
        <div class="col" id="main">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                    <br/>
                    <br/>
                    <a [routerLink]="['/buy-variant-setting']" >Variants Settings</a><span class="add">::View Variant</span>
                  </div>
                  </div>
                  </div>
                  </div>
                  </div>
                  </div>
                  
