#input100, #input1001, #input1002, #input1003, #input1004 {
  
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
    border: 1px solid #01205e75;

}
.wrap-input100, .wrap-input1001, .wrap-input1002, .wrap-input1003, .wrap-input1004 {

    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;

}
.focus-input100, .focus-input1001, .focus-input1002, .focus-input1003, .focus-input1004 {

    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: #fff;

}
.symbol-input100, .symbol-input1001, .symbol-input1002, .symbol-input1003, .symbol-input1004 {

    font-size: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 35px;
    pointer-events: none;
    color: #666666;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

}
.btn.btn-primary.input100:hover {
    background: #333333;
  }
.btn.btn-primary.input100 {

    font-family: Poppins-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #57b846;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

}
/* .inputlogin {

    font-family: romand;
    font-size: 30px;
    color: #01205e;
    font-weight:800;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 15px;

} */
.inputlogin{
  font-family: Poppins-Medium;
    font-size: 30px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    display: block;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }


#input100:focus + .focus-input100, #input1001:focus + .focus-input1001, #input1002:focus + .focus-input102, #input1003:focus + .focus-input103, #input1004:focus + .focus-input104 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
  }
  
  @-webkit-keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 70px 25px;
      opacity: 0;
    }
  }
  
  @keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 70px 25px;
      opacity: 0;
    }
  }
  .invalid-feedback{display:block !important;}


i.fa.fa-mobile-phone {
    font-size: 20px;
}
.invalid-feedback{display:block !important;}
  
  
    .container-fluid.reg {
      padding-top: 50px;
      padding-bottom: 190px;
  }
  .col-md-6.seller {
      padding-top: 50px;
  }
  .col-md-6.login {
      padding-top: 40px;
  }
  .newwar {
    padding-left: 20px;
    color: black;
    font-size: 13px;
    font-weight: 600;
  }
  
  
  
  img.face:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
 
  img.loginlogo {
    font-size: 60px;
    color: #333333;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  .loginbackground {
    background: url('/assets/bg-00.png');
    height: 100%;
    min-height: 100% !important;
    background-size: contain;
  }
  .loginpage {
    padding-top: 40px;
}
.new {
  border-right: solid;
  border-color: orange;
}
.col-md-8.contant h1 {
  color: #ED7D31;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}
.firstcolumns {
  padding-top: 40px;
}
.basinlogo {
  padding-bottom: 20px;
}
a.knowmore {
  color: white;
}
.new h3 {
  color: #26A040;
  text-align: center;
}
.new p, .new1 p {
  text-align: center;
  font-size: 20px;
}
.new span, .new1 span {
  font-weight: bold;
}
.new1 h3 {
  text-align: center;
  color: #01205E;
}
.new button, .new1 button{
  display: block;
  margin: 0 auto;;
}


.demo-container {
  position: relative;
  width: 100%;
  max-width: 960px;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  transition: background-color .5s;
  background-color: transparent;
  z-index: 999;
}
.nsm-dialog {
  position: relative;
  opacity: 1;
  visibility: visible;
  min-height: 200px;
  width: 100%;
  max-width: 520px;
  margin: 0 auto;
  pointer-events: none;
}
.nsm-content {
  position: relative;
  display: flex;
  /* flex-direction: column; */
  pointer-events: auto;
  background-clip: padding-box;
  background-color: #fff;
  /* border-radius: 2px; */
  padding: 1rem;
  /* margin: 1.75rem; */
  box-shadow: 0 7px 8px -4px rgba(0,0,0,.2), 0 13px 19px 2px rgba(0,0,0,.14), 0 5px 24px 4px rgba(0,0,0,.12);
  outline: 0;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.fade:not(.show) {
  opacity: 1 !important;
}
.modal-dialog {
  top: 120px !important;
}
.wrap-input1003.validate-input label, .wrap-input1004.validate-input label {
  padding: 0 20px;
}
@media only screen and (max-width: 767px) {
.col-md-4.reg {
  padding-top: 60px;
}
}